Repository xgeekshq/split, pull requests merged in 2022-12, with the labels that each got.

#648 fix: issues
  frontend/src/components/CreateBoard/TipBar.tsx
  frontend/src/components/Sidebar/partials/Content/index.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/hooks/useTeamUtils.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/styles/pages/boards/new.styles.tsx
Labels: bug

#654 feat: super admin allowed to change teams
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/Team/CardEnd/index.tsx
Labels: frontend

#649 feat: user card on the list
  backend/src/modules/teams/services/get.team.service.ts
  frontend/src/api/userService.tsx
  frontend/src/components/Users/UsersList/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardBody.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardEnd.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardTitle.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/DeleteUser.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/EditUser.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/SuperAdmin.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/pages/users/index.tsx
  frontend/src/store/user/atoms/user.atom.tsx
  frontend/src/types/user/user.ts
Labels: enhancement, frontend

#655 feat: user repository
  backend/jest.config.json
  backend/package-lock.json
  backend/package.json
  backend/src/infrastructure/database/mongoose.module.ts
  backend/src/libs/repositories/interfaces/base.repository.interface.ts
  backend/src/libs/repositories/mongo/mongo-generic.repository.ts
  backend/src/libs/repositories/types/index.ts
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/auth/interfaces/applications/register.auth.application.interface.ts
  backend/src/modules/auth/interfaces/services/register.auth.service.interface.ts
  backend/src/modules/auth/interfaces/services/validate-user.auth.service.interface.ts
  backend/src/modules/auth/services/get-token.auth.service.spec.ts
  backend/src/modules/auth/services/validate-user.auth.service.spec.ts
  backend/src/modules/auth/shared/login.auth.ts
  backend/src/modules/auth/strategy/local.strategy.ts
  backend/src/modules/boards/schemas/board.schema.ts
  backend/src/modules/boards/schemas/board.user.schema.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/cards/schemas/card.item.schema.ts
  backend/src/modules/cards/schemas/card.schema.ts
  backend/src/modules/cards/services/delete.card.service.ts
  backend/src/modules/comments/schemas/comment.schema.ts
  backend/src/modules/teams/schemas/team.user.schema.ts
  backend/src/modules/teams/services/get.team.service.ts
  backend/src/modules/users/dto/logged.user.dto.ts
  backend/src/modules/users/entities/user.schema.ts
  backend/src/modules/users/interfaces/applications/get.user.application.interface.ts
  backend/src/modules/users/interfaces/applications/update.user.service.interface.ts
  backend/src/modules/users/interfaces/services/create.user.service.interface.ts
  backend/src/modules/users/interfaces/services/get.user.service.interface.ts
  backend/src/modules/users/interfaces/services/update.user.service.interface.ts
  backend/src/modules/users/interfaces/type-user-with-teams.ts
  backend/src/modules/users/interfaces/types.ts
  backend/src/modules/users/repository/user.repository.interface.ts
  backend/src/modules/users/repository/user.repository.ts
  backend/src/modules/users/services/create.user.service.ts
  backend/src/modules/users/services/get.user.service.ts
  backend/src/modules/users/services/update.user.service.ts
  backend/src/modules/users/users.module.ts
  backend/src/modules/users/users.providers.ts
  frontend/.eslintrc.json
  frontend/src/pages/api/auth/[...nextauth].tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/types/card/card.ts
  frontend/src/types/user/create-login.user.ts
  frontend/src/types/user/user.ts
Labels: enhancement, backend

#653 fix: delete team removes associated boards
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/interfaces/services/delete.board.service.interface.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/teams/interfaces/services/delete.team.service.interface.ts
  backend/src/modules/teams/services/delete.team.service.ts
  backend/src/modules/teams/teams.module.ts
Labels: bug, backend

#659 fix: large cards
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Comment/Comment.tsx
Labels: bug

#662 feat: automatically update isnewjoiner status
  backend/package-lock.json
  backend/package.json
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/auth/services/validate-user.auth.service.spec.ts
  backend/src/modules/auth/shared/login.auth.ts
  backend/src/modules/azure/services/auth.azure.service.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/dto/board.user.dto.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/teams/controller/team.controller.ts
  backend/src/modules/teams/entities/team.user.schema.ts
  backend/src/modules/users/dto/create.user.azure.dto.ts
  backend/src/modules/users/dto/create.user.dto.ts
  backend/src/modules/users/dto/user.dto.ts
  backend/src/modules/users/entities/user.schema.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CreateBoard/SubTeamsTab/SubCardBoard.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/TipBar/index.tsx
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/pages/api/auth/[...nextauth].tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/types/board/board.user.ts
  frontend/src/types/next-auth.d.ts
  frontend/src/types/team/team.user.ts
  frontend/src/types/team/userList.ts
  frontend/src/types/user/create-login.user.ts
  frontend/src/types/user/user.ts
  frontend/src/utils/verifyIfIsNewJoiner.ts
Labels: enhancement, frontend, backend

#658 feat: user card actions
  backend/src/libs/guards/superAdmin.guard.ts
  backend/src/libs/repositories/interfaces/base.repository.interface.ts
  backend/src/libs/repositories/mongo/mongo-generic.repository.ts
  backend/src/modules/users/applications/update.user.application.ts
  backend/src/modules/users/controller/users.controller.ts
  backend/src/modules/users/dto/update.user.dto.ts
  backend/src/modules/users/interfaces/applications/update.user.service.interface.ts
  backend/src/modules/users/interfaces/services/update.user.service.interface.ts
  backend/src/modules/users/repository/user.repository.interface.ts
  backend/src/modules/users/repository/user.repository.ts
  backend/src/modules/users/services/update.user.service.ts
  backend/src/modules/users/swagger/update.superadmin.swagger.ts
  frontend/src/__tests__/index.test.tsx
  frontend/src/api/userService.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/SwitchThumbComponent.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/index.tsx
  frontend/src/components/Primitives/Switch.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardBody.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardEnd.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/EditUser.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/SuperAdmin.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/hooks/useUser.tsx
  frontend/src/hooks/useUserUtils.tsx
  frontend/src/pages/users/[userId].tsx
  frontend/src/pages/users/index.tsx
  frontend/src/store/user/atoms/user.atom.tsx
  frontend/src/types/user/user.ts
Labels: enhancement, frontend, backend

#667 feat: change team on create board
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CreateBoard/SettingsTabs.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/SelectTeam/index.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/SelectTeam/styles.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/src/components/CreateBoard/fake/FakeSettingsTabs/partials/MainBoardCard/index.tsx
  frontend/src/components/CreateBoard/fake/FakeSettingsTabs/partials/TeamTab/index.tsx
  frontend/src/components/CreateBoard/fake/FakeSettingsTabs/partials/TeamTab/styles.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/components/Primitives/Select.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/schema/schemaCreateBoardForm.ts
  frontend/src/store/createBoard/atoms/create-board.atom.tsx
  frontend/src/store/team/atom/team.atom.tsx
  frontend/src/utils/constants.ts
Labels: enhancement, frontend

#684 refactor: handle disable vote buttons
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useVotes.tsx
Labels: enhancement, frontend

#681 feat: select retro type
  frontend/src/components/CreateBoard/SelectBoardType/BoxColumnContainer/index.tsx
  frontend/src/components/CreateBoard/SelectBoardType/BoxColumnContainer/styles.tsx
  frontend/src/components/CreateBoard/SelectBoardType/BoxRowContainer/index.tsx
  frontend/src/components/CreateBoard/SelectBoardType/BoxRowContainer/styles.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/components/icons/Sprite.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/styles/pages/boards/new.styles.tsx
  frontend/src/styles/pages/boards/newRegularBoard.styles.tsx
  frontend/src/styles/pages/boards/newSplitBoard.styles.tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: enhancement, frontend

#682 feat: users lazy loading backend
  backend/src/modules/teams/interfaces/services/get.team.service.interface.ts
  backend/src/modules/teams/repositories/team-user.repository.interface.ts
  backend/src/modules/teams/repositories/team-user.repository.ts
  backend/src/modules/teams/services/get.team.service.ts
  backend/src/modules/users/applications/get.user.application.ts
  backend/src/modules/users/controller/users.controller.ts
  backend/src/modules/users/interfaces/applications/get.user.application.interface.ts
  backend/src/modules/users/interfaces/services/get.user.service.interface.ts
  backend/src/modules/users/repository/user.repository.interface.ts
  backend/src/modules/users/repository/user.repository.ts
  backend/src/modules/users/services/get.user.service.ts
Labels: enhancement, backend

#683 feat: users lazy loading scroll
  frontend/src/api/userService.tsx
  frontend/src/components/Users/UsersList/index.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/hooks/useUser.tsx
  frontend/src/pages/users/index.tsx
Labels: enhancement, frontend

#668 feat: update team members
  backend/src/libs/repositories/interfaces/base.repository.interface.ts
  frontend/src/api/teamService.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/index.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/SuperAdmin.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/hooks/useTeamUtils.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/types/team/team.user.ts
  frontend/src/types/team/useTeam.ts
Labels: enhancement, frontend

#696 fix: large cards
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Comment/Comment.tsx
Labels: bug

#685 feat: configure regular board
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CreateBoard/RegularBoard/SettingsParticipant/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsParticipant/styles.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/styles.tsx
  frontend/src/components/CreateBoard/SelectBoardType/BoxRowContainer/index.tsx
  frontend/src/components/CreateBoard/SelectBoardType/BoxRowContainer/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/CardAvatars/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/MainBoardCard/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/MainBoardCard/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/TeamTab/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/TeamTab/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/SettingsTabs.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/QuickEditSubTeams.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SubCardBoard.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/src/components/CreateBoard/TipBar.tsx
  frontend/src/components/Primitives/RadioGroup.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/styles/pages/boards/new.styles.tsx
  frontend/src/styles/pages/boards/newRegularBoard.styles.tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: enhancement, frontend

#698 fix: optimistic update on anonymous comments
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/auth/FieldSet/HoverCardFieldSet.tsx
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/store/card/atoms/card.atom.ts
Labels: frontend

#700 fix: unmerge cards positions
  frontend/src/components/Board/Card/PopoverSettings.tsx
  frontend/src/helper/board/transformBoard.tsx
Labels: bug

#701 refactor: removed local dockerfiles and changed docker compose
  .github/workflows/deploy_backend_frontend.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/docker/local/Dockerfile
  backend/docker/prod/Dockerfile
  docker-compose.local.yaml
  docker-compose.yaml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/docker/local/Dockerfile
  yarn.lock
Labels: docker, changes

#673 feat: select all team members button
  backend/src/modules/users/repository/user.repository.ts
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/pages/teams/[teamId].tsx
Labels: bug, enhancement, frontend

#704 fix: scroll in a board and drag and drop cards when the columns are sorted
  backend/src/modules/queue/queue.module.ts
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/styles.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/store/board/atoms/board.atom.tsx
  frontend/src/store/board/atoms/filterColumns.tsx
  frontend/src/store/board/selectors/get-board.selector.tsx
  frontend/src/styles/globals.tsx
  frontend/src/styles/pages/boards/board.styles.tsx
  frontend/src/types/card/updateCardPosition.dto.ts
Labels: bug, frontend

#705 feat: backend done for search user
  backend/src/libs/dto/param/pagination.params.ts
  backend/src/modules/users/applications/get.user.application.ts
  backend/src/modules/users/controller/users.controller.ts
  backend/src/modules/users/interfaces/applications/get.user.application.interface.ts
  backend/src/modules/users/interfaces/services/get.user.service.interface.ts
  backend/src/modules/users/repository/user.repository.interface.ts
  backend/src/modules/users/repository/user.repository.ts
  backend/src/modules/users/services/get.user.service.ts
Labels: enhancement, backend

#707 feat: frontend done for search user
  frontend/src/api/userService.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/EditUser.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
Labels: enhancement, frontend

#709 fix: merge card position
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/types/board/mergeCard.dto.ts
Labels: bug, frontend

#713 refactor: board settings, update packages
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Board/Card/PopoverSettings.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/Dashboard/RecentRetros/index.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/ListOfCards/index.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/components/Primitives/Select.tsx
  frontend/src/components/Primitives/Tooltip/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/pages/boards/index.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/dashboard/index.tsx
Labels: frontend

#730 fix: fix split of teams by sub-board
  backend/src/modules/boards/services/create.board.service.ts
  frontend/src/hooks/useCreateBoard.tsx
Labels: bug, frontend, backend

#728 feat: get teams of user backend refactored
  backend/src/libs/dto/param/user.teams.param.ts
  backend/src/modules/teams/controller/team.controller.ts
Labels: backend

#729 feat: displaying all teams of user. Delete team of user too
  frontend/src/api/teamService.tsx
  frontend/src/components/Teams/CreateTeam/CardEnd/RoleDescription.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/components/Users/UserEdit/index.tsx
  frontend/src/components/Users/UserEdit/partials/ListOfCards/index.tsx
  frontend/src/components/Users/UserEdit/partials/UserHeader/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardBody.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/EditUser.tsx
  frontend/src/pages/users/[userId].tsx
Labels: frontend

#727 fix: bugs
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Primitives/Toast.tsx
  frontend/src/components/Sidebar/partials/Header/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/Team/CardEnd/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/schema/schemaRegisterForm.ts
Labels: bug

#744 feat: edit role of user of corresponding team when editing user
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/DeleteTeam.tsx
  frontend/src/hooks/useTeam.tsx
Labels: enhancement, frontend

#751 feat: layout complete
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/SearchInput.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/index.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/styles.tsx
  frontend/src/components/Users/UserEdit/partials/UserHeader/index.tsx
Labels: enhancement, frontend, UI / UX

#746 fix: new board shows team selected on 1st render
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/index.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug

#754 feat: get teams the user is not part of
  backend/src/modules/teams/applications/get.team.application.ts
  backend/src/modules/teams/controller/team.controller.ts
  backend/src/modules/teams/interfaces/applications/get.team.application.interface.ts
  backend/src/modules/teams/interfaces/services/get.team.service.interface.ts
  backend/src/modules/teams/services/get.team.service.ts
Labels: backend

#753 feat: superadmin gets all the teams
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/pages/teams/index.tsx
Labels: bug, enhancement, frontend

#755 fix(signUp): rerenders on register form
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
Labels: bug, frontend

#758 feat: add teams to user (create teamuser db documents)
  backend/src/modules/teams/applications/update.team.application.ts
  backend/src/modules/teams/controller/team.controller.ts
  backend/src/modules/teams/interfaces/applications/update.team.application.interface.ts
  backend/src/modules/teams/interfaces/services/update.team.service.interface.ts
Labels: backend

#759 feat: fetch teams, add teams to user, filter by search
  frontend/src/api/teamService.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardBody.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/EditUser.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/types/team/team.ts
  frontend/src/types/team/useTeam.ts
  frontend/src/utils/routes.ts
Labels: frontend

#761 fix: user edit role working
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/components/Users/UserEdit/partials/ListOfCards/index.tsx
Labels: bug

#760 feat: filter boards by team endpoint
  backend/src/libs/dto/param/pagination.params.ts
  backend/src/modules/boards/applications/get.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/interfaces/applications/get.board.application.interface.ts
  backend/src/modules/boards/interfaces/findQuery.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/get.board.service.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
Labels: enhancement, backend

#767 fix: debounce increased from 100ms to 300ms
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
Labels: frontend, suggestion, changes
