Repository xgeekshq/split, pull requests merged in 2022-05, with the labels that each got.

#140 feat: generate main and sub boards
  frontend/api/boardService.tsx
  frontend/api/teamService.tsx
  frontend/components/CardBoard/CardAvatars.tsx
  frontend/components/CreateBoard/BoardName.tsx
  frontend/components/CreateBoard/Content.tsx
  frontend/components/CreateBoard/CreateBoard.tsx
  frontend/components/CreateBoard/SettingsTabs.tsx
  frontend/components/CreateBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/components/CreateBoard/SubTeamsTab/QuickEditSubTeams.tsx
  frontend/components/CreateBoard/SubTeamsTab/SubCardBoard.tsx
  frontend/components/CreateBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/components/Primitives/Flex.tsx
  frontend/components/icons/Edit.tsx
  frontend/components/icons/MinusCircle.tsx
  frontend/components/icons/PlusCircle.tsx
  frontend/components/icons/Wand.tsx
  frontend/hooks/useCreateBoard.tsx
  frontend/stitches.config.ts
  frontend/types/user/user.ts
Labels: frontend

#142 feat: create board and configurations
  frontend/api/boardService.tsx
  frontend/components/CreateBoard/Configurations/BoardConfigurations.tsx
  frontend/components/CreateBoard/Content.tsx
  frontend/components/CreateBoard/SettingsTabs.tsx
  frontend/components/CreateBoard/SubTeamsTab/SubCardBoard.tsx
  frontend/components/Primitives/Switch.tsx
  frontend/components/icons/Check.tsx
  frontend/types/board/useBoard.ts
Labels: frontend

#143 refactor: create board users from team, create team user, get teams methods
  backend/src/libs/enum/board.roles.ts
  backend/src/libs/utils/ignored_users.json
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/dto/board.dto.ts
  backend/src/modules/boards/dto/board.user.dto.ts
  backend/src/modules/boards/interfaces/applications/get.board.application.interface.ts
  backend/src/modules/boards/interfaces/findQuery.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/schemas/board.schema.ts
  backend/src/modules/boards/schemas/board.user.schema.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/teams/applications/create.team.application.ts
  backend/src/modules/teams/applications/get.team.application.ts
  backend/src/modules/teams/controller/team.controller.ts
  backend/src/modules/teams/interfaces/applications/create.team.application.interface.ts
  backend/src/modules/teams/interfaces/applications/get.team.application.interface.ts
  backend/src/modules/teams/interfaces/services/create.team.service.interface.ts
  backend/src/modules/teams/interfaces/services/get.team.service.interface.ts
  backend/src/modules/teams/providers.ts
  backend/src/modules/teams/services/create.team.service.ts
  backend/src/modules/teams/services/get.team.service.ts
  backend/tsconfig.json
Labels: backend

#149 Feat: Change favicon
  frontend/pages/_document.tsx
  frontend/public/favicon.ico
  frontend/public/favicon.svg
Labels: frontend

#155 [FIX] Fix paths on `docker-compose`file
  docker-compose.yaml
Labels: infra

#146 feat: boards page and add cards
  backend/src/modules/boards/interfaces/applications/get.board.application.interface.ts
  backend/src/modules/boards/interfaces/getBoard.interface.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/create.board.service.ts
  frontend/api/boardService.tsx
  frontend/components/Board/AddCardOrComments.tsx
  frontend/components/Board/Card/AddCard.tsx
  frontend/components/Board/Column/Column.tsx
  frontend/components/Primitives/TextArea.tsx
  frontend/hooks/useCards.tsx
  frontend/pages/boards/[boardId].tsx
  frontend/store/mergeCard/atoms/merge-card.atom.tsx
  frontend/types/board/useBoard.ts
  frontend/types/card/deleteCard.dto.ts
  frontend/types/column.ts
Labels: frontend

#163 [Feature] Board Header
  frontend/components/Board/Card/PopoverSettings.tsx
  frontend/components/Board/Column/Column.tsx
  frontend/components/Board/Header/index.tsx
  frontend/components/Board/Header/styles.tsx
  frontend/components/CardBoard/CardAvatars.tsx
  frontend/components/breadcrumb/Breadcrumb/index.tsx
  frontend/components/breadcrumb/Breadcrumb/styles.tsx
  frontend/components/breadcrumb/BreadcrumbItem/index.tsx
  frontend/components/breadcrumb/BreadcrumbItem/styles.tsx
  frontend/components/icons/ChevronRight.tsx
  frontend/components/icons/Info.tsx
  frontend/components/icons/Merge.tsx
  frontend/pages/boards/[boardId].tsx
  frontend/store/board/atoms/board.atom.tsx
  frontend/types/board/Breadcrumb.d.ts
  frontend/types/board/board.ts
  frontend/types/board/board.user.ts
Labels: frontend

#166 [FIX] PR Errors
  backend/package.json
  frontend/.eslintrc.json
  frontend/components/Board/Header/index.tsx
  frontend/components/CardBoard/CardAvatars.tsx
  frontend/components/breadcrumb/Breadcrumb/index.tsx
  frontend/components/icons/ChevronRight.tsx
  frontend/components/icons/Info.tsx
  frontend/docker/dev/Dockerfile
  frontend/pages/boards/[boardId].tsx
  frontend/store/board/atoms/board.atom.tsx
  frontend/types/board/board.user.ts
Labels: frontend

#170 [FIX]: Change Background Color
  frontend/stitches.config.ts
Labels: frontend

#169 [FIX]: Dashboard Tiles Size
  backend/package.json
  frontend/components/Dashboard/Tiles.tsx
  frontend/components/Dashboard/Tiles/index.tsx
  frontend/components/Dashboard/Tiles/styles.tsx
  frontend/components/Layout/DashboardLayout.tsx
  frontend/components/icons/Sprite.tsx
Labels: frontend

#172 [FIX]: "OR" Separator on Login
  frontend/components/CardBoard/CardAvatars.tsx
  frontend/components/Primitives/Avatar.tsx
  frontend/components/auth/LoginForm/index.tsx
  frontend/components/auth/LoginForm/styles.tsx
  frontend/components/icons/Sprite.tsx
  frontend/pages/index.tsx
Labels: frontend

#167 [Feature] Manual Sign up
  backend/src/modules/auth/controller/auth.controller.ts
  backend/src/modules/users/dto/create.user.dto.ts
  frontend/.vscode/settings.json
  frontend/api/authService.tsx
  frontend/components/Primitives/Checkbox.tsx
  frontend/components/Primitives/Input.tsx
  frontend/components/Primitives/Text.tsx
  frontend/components/auth/LoginForm/index.tsx
  frontend/components/auth/SignUp/RegisterForm.tsx
  frontend/components/auth/SignUp/SignUpForm.tsx
  frontend/components/auth/SignUp/SignUpOptionsForm.tsx
  frontend/components/auth/SignUp/SignUpTabContent.tsx
  frontend/components/icons/Google.tsx
  frontend/components/icons/Logo.tsx
  frontend/components/icons/Sprite.tsx
  frontend/hooks/useUser.tsx
  frontend/pages/index.tsx
  frontend/public/icons/userIcon.svg
  frontend/schema/schemaRegisterForm.tsx
  frontend/types/user/user.ts
  frontend/utils/constants.ts
  frontend/utils/signUp.enum.ts
  package-lock.json
  yarn.lock
Labels: frontend

#180 [FEATURE]: Avoid Errors when don't have teams
  backend/package.json
  frontend/components/CreateBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/package.json
  package-lock.json
Labels: frontend

#181 [FEATURE]: Avoid errors on new board page
  package-lock.json
Labels: frontend

#184 [FEATURE]: Universal Scroll Style
  frontend/components/Board/AddCardOrComment.tsx
  frontend/components/Board/Column/Column.tsx
  frontend/components/Board/Column/styles.tsx
  frontend/components/Board/Header/styles.tsx
  frontend/pages/boards/[boardId].tsx
  frontend/styles/globals.tsx
  frontend/styles/pages/boards/board.styles.tsx
  package-lock.json
Labels: frontend

#117 feat: reset token and mailer
  backend/package.json
  backend/src/app.module.ts
  backend/src/infrastructure/config/config.module.ts
  backend/src/infrastructure/config/configuration.ts
  backend/src/infrastructure/config/interfaces/configuration.interface.ts
  backend/src/infrastructure/database/mongoose.module.ts
  backend/src/modules/auth/applications/create-reset-token.auth.application.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.providers.ts
  backend/src/modules/auth/controller/auth.controller.ts
  backend/src/modules/auth/interfaces/applications/create-reset-token.auth.application.interface.ts
  backend/src/modules/auth/interfaces/services/create-reset-token.auth.service.interface.ts
  backend/src/modules/auth/interfaces/types.ts
  backend/src/modules/auth/schemas/reset-password.schema.ts
  backend/src/modules/auth/services/create-reset-token.auth.service.ts
  backend/src/modules/mailer/mailer.module.ts
  backend/test/auth/auth.controller.spec.ts
  package-lock.json
  package.json
Labels: backend

#192 [FEATURE]: Improve Sidebar Layout
  frontend/components/Board/Header/index.tsx
  frontend/helper/board/transformBoard.tsx
  frontend/types/next-auth.d.ts
Labels: frontend

#194 [FEATURE] Split Dependencies
  .github/workflows/tests_backend_frontend.yml
  backend/docker/prod/Dockerfile
  backend/package-lock.json
  backend/package.json
  docker-compose.dev.yaml
  docker-compose.yaml
  frontend/.eslintrc.json
  frontend/docker/prod/Dockerfile
  frontend/package-lock.json
  package-lock.json
  package.json
Labels: frontend, backend, infra, docker

#196 [FEATURE]: Alert box- create board page - no team or min users
  .github/workflows/deploy_backend.yml
  .github/workflows/deploy_frontend.yml
  .husky/pre-commit
  frontend/components/Board/Column/styles.tsx
  frontend/components/Board/Header/index.tsx
  frontend/components/Boards/MyBoards/index.tsx
  frontend/components/CardBoard/CardAvatars.tsx
  frontend/components/CreateBoard/BoardName.tsx
  frontend/components/CreateBoard/SettingsTabs.tsx
  frontend/components/CreateBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/components/CreateBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/components/CreateBoard/fake/FakeSettingsTabs/index.tsx
  frontend/components/CreateBoard/fake/FakeSettingsTabs/partials/CardAvatars/index.tsx
  frontend/components/CreateBoard/fake/FakeSettingsTabs/partials/MainBoardCard/index.tsx
  frontend/components/CreateBoard/fake/FakeSettingsTabs/partials/MainBoardCard/styles.tsx
  frontend/components/CreateBoard/fake/FakeSettingsTabs/partials/TeamTab/index.tsx
  frontend/components/CreateBoard/fake/FakeSettingsTabs/partials/TeamTab/styles.tsx
  frontend/components/CreateBoard/fake/FakeSettingsTabs/styles.tsx
  frontend/components/Primitives/AlertBox.tsx
  frontend/components/Primitives/AlertBox/index.tsx
  frontend/components/Primitives/AlertBox/styles.tsx
  frontend/components/Sidebar/styles.tsx
  frontend/hooks/useBoard.tsx
  frontend/hooks/useCreateBoard.tsx
  frontend/package.json
  frontend/pages/boards/new.tsx
  frontend/store/createBoard/atoms/create-board.atom.tsx
  frontend/styles/pages/boards/new.styles.tsx
  package-lock.json
  package.json
  yarn.lock
Labels: frontend

#199 [FEATURE]: Add New Board Improvements
  frontend/components/CreateBoard/Configurations/BoardConfigurations.tsx
  frontend/components/CreateBoard/TipBar.tsx
  frontend/components/Sidebar/partials/Content/index.tsx
  frontend/components/Sidebar/partials/Header/index.tsx
  frontend/components/Sidebar/partials/Header/styles.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/boards/new.tsx
  frontend/schema/schemaCreateBoardForm.tsx
  frontend/styles/pages/boards/new.styles.tsx
Labels: enhancement, frontend

#203 [FEATURE]:500 error page Layout
  frontend/pages/404.tsx
  frontend/pages/500.tsx
  frontend/styles/pages/error.styles.tsx
Labels: enhancement, frontend

#211 [FIX]: Wrong Feedback on first login attempt
  frontend/components/auth/LoginForm/index.tsx
Labels: bug, frontend, authentication

#212 [FEATURE]:Error toasts should dismiss
  frontend/components/Primitives/Toast.tsx
Labels: frontend, authentication

#206 [FIX]: Comment Box Alignment
  frontend/components/Board/AddCardOrComment.tsx
  frontend/components/Board/Column/Column.tsx
  frontend/components/Board/Comment/Comment.tsx
  frontend/components/Board/Comment/PopoverSettings.tsx
  frontend/components/CreateBoard/TipBar.tsx
Labels: enhancement, frontend
