Repository xgeekshq/split, pull requests merged in 2022-06, with the labels that each got.

#222 [FEATURE]: New register schema, helpertext update on form
  backend/src/modules/users/dto/create.user.dto.ts
  frontend/components/Primitives/Input.tsx
  frontend/components/auth/LoginForm/styles.tsx
  frontend/components/auth/SignUp/RegisterForm.tsx
  frontend/components/auth/SignUp/SignUpOptionsForm.tsx
  frontend/pages/index.tsx
  frontend/schema/schemaRegisterForm.tsx
  frontend/styles/pages/auth.styles.tsx
Labels: enhancement, frontend

#217 [FEATURE]: Remove order select and add a “sort by votes” button on each column
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/partials/SortMenu/index.tsx
  frontend/src/components/Board/Column/partials/SortMenu/styles.tsx
  frontend/src/components/Board/Column/styles.tsx
  frontend/src/components/icons/Icon/index.tsx
  frontend/src/components/icons/Sprite.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/reset-password/[tokenId].tsx
  frontend/src/types/column.ts
Labels: frontend

#221 [FEATURE]: Lock boards & Add an indicator on the new board
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/CardBoard/CardBody/CardTitle/index.tsx
  frontend/src/components/CardBoard/CardBody/CardTitle/partials/Title/index.tsx
  frontend/src/components/CardBoard/CardBody/CardTitle/partials/Title/styles.tsx
  frontend/src/components/CreateBoard/Configurations/BoardConfigurations.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/schema/schemaCreateBoardForm.tsx
  frontend/src/store/board/atoms/board.atom.tsx
Labels: bug, enhancement, frontend

#214 [FEATURE]: Boards Lists Improvements
  .github/IMAGES/split-repo-img.png
  README.md
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/components/Dashboard/Tiles/index.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/boards/index.tsx
Labels: enhancement, frontend

#208 [FEATURE]: Improve user feedback on cards
  .github/pull_request_template.md
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/DeleteCard.tsx
  frontend/src/components/Primitives/AlertCustomDialog.tsx
  frontend/src/components/Primitives/AlertCustomDialog/index.tsx
  frontend/src/components/Primitives/AlertCustomDialog/styles.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/pages/boards/new.tsx
Labels: enhancement, frontend

#227 [FEATURE]: Remaining Votes Toast on Board
  .gitignore
  backend/src/modules/boards/interfaces/services/create.board.service.interface.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  frontend/src/components/Dashboard/Tiles/index.tsx
  frontend/src/hooks/useVotes.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/types/board/board.ts
  frontend/src/types/board/board.user.ts
  package-lock.json
Labels: enhancement, frontend

#239 [FIX]: Login Form Layout
  frontend/src/styles/pages/auth.styles.tsx
Labels: frontend

#242 [FIX]: Register form
  backend/src/modules/users/dto/create.user.dto.ts
  backend/test/auth/auth.controller.spec.ts
  frontend/src/components/Primitives/Input.tsx
  frontend/src/components/auth/LoginForm/styles.tsx
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/components/auth/SignUp/SignUpOptionsForm.tsx
  frontend/src/schema/schemaRegisterForm.tsx
  frontend/src/styles/pages/auth.styles.tsx
Labels: frontend, backend, authentication

#246 [FIX]: SSO icons margin
  frontend/src/components/auth/LoginForm/styles.tsx
Labels: frontend

#248 [FIX]: "Your teams" blob displaced in google chrome
  frontend/src/components/Dashboard/Tiles/index.tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: enhancement, frontend

#255 [FIX]: Error go to main board
  frontend/src/components/Board/Header/index.tsx
Labels: bug, frontend

#235 [FEATURE]: Create Board Settings
  backend/package-lock.json
  backend/package.json
  backend/src/modules/boards/applications/update.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/dto/update-board.dto.ts
  backend/src/modules/boards/interfaces/applications/update.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/update.board.service.interface.ts
  backend/src/modules/boards/services/update.board.service.ts
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Board/Column/partials/SortMenu/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/styles.tsx
  frontend/src/components/Dashboard/Tiles/index.tsx
  frontend/src/components/Primitives/AlertBox/index.tsx
  frontend/src/components/Primitives/Svg.tsx
  frontend/src/components/Primitives/Switch.tsx
  frontend/src/components/icons/Icon/index.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/hooks/useVotes.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/schema/schemaRegisterForm.tsx
  frontend/src/schema/schemaUpdateBoardForm.tsx
  frontend/src/store/createBoard/atoms/create-board.atom.tsx
  frontend/src/store/updateBoard/atoms/update-board.atom.tsx
  frontend/src/styles/pages/error.styles.tsx
  frontend/src/styles/stitches/partials/sizes.ts
  frontend/src/types/board/updateBoard.ts
  frontend/src/utils/isEmpty.ts
  package-lock.json
  yarn.lock
Labels: frontend

#263 fix(azure-token): remove cron job to request a token
  backend/src/modules/azure/interfaces/services/cron.azure.service.interface.ts
  backend/src/modules/azure/services/auth.azure.service.ts
  backend/src/modules/azure/services/cron.azure.service.ts
Labels: bug

#261 fix(azure-auth): login with azure method updated
  backend/src/modules/azure/services/cron.azure.service.ts
  frontend/src/api/authService.tsx
  frontend/src/hooks/useUser.tsx
  frontend/src/hooks/useVotes.tsx
Labels: bug

#259 [FIX]: Handling the minimum of users error
  frontend/src/components/CreateBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/src/hooks/useCreateBoard.tsx
Labels: bug, enhancement, frontend

#266 fix: check user email or unique name in AD
  backend/src/modules/azure/services/auth.azure.service.ts
Labels: backend

#233 [FIX]:Remaining Votes Toast on Board
  frontend/src/hooks/useVotes.tsx
  frontend/src/utils/getRemainingVotes.ts
  yarn.lock
Labels: enhancement, frontend

#274 [FIX]: Add Sub boards
  frontend/src/hooks/useCreateBoard.tsx
Labels: bug, frontend

#285 [FIX]: Responsible Lottery is freezing the page when the group only contains 1 user.
  frontend/src/components/CreateBoard/SubTeamsTab/SubCardBoard.tsx
Labels: bug, frontend

#252 [FIX]: Docker Configs
  .env.example
  README.md
  backend/docker/dev/Dockerfile
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
  docker-compose.dev.yaml
  frontend/package-lock.json
  frontend/src/components/CreateBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/src/hooks/useUser.tsx
  package-lock.json
  package.json
  yarn.lock
Labels: bug, infra, docker

#292 [FIX]: Sub-team AlertBox miss placed
  frontend/src/pages/boards/[boardId].tsx
Labels: enhancement, frontend

#271 [FIX]: Delete card not centred
  frontend/src/components/Primitives/AlertDialog.tsx
Labels: enhancement, frontend

#290 [FIX]: Avatar color
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/CardBoard/CardAvatars.tsx
  frontend/src/components/Primitives/Avatar.tsx
  frontend/src/hooks/useAvatarColor.tsx
Labels: bug, frontend

#286 [FIX]: Pipeline Error
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/components/auth/SignUp/SignUpOptionsForm.tsx
Labels: bug, enhancement, frontend

#297 [FIX]: Frontend Pipeline - Avatar properties
  frontend/src/components/Primitives/Avatar.tsx
  frontend/src/hooks/useAvatarColor.tsx
Labels: bug, frontend

#288 [FEATURE]: Disable Teams, Users, Account and Settings menu
  frontend/src/components/Primitives/Tooltip.tsx
  frontend/src/components/Primitives/Tooltip/index.tsx
  frontend/src/components/Primitives/Tooltip/styles.tsx
  frontend/src/components/Sidebar/partials/Content/index.tsx
Labels: enhancement, frontend

#276 [FIX]: Remove unused dependecies (Backend)
  backend/package-lock.json
  backend/package.json
Labels: enhancement, backend
