Repository xgeekshq/split, pull requests merged in 2022-10, with the labels that each got.

#474 [FEATURE]: Comment anonymously
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/comments/applications/create.comment.application.ts
  backend/src/modules/comments/controller/comments.controller.ts
  backend/src/modules/comments/dto/comment.dto.ts
  backend/src/modules/comments/dto/create.comment.dto.ts
  backend/src/modules/comments/interfaces/applications/create.comment.application.interface.ts
  backend/src/modules/comments/interfaces/services/create.comment.service.interface.ts
  backend/src/modules/comments/schemas/comment.schema.ts
  backend/src/modules/comments/services/create.comment.service.ts
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/types/comment/addComment.dto.ts
  frontend/src/types/comment/comment.ts
Labels: frontend, backend

#473 [BUG] Stakeholder names incorrect
  frontend/src/components/CreateBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
Labels: bug, frontend

#461 [BUG] Merging cards from a sub-team on the main board
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/cards/services/unmerge.card.service.ts
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Card/CardItem/CardItemList.tsx
Labels: bug, frontend, backend

#482 [BUG] Voting/Comment icons misaligned
  frontend/src/components/Board/Card/CardFooter.tsx
Labels: frontend

#497 [FIX]: Add correct config
  database/rs-init.sh
Labels: bug, infra

#494 [FEATURE]: Add team list page
  frontend/src/api/teamService.tsx
  frontend/src/components/Primitives/AlertCustomDialog/index.tsx
  frontend/src/components/Sidebar/partials/Content/index.tsx
  frontend/src/components/Teams/MyTeams/index.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/BoardsInfo.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardEnd.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardTitle.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/DeleteTeam.tsx
  frontend/src/components/Teams/MyTeams/partials/EmptyTeams/index.tsx
  frontend/src/components/Teams/MyTeams/partials/EmptyTeams/styles.tsx
  frontend/src/components/Teams/MyTeams/partials/ListOfCards/index.tsx
  frontend/src/components/Teams/MyTeams/partials/ListOfCards/styles.tsx
  frontend/src/components/icons/Sprite.tsx
  frontend/src/components/images/EmptyTeams.tsx
  frontend/src/components/layouts/DashboardLayout/index.tsx
  frontend/src/components/layouts/Layout/index.tsx
  frontend/src/pages/api/auth/[...nextauth].tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/types/team/team.user.ts
  frontend/src/utils/fetchData.tsx
  frontend/src/utils/routes.ts
Labels: enhancement, frontend

#498 [FEATURE]: Add team page
  frontend/src/components/layouts/Layout/index.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/teams/index.tsx
Labels: authentication

#493 [FIX] Anonymous card identity
  backend/src/modules/cards/services/unmerge.card.service.ts
Labels: bug, backend

#499 [FIX] - Eslint changes
  frontend/src/components/Teams/MyTeams/index.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/BoardsInfo.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardEnd.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardTitle.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/DeleteTeam.tsx
  frontend/src/components/Teams/MyTeams/partials/EmptyTeams/styles.tsx
  frontend/src/components/icons/Sprite.tsx
  frontend/src/components/images/EmptyTeams.tsx
  frontend/src/pages/teams/index.tsx
Labels: frontend

#492 [FIX] password regex
  frontend/src/schema/schemaRegisterForm.ts
  frontend/src/schema/schemaResetPasswordForm.ts
Labels: bug, frontend

#491 [FIX] shorting merged cards
  frontend/src/components/Board/Column/Column.tsx
Labels: bug, frontend

#502 [BUG] Adding cards to closed sub-board
  backend/src/libs/dto/param/socket.param.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/socket/gateway/socket.gateway.ts
  backend/src/modules/socket/interfaces/joinPayloadBoards.interface.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/AlertMergeIntoMain/index.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: frontend, backend

#488 [BUG]: permissions to access a board
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: bug, frontend

#504 [FIX]: eslint issues import order
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: frontend

#506 fix(NI): ESLint errors
  .gitignore
  backend/.eslintrc.cjs
  backend/jest-e2e.json
  backend/jest.config.ts
  backend/package-lock.json
  backend/package.json
  backend/tsconfig.json
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  package-lock.json
  yarn.lock
Labels: bug, enhancement

#511 fix(NI): ESLint errors on Sprite
  frontend/src/components/icons/Sprite.tsx
Labels: frontend

#513 [FEATURE]: disable teams button from sidebar menu
  frontend/src/components/Sidebar/partials/Content/index.tsx
Labels: frontend

#515 Feat/add page for creating a new team
  frontend/src/components/Teams/CreateTeam/TeamName.tsx
  frontend/src/components/Teams/CreateTeam/TipBar.tsx
  frontend/src/components/icons/Sprite.tsx
  frontend/src/components/layouts/DashboardLayout/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/schema/schemaCreateTeamForm.ts
Labels: enhancement, frontend

#517 Feat/add card member to create new team page
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/index.tsx
  frontend/src/components/Primitives/Input.tsx
  frontend/src/components/Primitives/Text.tsx
  frontend/src/components/Teams/CreateTeam/AddMemberBtn/index.tsx
  frontend/src/components/Teams/CreateTeam/AddMemberBtn/styles.tsx
  frontend/src/components/Teams/CreateTeam/CardEnd.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/TeamName.tsx
  frontend/src/components/Teams/CreateTeam/TipBar/index.tsx
  frontend/src/components/Teams/CreateTeam/TipBar/styles.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardEnd.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/styles/pages/boards/new.styles.tsx
Labels: enhancement, frontend

#505 [FIX]: fix card team layout
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardBody.tsx
Labels: frontend, design

#520 [FEATURE]: add form buttons to create team page
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/styles/pages/boards/new.styles.tsx
Labels: enhancement, frontend

#522 [BUG] Accessing a deleted board
  backend/src/libs/dto/param/team.param.optional.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/socket/gateway/socket.gateway.ts
  backend/src/modules/socket/interfaces/joinPayloadBoards.interface.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/components/CardBoard/DeleteBoard.tsx
  frontend/src/components/Dashboard/RecentRetros/index.tsx
  frontend/src/hooks/useSocketBoardIO.ts
  frontend/src/pages/board-deleted.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/types/board/useBoard.ts
  frontend/src/utils/fetchData.tsx
Labels: bug, frontend, backend

#523 [FEATURE]: Drawer with members
  frontend/src/components/Primitives/Input.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/styles.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/schema/schemaAddMemberForm.ts
Labels: enhancement, frontend

#490 [BUG]: Board Settings Info cancel button to reset info
  frontend/src/components/Board/Settings/index.tsx
Labels: frontend

#526 [FEATURE]: add users controller
  backend/src/modules/users/applications/get.user.application.ts
  backend/src/modules/users/controller/users.controller.ts
  backend/src/modules/users/interfaces/applications/get.user.application.interface.ts
  backend/src/modules/users/interfaces/services/get.user.service.interface.ts
  backend/src/modules/users/services/get.user.service.ts
  backend/src/modules/users/users.module.ts
Labels: backend

#529 Feat/change searchinput
  frontend/src/components/Teams/CreateTeam/ListMembers/SearchInput.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/styles.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/pages/teams/new.tsx
Labels: frontend

#531 [REFACTOR]: update readme
  README.md
Labels: documentation

#532 [FEATURE]: checklist with members
  frontend/src/api/userService.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/SearchInput.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/styles.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/pages/teams/new.tsx
Labels: enhancement, frontend
