Repository xgeekshq/split, pull requests merged in 2022-08, with the labels that each got.

#355 [BUG]: Add a new retro board button not working
  backend/src/app.module.ts
  backend/src/infrastructure/config/config.module.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/communication/adapters/slack-communication-gate.adapter.spec.ts
  backend/src/modules/communication/applications/slack-execute-communication.application.ts
  backend/src/modules/communication/communication.module.ts
  backend/src/modules/communication/communication.providers.ts
  backend/src/modules/communication/dto/types.ts
  backend/src/modules/communication/errors/board-not-valid.error.ts
  backend/src/modules/communication/errors/create-channel.error.ts
  backend/src/modules/communication/errors/get-profile.error.ts
  backend/src/modules/communication/errors/get-users-from-channel.error.ts
  backend/src/modules/communication/errors/invite-users.error.ts
  backend/src/modules/communication/errors/post-message.error.ts
  backend/src/modules/communication/errors/profile-not-found.error.ts
  backend/src/modules/communication/errors/profile-without-email.error.ts
  backend/src/modules/communication/handlers/chat-slack.handler.ts
  backend/src/modules/communication/handlers/conversations-slack.handler.ts
  backend/src/modules/communication/handlers/users-slack.handler.ts
  backend/src/modules/communication/interfaces/chat.handler.interface.ts
  backend/src/modules/communication/interfaces/communication-gate.interface.ts
  backend/src/modules/communication/services/slack-execute-communication.service.ts
  backend/src/test/communication/slack-execute-communication.service.spec.ts
  backend/test/communication/slack-execute-communication.service.spec.ts
  frontend/src/components/Dashboard/RecentRetros/index.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/EmptyBoards/index.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/EmptyBoards/styles.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/ListOfCards/index.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/ListOfCards/styles.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/dashboard/index.tsx
Labels: bug, frontend

#387 [BUG]: Delete card crash the app
  backend/src/modules/cards/services/delete.card.service.ts
  frontend/src/components/Board/AlertGoToMainBoard/index.tsx
  frontend/src/components/Board/AlertMergeIntoMain/index.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Card/DeleteCard.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/hooks/useSocketIO.ts
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/styles/pages/boards/board.styles.tsx
Labels: bug, frontend, backend

#390 [BUG]: lock boardSettings button with subboard merge
  frontend/src/pages/boards/[boardId].tsx
Labels: frontend

#391 [FIX]: Pipeline errors after merge
  frontend/src/components/Board/AlertGoToMainBoard/index.tsx
  frontend/src/components/Board/AlertMergeIntoMain/index.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
Labels: bug, frontend

#374 [FEATURE]: Change responsible on board settings
  backend/.env.example
  backend/src/libs/utils/getIdFromObjectId.ts
  backend/src/libs/utils/hideText.ts
  backend/src/libs/utils/isEmpty.ts
  backend/src/modules/boards/dto/board.dto.ts
  backend/src/modules/boards/interfaces/services/create.board.service.interface.ts
  backend/src/modules/boards/schemas/board.schema.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/schedules/schemas/schedules.schema.ts
  frontend/.eslintrc.js
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Header/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/index.tsx
  frontend/src/components/Board/Settings/styles.tsx
  frontend/src/components/CardBoard/CardAvatars.tsx
  frontend/src/components/CreateBoard/Configurations/BoardConfigurations.tsx
  frontend/src/components/CreateBoard/Content.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/schema/schemaCreateBoardForm.ts
  frontend/src/schema/schemaUpdateBoardForm.ts
  frontend/src/store/board/atoms/board.atom.tsx
  frontend/src/store/updateBoard/atoms/update-board.atom.tsx
  frontend/src/types/board/board.ts
  frontend/src/types/board/useBoard.ts
  frontend/src/utils/getInitials.ts
  package-lock.json
Labels: frontend, backend

#396 [BUG]: TextArea improvements
  backend/src/modules/cards/controller/cards.controller.ts
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
Labels: frontend

#392 [REFACTOR]: delete postAnonymously variable
  backend/src/libs/utils/generateBoardData.ts
  backend/src/modules/boards/dto/board.dto.ts
  backend/src/modules/boards/interfaces/services/create.board.service.interface.ts
  backend/src/modules/boards/schemas/board.schema.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/schedules/schemas/schedules.schema.ts
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/CreateBoard/Content.tsx
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/store/createBoard/atoms/create-board.atom.tsx
  frontend/src/store/updateBoard/atoms/update-board.atom.tsx
  frontend/src/types/board/board.ts
Labels: enhancement, frontend, backend

#375 [FEATURE]: Call communication execute with queue
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/infrastructure/config/config.module.ts
  backend/src/infrastructure/config/configuration.ts
  backend/src/infrastructure/config/interfaces/configuration.interface.ts
  backend/src/libs/test-utils/mocks/configService.mock.ts
  backend/src/modules/communication/adapters/slack-communication-gate.adapter.spec.ts
  backend/src/modules/communication/adapters/slack-communication-gate.adapter.ts
  backend/src/modules/communication/applications/slack-execute-communication.application.spec.ts
  backend/src/modules/communication/applications/slack-execute-communication.application.ts
  backend/src/modules/communication/communication.module.ts
  backend/src/modules/communication/communication.providers.ts
  backend/src/modules/communication/consumers/slack-consumer.processor.spec.ts
  backend/src/modules/communication/consumers/slack-consumer.processor.ts
  backend/src/modules/communication/dto/types.ts
  backend/src/modules/communication/producers/slack-communication.producer.service.ts
  backend/src/modules/communication/services/slack-execute-communication.service.ts
  backend/src/modules/queue/queue.module.ts
  backend/yarn.lock
Labels: backend

#403 Chore update slack queue communication module
  backend/.env.example
  backend/src/infrastructure/config/config.module.ts
  backend/src/modules/communication/communication.module.ts
  backend/src/modules/queue/queue.module.ts
Labels: backend

#405 [FIX]: Azure Authentication
  backend/src/modules/azure/controller/azure.controller.ts
  frontend/src/pages/api/auth/[...nextauth].tsx
Labels: bug, frontend, backend, authentication

#408 [BUG]: users permissions to delete boards
  backend/src/modules/azure/controller/azure.controller.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/teams/services/get.team.service.ts
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
Labels: frontend, backend, authentication

#417 [BUG] Editing a comment to empty crashes the website
  frontend/src/components/Board/AddCardOrComment.tsx
Labels: frontend

#419 [BUG] Editing a comment to empty crashes the website
  frontend/src/components/Board/AddCardOrComment.tsx
Labels: frontend

#420 [BUG] Unmerging cards crashes the website
  frontend/src/components/Board/Card/PopoverSettings.tsx
Labels: bug, frontend

#414 [FEATURE]: User vote count limit on a specific board verification
  backend/src/modules/votes/services/create.vote.service.ts
Labels: backend, authentication

#422 [BUG]: Editing a card title to empty crashes the website
  frontend/src/components/Board/AddCardOrComment.tsx
Labels: frontend

#426 [FEATURE]: backend vote protection
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.ts
Labels: backend, authentication
