Repository xgeekshq/split, pull requests merged in 2022-09, with the labels that each got.

#431 [BUG] Comment icon remains in clicked state
  frontend/src/components/Board/Card/CardFooter.tsx
Labels: frontend

#429 [FEATURE]: Hide id from users when they vote on the cards
  backend/src/libs/utils/boardVotesIdHidden.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/votes/controller/votes.controller.ts
  backend/src/test/boards/get.board.service.spec.ts
Labels: backend

#433 [FEATURE]: Votes request with timer
  backend/src/modules/votes/controller/votes.controller.ts
  backend/src/modules/votes/dto/vote.dto.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/hooks/useVotes.tsx
Labels: bug, frontend, backend, suggestion, infra

#438 [BUG]: disable button between orders
  frontend/src/components/Board/Card/CardFooter.tsx
Labels: frontend

#440 [BUG]: disable button to remove non-user votes
  frontend/src/components/Board/Card/CardFooter.tsx
Labels: frontend

#444 [BUG]: stakeholder and admin board permissions
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/components/CardBoard/CardBody/CardTitle.tsx
  frontend/src/components/CardBoard/CardIcon.tsx
Labels: frontend

#442 [BUG] Deleting merged cards
  backend/src/modules/cards/services/delete.card.service.ts
Labels: backend

#446 [BUG] Edit/remove comments from merged card
  frontend/src/api/boardService.tsx
  frontend/src/hooks/useComments.tsx
Labels: bug, frontend

#448 [FEATURE]: Responsible can change to another
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: frontend

#437 343/feature communication between create board and slack service
  backend/.gitignore
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/dto/board.dto.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/cards/services/create.card.service.ts
  backend/src/modules/communication/applications/slack-execute-communication.application.ts
  backend/src/modules/communication/communication.module.ts
  backend/src/modules/communication/communication.providers.ts
  backend/src/modules/communication/interfaces/types.ts
  backend/src/modules/communication/producers/slack-communication.producer.service.ts
  backend/src/test/boards/boards.controller.spec.ts
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/schema/schemaCreateBoardForm.ts
  frontend/src/store/createBoard/atoms/create-board.atom.tsx
  frontend/src/types/board/board.ts
Labels: enhancement, frontend, backend

#453 chore: add communication service for slack disabled
  backend/src/app.module.ts
  backend/src/modules/communication/communication.module.ts
  backend/src/modules/communication/communication.providers.ts
  backend/src/modules/communication/services/slack-disabled-communication.service.ts
Labels: bug, backend

#458 [BUG] Post card as Anonymous
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/Primitives/Checkbox.tsx
Labels: bug, frontend

#457 [BUG]: BoardSettings response failed
  backend/src/modules/boards/services/update.board.service.ts
Labels: bug, backend

#451 [SUGGESTION]: Checking if the users is from the sub-team
  frontend/src/pages/boards/[boardId].tsx
Labels: frontend

#470 [BUG] Sub-board Name
  frontend/src/schema/schemaCreateBoardForm.ts
  frontend/src/schema/schemaUpdateBoardForm.ts
Labels: bug, frontend
