Repository xgeekshq/split, pull requests merged in 2022-07, with the labels that each got.

#300 fix: switchs
  frontend/src/components/Board/Settings/index.tsx
Labels: bug, frontend

#301 [FEATURE]: Remove "Option to post cards anonymously" from Board Settings
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/CreateBoard/Configurations/BoardConfigurations.tsx
Labels: enhancement, frontend

#305 [FEATURE]: add hide cards settings
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/store/updateBoard/atoms/update-board.atom.tsx
Labels: enhancement, frontend

#312 [FIX]: Remove Votes options from Board Settings on Sub-boards
  frontend/src/components/Board/Settings/index.tsx
Labels: enhancement, frontend

#317 [FIX]: Missing upper case validation on register user
  backend/src/modules/users/dto/create.user.dto.ts
  backend/src/modules/users/dto/reset-password.dto.ts
  frontend/src/schema/schemaRegisterForm.tsx
  frontend/src/schema/schemaResetPasswordForm.tsx
Labels: bug, frontend

#308 [FIX]: Extra votes left on card
  backend/src/modules/boards/schemas/board.schema.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Primitives/Input.tsx
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/types/board/board.ts
Labels: bug, frontend, backend

#320 [FIX]: Edit cards from others
  backend/src/modules/cards/services/update.card.service.ts
  backend/src/modules/comments/services/delete.comment.service.ts
  backend/src/modules/comments/services/update.comment.service.ts
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Comment/Comment.tsx
Labels: bug, frontend, backend

#325 [FIX]: totalUsedVotes type error
  frontend/src/hooks/useCreateBoard.tsx
Labels: bug, frontend

#319 [FIX]: Deleting a card will not return votes to users
  backend/src/modules/cards/services/delete.card.service.ts
Labels: bug, backend

#329 [FIX]: Delete votes error
  backend/src/modules/votes/services/delete.vote.service.ts
Labels: bug, backend

#328 [FIX]: Delete Board Function
  backend/src/modules/boards/services/delete.board.service.ts
Labels: bug, backend

#302 [FEATURE]: Hide cards from others
  .gitignore
  .husky/pre-commit
  backend/.eslintrc.js
  backend/package-lock.json
  backend/src/libs/utils/hideText.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/test/boards/get.board.service.spec.ts
  backend/yarn.lock
  frontend/package-lock.json
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Card/CardItem/CardItemList.tsx
  frontend/src/components/Board/Card/PopoverSettings.tsx
  frontend/src/components/Board/Column/CardsList.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/Comment/Comments.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/helper/board/blurFilter.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/types/column.ts
  frontend/yarn.lock
  package-lock.json
  package.json
  yarn.lock
Labels: frontend, backend

#333 [FEATURE]: Optimistic Updates - Cards
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useCards.tsx
Labels: enhancement, frontend

#267 [FEATURE]: Migrate from Zod to Joi
  backend/package-lock.json
  backend/package.json
  backend/yarn.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/CreateBoard/Content.tsx
  frontend/src/components/auth/ForgotPassword/ResetPassword.tsx
  frontend/src/components/auth/ForgotPassword/TroubleLogin.tsx
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/hooks/useAvatarColor.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/schema/schemaAddCommentForm.ts
  frontend/src/schema/schemaCreateBoardForm.ts
  frontend/src/schema/schemaCreateBoardForm.tsx
  frontend/src/schema/schemaEmail.ts
  frontend/src/schema/schemaEmail.tsx
  frontend/src/schema/schemaLoginForm.ts
  frontend/src/schema/schemaLoginForm.tsx
  frontend/src/schema/schemaRegisterForm.ts
  frontend/src/schema/schemaRegisterForm.tsx
  frontend/src/schema/schemaResetPasswordForm.ts
  frontend/src/schema/schemaResetPasswordForm.tsx
  frontend/src/schema/schemaUpdateBoardForm.ts
  frontend/src/schema/schemaUpdateBoardForm.tsx
  frontend/yarn.lock
  package-lock.json
  yarn.lock
Labels: enhancement, frontend

#334 [FEATURE]: Optimistic Updates - Comments
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useComments.tsx
Labels: enhancement, frontend

#337 [FEATURE]: option post cards anonymously
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/cards/dto/card.item.dto.ts
  backend/src/modules/cards/interfaces/services/get.card.service.interface.ts
  backend/src/modules/cards/schemas/card.item.schema.ts
  backend/src/modules/cards/schemas/card.schema.ts
  backend/src/modules/cards/services/create.card.service.ts
  backend/src/modules/cards/services/delete.card.service.ts
  backend/src/modules/cards/services/get.card.service.ts
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Card/CardItem/CardItemList.tsx
  frontend/src/components/Board/Column/CardsList.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/Comment/Comments.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/types/card/card.ts
  frontend/src/types/card/cardItem.ts
  frontend/src/types/column.ts
Labels: frontend, backend

#339 [FIX]: Only show the board settings for the user that created the board
  frontend/src/pages/boards/[boardId].tsx
Labels: frontend

#321 [FEATURE]: Save stakeholders into team_user table
  .all-contributorsrc
  README.md
  backend/src/libs/dto/param/team.params.ts
  backend/src/libs/dto/param/team.query.params.ts
  backend/src/libs/enum/team.roles.ts
  backend/src/libs/utils/ignored_users.json
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/teams/applications/get.team.application.ts
  backend/src/modules/teams/controller/team.controller.ts
  backend/src/modules/teams/interfaces/applications/get.team.application.interface.ts
  backend/src/modules/teams/interfaces/services/get.team.service.interface.ts
  backend/src/modules/teams/schemas/team.user.schema.ts
  backend/src/modules/teams/services/get.team.service.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/Header/index.tsx
  frontend/src/components/CardBoard/CardAvatars.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/QuickEditSubTeams.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/pages/boards/new.tsx
Labels: enhancement, backend

#340 [FIX]: Pipeline error
  backend/src/libs/dto/param/team.query.params.ts
Labels: bug

#341 [FIX]: Only show the board settings for the user that created the board
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/types/board/board.ts
Labels: frontend

#342 [FIX]: Board Settings (Pipeline Error)
  backend/src/modules/boards/services/get.board.service.ts
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/types/board/board.ts
Labels: frontend

#335 [FEATURE]: Optimistic Updates
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/hooks/useComments.tsx
  frontend/src/hooks/useVotes.tsx
Labels: enhancement, frontend

#347 [FIX]: frontend pipeline
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/hooks/useComments.tsx
Labels: bug, frontend

#345 [FEATURE]: Board Settings Permissions
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: frontend, backend

#364 feat(board-header): add team admins avatars
  frontend/src/components/Board/Header/index.tsx
Labels: frontend

#363 [BUG]: Main board says no sub-team as merged even though it has
  frontend/src/pages/boards/[boardId].tsx
Labels: bug, frontend

#354 [BUG]: Sub team "merge into main board" typo
  frontend/src/pages/boards/[boardId].tsx
Labels: bug, frontend

#359 [FIX]: Tooltip Content
  frontend/src/components/Board/Header/index.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
Labels: bug, frontend

#336 [FEATURE]: Create slack channels
  .env.example
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/infrastructure/config/config.module.ts
  backend/src/infrastructure/config/configuration.ts
  backend/src/infrastructure/config/interfaces/configuration.interface.ts
  backend/src/libs/constants/frontend.ts
  backend/src/libs/constants/slack.ts
  backend/src/libs/test-utils/mocks/configService.mock.ts
  backend/src/libs/utils/communication-helpers.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/communication/adapters/slack-communication-gate.adapter.spec.ts
  backend/src/modules/communication/adapters/slack-communication-gate.adapter.ts
  backend/src/modules/communication/applications/slack-execute-communication.application.ts
  backend/src/modules/communication/communication.module.ts
  backend/src/modules/communication/communication.providers.ts
  backend/src/modules/communication/dto/team.dto.ts
  backend/src/modules/communication/dto/types.ts
  backend/src/modules/communication/dto/user.dto.ts
  backend/src/modules/communication/errors/board-not-valid.error.ts
  backend/src/modules/communication/errors/create-channel.error.ts
  backend/src/modules/communication/errors/get-profile.error.ts
  backend/src/modules/communication/errors/get-users-from-channel.error.ts
  backend/src/modules/communication/errors/invite-users.error.ts
  backend/src/modules/communication/errors/post-message.error.ts
  backend/src/modules/communication/errors/profile-not-found.error.ts
  backend/src/modules/communication/errors/profile-without-email.error.ts
  backend/src/modules/communication/handlers/chat-slack.handler.spec.ts
  backend/src/modules/communication/handlers/chat-slack.handler.ts
  backend/src/modules/communication/handlers/conversations-slack.handler.spec.ts
  backend/src/modules/communication/handlers/conversations-slack.handler.ts
  backend/src/modules/communication/handlers/users-slack.handler.spec.ts
  backend/src/modules/communication/handlers/users-slack.handler.ts
  backend/src/modules/communication/interfaces/chat.handler.interface.ts
  backend/src/modules/communication/interfaces/communication-gate.interface.ts
  backend/src/modules/communication/interfaces/conversations.handler.interface.ts
  backend/src/modules/communication/interfaces/execute-communication.interface.ts
  backend/src/modules/communication/interfaces/users.handler.interface.ts
  backend/src/modules/communication/services/slack-execute-communication.service.ts
  backend/src/test/communication/slack-execute-communication.service.spec.ts
  backend/test/communication/slack-execute-communication.service.spec.ts
  package-lock.json
Labels: backend

#370 [BUG]: Lazy loading indicator in the dashboard
  frontend/src/components/Dashboard/RecentRetros/ListOfCards.tsx
  frontend/src/components/loadings/LoadingPage/styles.tsx
Labels: bug, frontend

#366 [REFACTOR]: Remove Downvote Transaction
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/cards/services/delete.card.service.ts
  backend/src/modules/votes/interfaces/services/delete.vote.service.interface.ts
  backend/src/modules/votes/services/delete.vote.service.ts
Labels: bug, enhancement, backend

#373 fix: string path
  backend/src/infrastructure/config/configuration.ts
Labels: backend

#356 [FEATURE]: Hide id from anonymously cards
  backend/package-lock.json
  backend/package.json
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
Labels: bug, backend

#360 [BUG]: Team configuration is reseted when clicking on configurations and coming back to it
  .env.example
  frontend/src/components/CreateBoard/SettingsTabs.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/CreateBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
Labels: bug, frontend

#383 [FEATURE]: Split .env files
  .env.example
  backend/.env.example
  backend/yarn.lock
  database/.env.example
  docker-compose.dev.yaml
  docker-compose.yaml
  frontend/.env.example
  yarn.lock
Labels: enhancement, infra, docker
