Repository xgeekshq/split, pull requests merged in 2022-11, with the labels that each got.

#536 [FEATURE]: filter users list
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
Labels: enhancement, frontend

#540 [FEATURE]: list of selected users on recoil
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/store/team/atom/team.atom.tsx
  frontend/src/types/team/team.user.ts
  frontend/src/types/team/userList.ts
Labels: frontend

#543 [FEATURE]: endoint to get the teams of a user
  backend/src/modules/teams/controller/team.controller.ts
  frontend/src/api/teamService.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/MyTeams/index.tsx
  frontend/src/pages/teams/index.tsx
Labels: frontend, backend

#547 [FEATURE]: render members card
  frontend/src/components/Teams/CreateTeam/CardEnd.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/TeamName.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/store/team/atom/team.atom.tsx
  frontend/src/types/team/team.user.ts
Labels: frontend

#549 [FEATURE]: add newbee tip if members are > 1
  frontend/src/components/Teams/CreateTeam/TipBar/index.tsx
Labels: frontend

#550 [FEATURE]: show btn if scroll exists
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
Labels: frontend, design

#554 [FIX]: Board list bottom cut off
  frontend/src/components/Boards/MyBoards/styles.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/ListOfCards/index.tsx
Labels: bug, frontend

#557 [REFACTOR]: list boards without showing subboards
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
Labels: frontend

#560 [FEATURE]: show boards members
  frontend/src/components/Board/Header/index.tsx
  frontend/src/components/CardBoard/CardAvatars.tsx
  frontend/src/components/CardBoard/styles.tsx
Labels: enhancement, frontend

#563 [BUG]: remove space between avatar icons
  frontend/src/components/CardBoard/styles.tsx
Labels: bug, frontend

#564 [BUG] Cancel/X Buttons
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/layouts/DashboardLayout/index.tsx
  frontend/src/components/layouts/Layout/index.tsx
  frontend/src/pages/boards/new.tsx
Labels: bug, frontend

#566 [FEATURE]: change role of team member
  backend/src/modules/teams/services/get.team.service.ts
  frontend/src/components/Primitives/Popover.tsx
  frontend/src/components/Sidebar/partials/Content/index.tsx
  frontend/src/components/Teams/CreateTeam/CardEnd.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/styles.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: enhancement, frontend

#570 [REFACTOR]: change create teams logic
  backend/src/modules/teams/applications/create.team.application.ts
  backend/src/modules/teams/controller/team.controller.ts
  backend/src/modules/teams/dto/team.user.dto.ts
  backend/src/modules/teams/interfaces/applications/create.team.application.interface.ts
  backend/src/modules/teams/interfaces/services/create.team.service.interface.ts
  backend/src/modules/teams/schemas/team.user.schema.ts
  backend/src/modules/teams/services/create.team.service.ts
  backend/src/modules/teams/services/get.team.service.ts
  backend/src/modules/users/services/create.user.service.ts
  backend/src/modules/users/users.module.ts
  frontend/src/components/Teams/MyTeams/index.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/MyTeams/partials/EmptyTeams/index.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/pages/teams/index.tsx
Labels: backend

#568 [FEATURE]: newbee prop
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/TipBar/index.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardBody.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/store/team/atom/team.atom.tsx
  frontend/src/types/team/team.user.ts
Labels: frontend

#574 [REFACTOR]: fix card team
  backend/src/modules/boards/applications/get.board.application.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/interfaces/applications/get.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/teams/schemas/teams.schema.ts
  backend/src/modules/teams/services/get.team.service.ts
  backend/src/modules/teams/teams.module.ts
  frontend/src/components/CardBoard/styles.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/BoardsInfo.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/MyTeams/partials/ListOfCards/index.tsx
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/styles/stitches/partials/sizes.ts
  frontend/src/types/team/team.ts
Labels: frontend, backend

#586 [BUG]: fix docker-compose.dev
  docker-compose.dev.yaml
Labels: bug

#592 [FEATURE]: add get team endpoint
  backend/src/modules/teams/schemas/team.user.schema.ts
  backend/src/modules/teams/services/get.team.service.ts
  backend/src/modules/users/controller/users.controller.ts
  frontend/src/api/teamService.tsx
  frontend/src/components/Primitives/Tooltip/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/MyTeams/partials/CardTeam/BoardsInfo.tsx
  frontend/src/components/icons/Sprite.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/hooks/useTeamUtils.tsx
  frontend/src/styles/stitches/partials/sizes.ts
  frontend/src/types/team/useTeam.ts
Labels: frontend, backend

#605 feat: added users page layout
  frontend/src/components/Sidebar/partials/Content/index.tsx
  frontend/src/components/layouts/DashboardLayout/index.tsx
  frontend/src/components/layouts/Layout/index.tsx
  frontend/src/pages/users/index.tsx
  frontend/src/utils/routes.ts
Labels: frontend

#610 [FEATURE]: get all users
  backend/src/modules/users/applications/get.user.application.ts
  backend/src/modules/users/controller/users.controller.ts
  backend/src/modules/users/interfaces/applications/get.user.application.interface.ts
  backend/src/modules/users/interfaces/services/get.user.service.interface.ts
  backend/src/modules/users/services/get.user.service.ts
  backend/src/modules/users/users.module.ts
  frontend/src/api/userService.tsx
  frontend/src/pages/users/index.tsx
Labels: frontend, backend

#603 [FEATURE]: Team Page
  frontend/src/components/Primitives/Text.tsx
  frontend/src/components/Teams/CreateTeam/AddMemberBtn/index.tsx
  frontend/src/components/Teams/CreateTeam/CardEnd/RoleDescription.tsx
  frontend/src/components/Teams/CreateTeam/CardEnd/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/Team/CardEnd/index.tsx
  frontend/src/components/Teams/Team/Header/index.tsx
  frontend/src/components/Teams/Team/Header/styles.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/styles.tsx
  frontend/src/components/Teams/TeamsList/index.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/BoardsInfo.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardEnd.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardTitle.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/DeleteTeam.tsx
  frontend/src/components/Teams/TeamsList/partials/EmptyTeams/index.tsx
  frontend/src/components/Teams/TeamsList/partials/EmptyTeams/styles.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/index.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/styles.tsx
  frontend/src/components/layouts/Layout/styles.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/utils/routes.ts
Labels: enhancement, frontend

#613 [FEATURE]: show boards members
  frontend/src/components/Board/Header/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/FilterBoardMembers/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/styles.tsx
  frontend/src/components/CardBoard/CardAvatars.tsx
Labels: enhancement, frontend

#612 [REFACTOR]: send message only if the slack is enable
  backend/src/infrastructure/config/config.module.ts
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/auth/services/get-token.auth.service.spec.ts
  backend/src/modules/auth/services/validate-user.auth.service.spec.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/socket/gateway/socket.gateway.spec.ts
  backend/src/modules/users/users.module.ts
  docker-compose.local.yaml
Labels: backend

#627 refactor(merge-board): remove link of board when a sub-board is merged
  backend/src/modules/communication/applications/slack-merge-board.application.ts
Labels: enhancement, backend

#634 feat: add download link to swagger
  backend/src/main.ts
Labels: documentation, backend

#628 feat: add update isNewJoiner function
  backend/src/libs/guards/teamRoles.guard.ts
  frontend/src/components/Teams/CreateTeam/AddMemberBtn/index.tsx
  frontend/src/components/Teams/CreateTeam/CardEnd/RoleDescription.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/SearchInput.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/styles.tsx
  frontend/src/components/Teams/CreateTeam/TeamName.tsx
  frontend/src/components/Teams/CreateTeam/TipBar/index.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/components/Teams/Team/CardEnd/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/styles.tsx
  frontend/src/components/Teams/TeamsList/index.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/BoardsInfo.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/index.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/pages/teams/new.tsx
Labels: enhancement, frontend

#635 fix: npm prod script command
  backend/package.json
Labels: bug, backend

#626 fix: team cards
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
Labels: bug, frontend

#632 feat(teams): added endpoint to get users with corresponding teams
  backend/src/modules/auth/services/validate-user.auth.service.spec.ts
  backend/src/modules/teams/interfaces/services/get.team.service.interface.ts
  backend/src/modules/teams/services/get.team.service.ts
  backend/src/modules/teams/teams.module.ts
  backend/src/modules/users/applications/get.user.application.ts
  backend/src/modules/users/controller/users.controller.ts
  backend/src/modules/users/interfaces/applications/get.user.application.interface.ts
  backend/src/modules/users/interfaces/services/get.user.service.interface.ts
  backend/src/modules/users/interfaces/type-user-with-teams.ts
  backend/src/modules/users/services/get.user.service.ts
  backend/src/modules/users/swagger/users-with-teams.swagger.ts
Labels: enhancement, backend

#633 feat: add delete team endpoint
  backend/src/libs/guards/teamRoles.guard.ts
  backend/src/modules/teams/applications/delete.team.application.ts
  backend/src/modules/teams/controller/team.controller.ts
  backend/src/modules/teams/interfaces/applications/delete.team.application.interface.ts
  backend/src/modules/teams/interfaces/services/delete.team.service.interface.ts
  backend/src/modules/teams/interfaces/types.ts
  backend/src/modules/teams/providers.ts
  backend/src/modules/teams/services/delete.team.service.ts
  backend/src/modules/teams/teams.module.ts
Labels: enhancement, backend

#637 feat: add delete team endpoint ui
  frontend/src/api/teamService.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardEnd.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/DeleteTeam.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/hooks/useTeamUtils.tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/store/team/atom/team.atom.tsx
  frontend/src/types/team/useTeam.ts
Labels: enhancement, frontend

#640 fix: fetchData method return
  frontend/src/utils/fetchData.tsx
Labels: bug

#647 fix: unauthorised error on dashboard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/pages/api/auth/[...nextauth].tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/index.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/dashboard/index.tsx
  frontend/src/types/next-auth.d.ts
  frontend/src/types/token.ts
  frontend/src/types/user/user.ts
  frontend/src/utils/fetchData.tsx
Labels: bug
