Repository xgeekshq/split, pull requests merged in 2023-01, with the labels that each got.

#736 feat: add select team to regular board
  frontend/src/components/CreateBoard/BoardName.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/RadioGroupParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/RadioGroupParticipants/styles.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SelectTeam/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTab/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTab/styles.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/index.tsx
  frontend/src/components/CreateBoard/Select/index.tsx
  frontend/src/components/CreateBoard/Select/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/styles.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/schema/schemaCreateRegularBoard.ts
  frontend/src/styles/pages/boards/newRegularBoard.styles.tsx
  frontend/src/styles/pages/boards/newSplitBoard.styles.tsx
Labels: enhancement, frontend

#768 fix: large names
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
Labels: bug, frontend

#769 chore: update jwt packages
  backend/package-lock.json
  backend/package.json
Labels: backend, dependencies

#764 fix: only makes request when the dialog is opened
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/index.tsx
Labels: bug

#771 fix: get user info
  backend/src/modules/users/applications/get.user.application.ts
  backend/src/modules/users/controller/users.controller.ts
  backend/src/modules/users/interfaces/applications/get.user.application.interface.ts
  frontend/jest.setup.js
  frontend/src/__tests__/index.test.tsx
  frontend/src/api/userService.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/index.tsx
  frontend/src/components/Users/UserEdit/partials/UserHeader/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardBody.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/EditUser.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/hooks/useUser.tsx
  frontend/src/hooks/useUserUtils.tsx
  frontend/src/pages/users/[userId].tsx
  frontend/src/types/user/user.ts
  frontend/src/utils/routes.ts
Labels: bug, frontend, backend

#772 feat: participants tab select participants
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/ListParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/SelectParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SelectTeam/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/DropdownStakeholders/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/DropdownUsers/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/DropdownUsers/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/StakeholdersBox/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/UsersBox/index.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/SearchInput.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/styles.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
Labels: enhancement, frontend

#774 feat: configurations tab
  frontend/src/components/CreateBoard/Configurations/BoardConfigurations.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/ListParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/SelectParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/index.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/index.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/new.tsx
Labels: enhancement, frontend

#783 feat: filter boards by team fe
  frontend/src/components/Boards/MyBoards/EmptyTeamBoards/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardsByTeam/index.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/Boards/TeamHeader.tsx
  frontend/src/pages/boards/index.tsx
Labels: enhancement, frontend

#784 fix: multiple bugs
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/Team/CardEnd/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/hooks/useTeam.tsx
Labels: bug, frontend

#789 fix: random responsible generator fixed
  frontend/src/components/Board/Settings/index.tsx
Labels: bug, frontend

#786 feat: create regular board action frontend
  backend/src/modules/boards/applications/delete.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/interfaces/applications/delete.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/delete.board.service.interface.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/boards/services/get.board.service.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/components/CardBoard/DeleteBoard.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/types/board/useBoard.ts
Labels: enhancement, frontend

#787 fix: votes
  backend/src/libs/exceptions/messages.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/cards/services/delete.card.service.ts
  backend/src/modules/votes/applications/create.vote.application.ts
  backend/src/modules/votes/applications/delete.vote.application.ts
  backend/src/modules/votes/controller/votes.controller.ts
  backend/src/modules/votes/interfaces/applications/create.vote.application.interface.ts
  backend/src/modules/votes/interfaces/applications/delete.vote.application.interface.ts
  backend/src/modules/votes/interfaces/services/create.vote.service.interface.ts
  backend/src/modules/votes/interfaces/services/delete.vote.service.interface.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/hooks/useVotes.tsx
Labels: bug, frontend, backend

#793 feat: add empty regular board
  frontend/src/components/Dashboard/RecentRetros/index.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
Labels: enhancement, frontend

#799 fix: fix add responsibles field to boardData
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
Labels: bug, frontend

#797 feat: design select on selecting teams
  frontend/src/components/Boards/Filters/FilterBoards.tsx
  frontend/src/components/Boards/Filters/FilterSelect.tsx
  frontend/src/components/Boards/Filters/styles.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/store/board/atoms/board.atom.tsx
Labels: frontend

#796 fix: votes and responsibles
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/hooks/useVotes.tsx
Labels: bug, backend

#802 fix: some bugs
  backend/src/modules/communication/adapters/slack-communication-gate.adapter.ts
  backend/src/modules/communication/producers/slack-communication.producer.ts
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/styles.tsx
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/Boards/MyBoards/styles.tsx
  frontend/src/components/Primitives/Button.tsx
  frontend/src/components/Primitives/Dialog/DialogFooter.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardTitle.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardBody.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/EditUser.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/hooks/useComments.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/styles/stitches/partials/colors/primary.colors.ts
Labels: bug, frontend, backend

#804 fix: comment sort by date, create anonymous comments in card group
  backend/src/modules/comments/controller/comments.controller.ts
  backend/src/modules/comments/interfaces/applications/delete.comment.application.interface.ts
  backend/src/modules/comments/interfaces/services/delete.comment.service.interface.ts
  backend/src/modules/comments/schemas/comment.schema.ts
  backend/src/modules/comments/services/create.comment.service.ts
  backend/src/modules/comments/services/delete.comment.service.ts
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useComments.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/types/comment/comment.ts
Labels: bug, frontend, backend

#807 fix: fix newJoiner status, responsible of subBoard
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/teams/repositories/team-user.repository.ts
  backend/src/modules/teams/repositories/team.repository.ts
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/hooks/useSocketIO.ts
  frontend/src/pages/teams/new.tsx
Labels: bug

#814 fix: padding of stakeholders box when creating board
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/BoxContainer/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/UsersBox/index.tsx
Labels: bug, frontend

#805 feat: personal filter boads page endpoint
  backend/src/modules/boards/applications/get.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/interfaces/applications/get.board.application.interface.ts
  backend/src/modules/boards/interfaces/findQuery.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/get.board.service.ts
Labels: enhancement, backend

#820 fix: add slack enable in the sub boards
  backend/src/modules/boards/services/create.board.service.ts
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/Dashboard/RecentRetros/index.tsx
Labels: bug, backend

#818 fix: board access and other fixes
  backend/src/modules/schedules/services/create.schedules.service.ts
  frontend/.eslintrc.json
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/styles.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/schema/schemaRegisterForm.ts
Labels: bug, frontend

#823 fix: bug names
  frontend/src/components/Boards/TeamHeader.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardTitle.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardBody.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardTitle.tsx
Labels: bug, frontend

#826 fix: text area new line and height
  backend/src/modules/communication/applications/slack-communication.application.ts
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Primitives/TextArea.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: bug, frontend

#827 fix: update card position and votes with sockets
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/cards/dto/update-position.card..dto.ts
  backend/src/modules/socket/gateway/socket.gateway.ts
  backend/src/modules/teams/repositories/team.repository.ts
  backend/src/modules/votes/controller/votes.controller.ts
  backend/src/modules/votes/dto/vote.dto.ts
  backend/src/modules/votes/services/create.vote.service.ts
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/hooks/useSocketIO.ts
  frontend/src/hooks/useVotes.tsx
  frontend/src/types/vote/vote.dto.ts
Labels: bug, frontend, backend

#828 fix: validation text area on change
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/cards/dto/update-position.card..dto.ts
  backend/src/modules/cards/dto/update-position.card.dto.ts
  backend/src/modules/socket/gateway/socket.gateway.ts
  frontend/src/components/Primitives/TextArea.tsx
Labels: bug, frontend

#839 fix: users distributed evenly per sub board
  backend/src/modules/boards/services/create.board.service.ts
  frontend/src/hooks/useCreateBoard.tsx
Labels: bug, frontend, backend

#836 fix: unmerge, avoid requesting on success, handle erros
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/utils/populate-board.ts
  backend/src/modules/cards/services/create.card.service.ts
  backend/src/modules/cards/services/delete.card.service.ts
  backend/src/modules/cards/services/merge.card.service.ts
  backend/src/modules/cards/services/unmerge.card.service.ts
  backend/src/modules/cards/services/update.card.service.ts
  backend/src/modules/cards/shared/push.card.ts
  backend/src/modules/comments/applications/update.comment.application.ts
  backend/src/modules/comments/controller/comments.controller.ts
  backend/src/modules/comments/dto/update.comment.dto.ts
  backend/src/modules/comments/interfaces/applications/update.comment.application.interface.ts
  backend/src/modules/comments/interfaces/services/update.comment.service.interface.ts
  backend/src/modules/comments/services/create.comment.service.ts
  backend/src/modules/comments/services/delete.comment.service.ts
  backend/src/modules/comments/services/update.comment.service.ts
  backend/src/modules/schedules/services/create.schedules.service.ts
  frontend/.eslintrc.json
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/Comment/Comments.tsx
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/hooks/useComments.tsx
  frontend/src/types/comment/updateComment.dto.ts
Labels: bug, frontend

#843 fix: verifyNewJoiner function in backend
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/teams/repositories/team-user.repository.ts
  frontend/src/utils/verifyIfIsNewJoiner.ts
Labels: bug, backend

#841 fix: team members list ordering
  backend/src/libs/repositories/interfaces/base.repository.interface.ts
  backend/src/libs/repositories/mongo/mongo-generic.repository.ts
  backend/src/modules/teams/services/update.team.service.ts
  backend/src/modules/users/services/get.user.service.ts
  backend/src/modules/users/utils/sortings.ts
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/ListParticipants/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/index.tsx
Labels: bug, frontend, backend

#851 fix: votes
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/hooks/useVotes.tsx
Labels: bug, frontend

#853 fix: board loading
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/teams/repositories/team.repository.ts
  backend/src/modules/teams/services/get.team.service.ts
  frontend/src/components/Board/Header/index.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/CardBoard/CardBody/CardTitle.tsx
  frontend/src/components/CardBoard/CardBody/CardTitle/partials/Title/styles.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/dashboard/index.tsx
Labels: bug, frontend, backend

#852 fix: team page member sort
  backend/src/modules/teams/services/get.team.service.ts
Labels: bug, backend

#864 refactor: sockets
  backend/src/libs/utils/boardVotesIdHidden.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/boards/utils/clean-board.ts
  backend/src/modules/cards/applications/update.card.application.ts
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/cards/dto/create.card.dto.ts
  backend/src/modules/cards/dto/delete.card.dto.ts
  backend/src/modules/cards/dto/group/merge.card.dto.ts
  backend/src/modules/cards/dto/unmerge.dto.ts
  backend/src/modules/cards/dto/update.card.dto.ts
  backend/src/modules/cards/interfaces/applications/create.card.application.interface.ts
  backend/src/modules/cards/interfaces/applications/merge.card.application.interface.ts
  backend/src/modules/cards/interfaces/applications/unmerge.card.application.interface.ts
  backend/src/modules/cards/interfaces/applications/update.card.application.interface.ts
  backend/src/modules/cards/interfaces/services/create.card.service.interface.ts
  backend/src/modules/cards/interfaces/services/get.card.service.interface.ts
  backend/src/modules/cards/interfaces/services/merge.card.service.interface.ts
  backend/src/modules/cards/interfaces/services/unmerge.card.service.interface.ts
  backend/src/modules/cards/interfaces/services/update.card.service.interface.ts
  backend/src/modules/cards/schemas/card.item.schema.ts
  backend/src/modules/cards/schemas/card.schema.ts
  backend/src/modules/cards/services/create.card.service.ts
  backend/src/modules/cards/services/delete.card.service.ts
  backend/src/modules/cards/services/get.card.service.ts
  backend/src/modules/cards/services/merge.card.service.ts
  backend/src/modules/cards/services/unmerge.card.service.ts
  backend/src/modules/cards/services/update.card.service.ts
  backend/src/modules/cards/shared/push.card.ts
  backend/src/modules/comments/applications/create.comment.application.ts
  backend/src/modules/comments/comments.module.ts
  backend/src/modules/comments/controller/comments.controller.ts
  backend/src/modules/comments/dto/create.comment.dto.ts
  backend/src/modules/comments/dto/delete.comment.dto.ts
  backend/src/modules/comments/dto/update.comment.dto.ts
  backend/src/modules/comments/interfaces/applications/create.comment.application.interface.ts
  backend/src/modules/comments/interfaces/services/create.comment.service.interface.ts
  backend/src/modules/comments/services/create.comment.service.ts
  backend/src/modules/socket/gateway/socket.gateway.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Card/DeleteCard.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/Comment/Comments.tsx
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/hooks/useComments.tsx
  frontend/src/hooks/useSocketIO.ts
  frontend/src/hooks/useVotes.tsx
  frontend/src/types/card/addCard.dto.ts
  frontend/src/types/card/deleteCard.dto.ts
  frontend/src/types/card/removeFromCardGroup.dto.ts
  frontend/src/types/comment/addComment.dto.ts
Labels: frontend

#855 fix: registered users amount
  backend/src/modules/teams/services/get.team.service.ts
  backend/src/modules/users/services/get.user.service.ts
  frontend/src/api/userService.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
Labels: bug

#860 fix: team admin stakeholder cant access sub boards
  frontend/src/pages/boards/[boardId].tsx
Labels: bug, frontend

#857 feat: personal boards page
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/RegularBoard/index.tsx
  frontend/src/components/Board/SplitBoard/AlertGoToMainBoard/index.tsx
  frontend/src/components/Board/SplitBoard/AlertMergeIntoMain/index.tsx
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/components/Board/SplitBoard/Header/styles.tsx
  frontend/src/components/Board/SplitBoard/Settings/index.tsx
  frontend/src/components/Board/SplitBoard/Settings/partials/ConfigurationSettings/SwitchThumbComponent.tsx
  frontend/src/components/Board/SplitBoard/Settings/partials/ConfigurationSettings/index.tsx
  frontend/src/components/Board/SplitBoard/Settings/styles.tsx
  frontend/src/components/Primitives/Dialog/DialogFooter.tsx
  frontend/src/components/Primitives/Dialog/DialogHeader.tsx
  frontend/src/components/Primitives/Dialog/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/SuperAdmin.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: enhancement, frontend

#863 feat: regular board list board users
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/index.tsx
  frontend/src/components/CardBoard/CardAvatars.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: enhancement, frontend

#873 fix: dashboard links
  frontend/src/components/Dashboard/Tiles/index.tsx
  frontend/src/components/Dashboard/Tiles/styles.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
Labels: enhancement, frontend

#867 chore: update react query
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/index.test.tsx
  frontend/src/components/Boards/MyBoards/ListBoardsByTeam/index.tsx
  frontend/src/components/Boards/MyBoards/ListPersonalBoards/index.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/Dashboard/RecentRetros/index.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/ListOfCards/index.tsx
  frontend/src/components/Errors/QueryError.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/index.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/hooks/useBoardUtils.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/hooks/useComments.tsx
  frontend/src/hooks/useSocketBoardIO.ts
  frontend/src/hooks/useSocketIO.ts
  frontend/src/hooks/useTeam.tsx
  frontend/src/hooks/useTeamUtils.tsx
  frontend/src/hooks/useUser.tsx
  frontend/src/hooks/useUserUtils.tsx
  frontend/src/hooks/useVotes.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/index.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/pages/dashboard/index.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/pages/users/[userId].tsx
  frontend/src/types/board/useBoard.ts
  frontend/src/types/team/useTeam.ts
  frontend/src/types/user/user.ts
Labels: frontend, dependencies, changes

#872 fix: bug drop down design
  frontend/src/components/Boards/Filters/FilterBoards.tsx
  frontend/src/components/Boards/Filters/FilterSelect.tsx
  frontend/src/components/Boards/Filters/styles.tsx
Labels: bug, frontend

#880 feat: column operation popover
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/partials/ColorSquare/index.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/index.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/styles.tsx
  frontend/src/components/Board/Column/partials/SwitchDefaultText/index.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/Board/RegularBoard/index.tsx
  frontend/src/components/Primitives/Switch.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: enhancement, frontend

#884 fix: gap between team-rows
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/index.tsx
  frontend/src/components/Users/UserEdit/partials/ListOfCards/index.tsx
Labels: bug, frontend

#889 fix: bug new board design fixes
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/RadioGroupParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/index.tsx
  frontend/src/components/CreateBoard/Select/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SettingsTabs.tsx
Labels: bug, frontend

#879 fix: regular board update board name
  backend/src/libs/guards/boardRoles.guard.ts
  backend/src/modules/boards/applications/update.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/interfaces/applications/update.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/update.board.service.interface.ts
  backend/src/modules/boards/services/update.board.service.ts
Labels: bug, backend

#892 feat: make board public ui
  frontend/src/components/Board/RegularBoard/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/ConfigurationSwitch.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/SwitchThumbComponent.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/index.tsx
  frontend/src/components/Board/Settings/partials/TeamResponsible/index.tsx
  frontend/src/components/Board/Settings/styles.tsx
  frontend/src/components/Primitives/Dialog/DialogFooter.tsx
  frontend/src/components/Primitives/Dialog/DialogHeader.tsx
  frontend/src/components/Primitives/Dialog/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/SuperAdmin.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/types/board/board.ts
Labels: enhancement, frontend

#897 fix: last updated dates not showing in boards list page
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/ListOfCards/index.tsx
Labels: bug, frontend

#893 fix: bug login page design and bugs
  frontend/src/components/Primitives/Input.tsx
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/pages/api/auth/[...nextauth].tsx
  frontend/src/pages/index.tsx
Labels: bug, frontend

#898 fix: new split board team selection
  frontend/src/components/CreateBoard/Select/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/index.tsx
Labels: bug, frontend

#907 fix: card amount background color
  frontend/src/components/Board/Column/Column.tsx
Labels: bug, frontend

#905 fix: unify scrolling behavior on create new x pages
  frontend/src/components/CreateBoard/TipBar.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/styles.tsx
  frontend/src/components/Teams/CreateTeam/TipBar/index.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/styles/pages/boards/newSplitBoard.styles.tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: bug, frontend

#908 fix: card settings background color
  frontend/src/components/Board/Column/partials/SortMenu/styles.tsx
  frontend/src/components/Primitives/Popover.tsx
Labels: bug, frontend

#910 fix: font weight board settings and add new card buttons
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: bug, frontend

#906 fix: super-admin access
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
Labels: bug, frontend

#911 fix: store state on create slack group checkbox
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug, frontend

#916 fix: split instead of splitted
  frontend/src/components/CardBoard/CardBody/CardTitle.tsx
  frontend/src/components/CardBoard/CardBody/CardTitle/index.tsx
  frontend/src/components/CreateBoard/TipBar.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug, frontend

#891 feat: column operations actions
  backend/src/libs/utils/generateBoardData.ts
  backend/src/modules/boards/applications/delete.board.application.ts
  backend/src/modules/boards/applications/update.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/dto/column/column.dto.ts
  backend/src/modules/boards/dto/column/update-column.dto.ts
  backend/src/modules/boards/interfaces/applications/delete.board.application.interface.ts
  backend/src/modules/boards/interfaces/applications/update.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/delete.board.service.interface.ts
  backend/src/modules/boards/interfaces/services/update.board.service.interface.ts
  backend/src/modules/boards/schemas/column.schema.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
Labels: backend

#920 fix: removed decimal part
  frontend/src/hooks/useCreateBoard.tsx
Labels: bug, frontend

#921 fix: new split board page scroll
  frontend/src/components/Board/Settings/styles.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/styles.tsx
  frontend/src/components/CreateBoard/TipBar.tsx
  frontend/src/styles/pages/boards/newSplitBoard.styles.tsx
Labels: bug, frontend

#923 fix: enableSlack with hook form and fix form submissions
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug, frontend

#913 fix: slack participants and votes
  backend/src/libs/constants/database.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useCards.tsx
  frontend/src/hooks/useComments.tsx
  frontend/src/hooks/useSocketIO.ts
  frontend/src/hooks/useVotes.tsx
  frontend/src/store/operations/atom/operations-queue.atom.ts
Labels: bug, frontend, backend

#925 fix: verify checkbox id
  frontend/src/components/Primitives/Checkbox.tsx
Labels: bug, frontend

#927 fix: scrollable containers margins
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardBody.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
Labels: bug, frontend

#929 feat: regular board add remove edit move board columns
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/AddColumnButton.tsx
  frontend/src/components/Board/Settings/partials/Columns/ColumnBoxAndDelete.tsx
  frontend/src/components/Board/Settings/partials/Columns/DeleteButton.tsx
  frontend/src/components/Board/Settings/partials/Columns/DisabledDeleteButton.tsx
  frontend/src/components/Board/Settings/partials/Columns/index.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/SwitchThumbComponent.tsx
  frontend/src/components/Board/Settings/styles.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/schema/schemaUpdateBoardForm.ts
  frontend/src/store/board/atoms/board.atom.tsx
  frontend/src/styles/stitches/partials/sizes.ts
  frontend/src/types/board/board.ts
  frontend/src/types/column.ts
Labels: enhancement, frontend

#935 feat: storybook
  frontend/.eslintrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview-head.html
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/stories/Box.stories.tsx
  frontend/src/stories/Button.stories.tsx
Labels: documentation, enhancement, frontend

#930 fix: add alert button and disabled select color
  frontend/src/components/CreateBoard/Select/index.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug, frontend

#939 feat: flex story
  frontend/src/stories/Box.stories.tsx
  frontend/src/stories/Button.stories.tsx
  frontend/src/stories/Flex.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
  frontend/src/stories/utils/index.tsx
Labels: documentation, enhancement

#940 feat: regular board add remove edit move board columns
  backend/src/modules/boards/dto/board.dto.ts
  frontend/src/components/Board/Column/partials/OptionsMenu/index.tsx
  frontend/src/components/Board/RegularBoard/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/DeleteButton.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/store/board/atoms/board.atom.tsx
  frontend/src/types/board/board.ts
Labels: enhancement, frontend

#948 fix: set check value only on slackEnable
  frontend/src/components/Primitives/Checkbox.tsx
Labels: bug, frontend

#943 fix: missing socket send room
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/communication/adapters/slack-communication-gate.adapter.ts
  backend/src/modules/socket/gateway/socket.gateway.ts
Labels: bug, frontend, backend

#947 feat: add user to main channel; fix deleted user issues
  backend/src/modules/azure/azure.module.ts
  backend/src/modules/azure/services/auth.azure.service.ts
  backend/src/modules/communication/applications/slack-add-user-channel.application.ts
  backend/src/modules/communication/communication.module.ts
  backend/src/modules/communication/communication.providers.ts
  backend/src/modules/communication/consumers/slack-add-user-channel.consummer.ts
  backend/src/modules/communication/dto/types.ts
  backend/src/modules/communication/interfaces/communication.application.interface copy.ts
  backend/src/modules/communication/interfaces/slack-communication.service.interface.ts
  backend/src/modules/communication/interfaces/types.ts
  backend/src/modules/communication/producers/slack-add-user-channel.producer.ts
  backend/src/modules/communication/services/slack-communication.service.ts
  backend/src/modules/communication/services/slack-disabled-communication.service.ts
  backend/src/modules/teams/services/get.team.service.ts
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/FilterBoardMembers/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/Primitives/Avatar.tsx
  frontend/src/components/Teams/CreateTeam/ListMembers/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/teams/[teamId].tsx
Labels: backend

#951 refactor: protect team names duplication
  backend/src/libs/constants/team.ts
  backend/src/modules/teams/entities/teams.schema.ts
  backend/src/modules/teams/services/create.team.service.ts
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/errors/teams/errors.ts
  frontend/src/hooks/useTeam.tsx
Labels: enhancement, frontend, backend

#952 fix: use unique name or email to add a user into slack main channel
  backend/src/modules/azure/services/auth.azure.service.ts
Labels: bug

#949 fix: button primitive component normalization
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/AddColumnButton.tsx
  frontend/src/components/Board/Settings/styles.tsx
  frontend/src/components/Board/SplitBoard/AlertMergeIntoMain/index.tsx
  frontend/src/components/Boards/Filters/FilterBoards.tsx
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/SelectParticipants/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/QuickEditSubTeams.tsx
  frontend/src/components/Primitives/Button.tsx
  frontend/src/components/Primitives/Dialog/DialogFooter.tsx
  frontend/src/components/Primitives/Dialog/DialogHeader.tsx
  frontend/src/components/Primitives/Dialog/styles.tsx
  frontend/src/components/Teams/CreateTeam/AddMemberBtn/index.tsx
  frontend/src/components/Teams/CreateTeam/AddMemberBtn/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListCardsMembers/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/styles.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/components/Teams/Team/ListCardMembers/index.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/styles.tsx
  frontend/src/components/Users/UserEdit/partials/UserHeader/index.tsx
  frontend/src/components/auth/ForgotPassword/EmailSent.tsx
  frontend/src/components/auth/ForgotPassword/ResetPassword.tsx
  frontend/src/components/auth/ForgotPassword/TroubleLogin.tsx
  frontend/src/components/auth/LoginForm/LoginSSO.tsx
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/components/auth/LoginForm/styles.tsx
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/components/auth/SignUp/SignUpOptionsForm.tsx
  frontend/src/components/layouts/DashboardLayout/index.tsx
  frontend/src/components/layouts/DashboardLayout/styles.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/500.tsx
  frontend/src/pages/board-deleted.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/stories/Button.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
  frontend/src/styles/pages/boards/new.styles.tsx
  frontend/src/styles/pages/boards/newSplitBoard.styles.tsx
  frontend/src/styles/pages/error.styles.tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: bug, frontend

#953 feat: text primitive story & fixes
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Card/PopoverSettings.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/index.tsx
  frontend/src/components/Board/Column/partials/UpdateColumnDialog/index.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/Comment/PopoverSettings.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/ConfigurationSwitch.tsx
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardsByTeam/EmptyTeamBoards/index.tsx
  frontend/src/components/Boards/MyBoards/ListPersonalBoards/EmptyPersonalBoards.tsx/index.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/components/CardBoard/CardBody/CountCards.tsx
  frontend/src/components/CreateBoard/BoardName.tsx
  frontend/src/components/CreateBoard/Configurations/BoardConfigurations.tsx
  frontend/src/components/CreateBoard/RegularBoard/SelectTeam/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/MainBoardCard/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/TeamTab/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/DropdownUsers/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/QuickEditSubTeams.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/index.tsx
  frontend/src/components/CreateBoard/TipBar.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/EmptyBoards/index.tsx
  frontend/src/components/Primitives/Input.tsx
  frontend/src/components/Primitives/Text.tsx
  frontend/src/components/Sidebar/partials/Header/index.tsx
  frontend/src/components/Teams/CreateTeam/CardEnd/RoleDescription.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/BoardsInfo.tsx
  frontend/src/components/Teams/TeamsList/partials/EmptyTeams/index.tsx
  frontend/src/components/Users/UserEdit/partials/UserHeader/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/SuperAdmin.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/components/auth/ForgotPassword/EmailSent.tsx
  frontend/src/components/auth/ForgotPassword/ResetPassword.tsx
  frontend/src/components/auth/ForgotPassword/TroubleLogin.tsx
  frontend/src/components/auth/LoginForm/LoginSSO.tsx
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/components/auth/SignUp/SignUpOptionsForm.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/500.tsx
  frontend/src/pages/board-deleted.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/stories/Box.stories.tsx
  frontend/src/stories/Button.stories.tsx
  frontend/src/stories/Text.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
Labels: bug, documentation, frontend

#955 fix: settings in a split board
  backend/src/libs/utils/ordinal-date.ts
  backend/src/modules/communication/applications/slack-communication.application.ts
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/schema/schemaUpdateBoardForm.ts
Labels: bug, frontend

#962 fix: create regular board working
  backend/src/modules/boards/services/create.board.service.ts
Labels: bug, backend

#972 fix: close popover when modal is opened
  frontend/src/components/Board/Card/PopoverSettings.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/index.tsx
Labels: bug, frontend

#974 feat: alertdialog story
  frontend/src/components/Board/Card/DeleteCard.tsx
  frontend/src/components/Board/Column/partials/UpdateColumnDialog/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/DeleteButton.tsx
  frontend/src/components/Board/SplitBoard/AlertMergeIntoMain/index.tsx
  frontend/src/components/CardBoard/DeleteBoard.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/QuickEditSubTeams.tsx
  frontend/src/components/Primitives/AlertCustomDialog/index.tsx
  frontend/src/components/Primitives/AlertCustomDialog/styles.tsx
  frontend/src/components/Primitives/AlertDialog.tsx
  frontend/src/components/Primitives/Button.tsx
  frontend/src/components/Primitives/Text.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/DeleteTeam.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/DeleteUser.tsx
  frontend/src/stories/AlertDialog.stories.tsx
  frontend/src/stories/Button.stories.tsx
Labels: documentation, frontend

#978 fix: participants
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
Labels: bug, frontend

#980 feat: avatar primitive story
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/FilterBoardMembers/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SubCardBoard.tsx
  frontend/src/components/Primitives/Avatar.tsx
  frontend/src/stories/Avatar.stories.tsx
Labels: documentation, frontend
