Repository xgeekshq/split, pull requests merged in 2023-02, with the labels that each got.

#983 fix: main board settings
  backend/src/modules/azure/services/auth.azure.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  frontend/src/hooks/useCards.tsx
Labels: bug, backend

#993 feat: popover primitive refactor and story
  frontend/src/components/Board/Card/PopoverSettings.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/index.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/styles.tsx
  frontend/src/components/Board/Column/partials/SortMenu.tsx
  frontend/src/components/Board/Column/partials/SortMenu/index.tsx
  frontend/src/components/Board/Column/partials/SortMenu/styles.tsx
  frontend/src/components/Board/Comment/PopoverSettings.tsx
  frontend/src/components/Primitives/Card.tsx
  frontend/src/components/Primitives/Fieldset.tsx
  frontend/src/components/Primitives/HoverCard.tsx
  frontend/src/components/Primitives/Popover.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/RoleSettings.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/styles.tsx
  frontend/src/stories/Button.stories.tsx
  frontend/src/stories/Popover.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
Labels: documentation, frontend

#1000 fix: isNewJoiner period and votes
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/utils/verifyIfIsNewJoiner.ts
Labels: bug

#994 feat: delete board columns/handle votes
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/dto/update-board.dto.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/RegularBoard/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/DeleteButton.tsx
  frontend/src/store/board/atoms/board.atom.tsx
  frontend/src/types/board/useBoard.ts
Labels: frontend, backend

#999 fix: order board members
  frontend/src/components/Boards/MyBoards/ListBoardMembers/index.tsx
Labels: bug, frontend

#1005 feat: radiogroup primitive refactor and story
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/RadioGroupParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/RadioGroupParticipants/styles.tsx
  frontend/src/components/Primitives/RadioGroup.tsx
  frontend/src/stories/RadioGroup.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
Labels: documentation, frontend

#1015 feat: select primitive refactor and story
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CreateBoard/RegularBoard/SelectTeam/index.tsx
  frontend/src/components/CreateBoard/Select/index.tsx
  frontend/src/components/CreateBoard/Select/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/TeamTab/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/TeamTab/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/index.tsx
  frontend/src/components/Primitives/Select.tsx
  frontend/src/stories/Select.stories.tsx
  package-lock.json
Labels: documentation, frontend

#1013 fix: teams page has all teams in application
  backend/src/modules/teams/applications/get.team.application.ts
  backend/src/modules/teams/controller/team.controller.ts
  backend/src/modules/teams/interfaces/applications/get.team.application.interface.ts
  backend/src/modules/teams/interfaces/services/get.team.service.interface.ts
  backend/src/modules/teams/services/get.team.service.ts
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/hooks/useTeamUtils.tsx
  frontend/src/pages/boards/index.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/types/team/useTeam.ts
Labels: bug, frontend, backend

#1016 feat: delete all card from a column
  backend/src/libs/dto/colum.deleteCards.dto.ts
  backend/src/modules/boards/applications/update.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/dto/column/column.dto.ts
  backend/src/modules/boards/dto/column/update-column.dto.ts
  backend/src/modules/boards/interfaces/applications/update.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/update.board.service.interface.ts
  backend/src/modules/boards/schemas/column.schema.ts
  backend/src/modules/boards/services/update.board.service.ts
Labels: enhancement, backend

#1011 fix: adding a column doesn't affect previous edited columns
  frontend/src/components/Board/Settings/partials/Columns/ColumnBoxAndDelete.tsx
  frontend/src/components/Primitives/Input.tsx
Labels: bug, frontend

#1025 feat: separator primitive refactor and story
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Card/CardItem/CardItemList.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/index.tsx
  frontend/src/components/Board/Comment/Comments.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/FilterBoardMembers/index.tsx
  frontend/src/components/Boards/TeamHeader.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/components/CardBoard/CardBody/CenterMainBoard.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/CardAvatars/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/MainBoardCard/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SettingsTabs.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SubCardBoard.tsx
  frontend/src/components/Primitives/AlertDialog.tsx
  frontend/src/components/Primitives/Avatar/Avatar.tsx
  frontend/src/components/Primitives/Avatar/AvatarGroup.tsx
  frontend/src/components/Primitives/Separator.tsx
  frontend/src/components/Sidebar/partials/Content/index.tsx
  frontend/src/components/Sidebar/partials/Content/styles.tsx
  frontend/src/components/Sidebar/partials/Header/index.tsx
  frontend/src/components/Sidebar/partials/Separator.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardEnd.tsx
  frontend/src/stories/Avatar.stories.tsx
  frontend/src/stories/AvatarGroup.stories.tsx
  frontend/src/stories/Select.stories.tsx
  frontend/src/stories/Separator.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
Labels: documentation, frontend

#1018 feat: delete column/cards on a board
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/partials/AlertDeleteAllCards/index.tsx
  frontend/src/components/Board/Column/partials/AlertDeleteColumn/index.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/index.tsx
  frontend/src/components/Board/Column/partials/UpdateColumnDialog/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/hooks/useColumn.tsx
  frontend/src/types/column.ts
Labels: enhancement, frontend

#1027 fix: populates
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/boards/utils/populate-board.ts
  backend/src/modules/cards/applications/delete.card.application.ts
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/cards/interfaces/applications/delete.card.application.interface.ts
  backend/src/modules/cards/interfaces/services/delete.card.service.interface.ts
  backend/src/modules/cards/services/delete.card.service.ts
  backend/src/modules/schedules/services/create.schedules.service.ts
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Card/PopoverSettings.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/RegularBoard/index.tsx
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardsByTeam/index.tsx
  frontend/src/components/Boards/MyBoards/ListPersonalBoards/index.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/QuickEditSubTeams.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/src/components/Dashboard/RecentRetros/index.tsx
Labels: bug, frontend, backend

#1007 feat: show board participants frontend
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantCard.tsx/index.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantsLayout.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/index.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardsByTeam/index.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/components/CreateBoard/RegularBoard/SelectTeam/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SettingsTabs.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/index.tsx
  frontend/src/components/Primitives/Avatar/AvatarGroup.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/BoardsInfo.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardEnd.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/index.tsx
  frontend/src/components/Users/UserEdit/partials/ListOfCards/index.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/index.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/[boardId]/participants.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/store/board/atoms/board.atom.tsx
  frontend/src/types/board/board.user.ts
  frontend/src/types/team/team.ts
Labels: enhancement, frontend

#1029 feat: svg primitive story
  frontend/.storybook/preview.js
  frontend/src/components/Primitives/Shape.tsx
  frontend/src/stories/AlertDialog.stories.tsx
  frontend/src/stories/Button.stories.tsx
  frontend/src/stories/Popover.stories.tsx
  frontend/src/stories/Select.stories.tsx
  frontend/src/stories/Svg.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
Labels: documentation, frontend

#1032 fix: disable card drag on mainboard
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Column/styles.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/Comment/Comments.tsx
Labels: bug, frontend

#1036 feat: storybook deployment
  frontend/.dockerignore
  frontend/.gitignore
  frontend/.storybook/main.js
  frontend/Dockerfile
  frontend/next.config.js
  frontend/package.json
Labels: frontend, infra, docker

#1033 feat: switch primitive refactor and story
  frontend/src/components/Board/Column/partials/SwitchDefaultText/index.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/ConfigurationSwitch.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/SwitchThumbComponent.tsx
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/components/CreateBoard/Configurations/BoardConfigurations.tsx
  frontend/src/components/Primitives/Switch.tsx
  frontend/src/components/Teams/CreateTeam/CardMember/index.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/SuperAdmin.tsx
  frontend/src/stories/Switch.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
Labels: documentation, frontend

#1037 fix: blur, hide cards, hide text, post anonymously
  backend/src/libs/utils/hideText.ts
  backend/src/modules/boards/dto/board.dto.ts
  backend/src/modules/boards/interfaces/services/create.board.service.interface.ts
  backend/src/modules/boards/schemas/board.schema.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/schedules/services/create.schedules.service.ts
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Card/CardItem/CardItemList.tsx
  frontend/src/components/Board/Column/CardsList.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/partials/AlertDeleteColumn/index.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/Comment/Comments.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/CreateBoard/Configurations/BoardConfigurations.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/helper/board/blurFilter.ts
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/store/createBoard/atoms/create-board.atom.tsx
  frontend/src/types/board/board.ts
  frontend/src/types/column.ts
Labels: bug, frontend, backend

#1042 feat: textarea primitive story
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Column/partials/UpdateColumnDialog/index.tsx
  frontend/src/components/Primitives/TextArea.tsx
  frontend/src/stories/TextArea.stories.tsx
Labels: documentation, frontend

#1043 fix: class validator
  backend/package-lock.json
  backend/src/modules/boards/dto/board.dto.ts
  backend/src/modules/boards/dto/column/column.dto.ts
  backend/src/modules/cards/dto/card.dto.ts
  backend/src/modules/cards/dto/card.item.dto.ts
  backend/src/modules/comments/dto/comment.dto.ts
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/hooks/useVotes.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/styles/stitches/partials/colors/primary.colors.ts
Labels: bug

#1044 fix: clean board and hide comments updating the cards visibility
  backend/src/modules/boards/utils/clean-board.ts
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/components/Board/Comment/Comments.tsx
Labels: bug

#1040 fix: input onChange handler
  frontend/src/components/auth/LoginForm/index.tsx
Labels: bug, frontend

#1046 feat: tab primitive storybook
  frontend/.storybook/preview.js
  frontend/src/components/CreateBoard/Configurations/BoardConfigurations.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/RadioGroupParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/styles.tsx
  frontend/src/components/CreateBoard/SplitBoard/SettingsTabs.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/TeamSubTeamsConfigurations.tsx
  frontend/src/components/Primitives/Tab.tsx
  frontend/src/stories/Tab.stories.tsx
  frontend/src/styles/pages/boards/index.styles.tsx
Labels: enhancement, frontend

#1049 feat: toast primitive story
  frontend/.storybook/preview.js
  frontend/src/components/Primitives/Image.tsx
  frontend/src/components/Primitives/Label.tsx
  frontend/src/components/Primitives/Toast.tsx
  frontend/src/pages/index.tsx
  frontend/src/stories/Toast.stories.tsx
Labels: documentation, frontend

#1050 feat: call archive slack channels service when a board is deleted
  backend/src/modules/boards/services/delete.board.service.ts
Labels: backend

#1051 fix: update comments as responsible
  backend/src/modules/boards/utils/clean-board.ts
  backend/src/modules/cards/dto/card.item.dto.ts
  backend/src/modules/comments/services/update.comment.service.ts
  backend/src/modules/communication/applications/slack-merge-board.application.ts
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Comment/Comment.tsx
  frontend/src/helper/board/countCards.ts
  frontend/src/hooks/useCards.tsx
Labels: bug

#1058 fix: dynamic tabs
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SettingsTabs.tsx
  frontend/src/components/Primitives/Tab.tsx
  frontend/src/stories/Tab.stories.tsx
Labels: frontend

#1061 feat: basic recoil dev tools
  frontend/package-lock.json
  frontend/src/components/RecoilDevTools/RecoilDevTools.tsx
  frontend/src/pages/_app.tsx
  frontend/src/utils/constants.ts
  package-lock.json
Labels: enhancement, frontend

#1056 feat: show board participants endpoint
  backend/src/modules/boards/applications/update.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/dto/add.remove.board.user.dto.ts
  backend/src/modules/boards/dto/board.user.dto.ts
  backend/src/modules/boards/interfaces/applications/update.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/update.board.service.interface.ts
  backend/src/modules/boards/services/update.board.service.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantsLayout.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SettingsTabs.tsx
  frontend/src/hooks/useBoardUtils.tsx
  frontend/src/hooks/useParticipants.tsx
  frontend/src/pages/boards/[boardId]/participants.tsx
  frontend/src/types/board/board.user.ts
Labels: enhancement, backend

#1067 chore: add maze script
  frontend/src/pages/_app.tsx
Labels: infra

#1057 feat: checkbox primitive refactor and story
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/MainBoardCard/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/components/Primitives/Select.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/index.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/index.tsx
  frontend/src/components/Users/UserEdit/partials/UserHeader/index.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/stories/Checkbox.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
  frontend/src/types/team/team.ts
Labels: documentation, frontend

#1069 fix: hide comment
  backend/src/modules/boards/utils/clean-board.ts
Labels: backend

#1070 fix: optimistic update onSettled return added users with id
  backend/src/modules/boards/services/update.board.service.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantCard.tsx/index.tsx
  frontend/src/hooks/useParticipants.tsx
  frontend/src/types/board/board.user.ts
Labels: enhancement, frontend

#1074 feat: regular board no team edit responsible
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantCard.tsx/index.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantsLayout.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/index.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/HeaderParticipants.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/RegularBoard/index.tsx
Labels: bug, enhancement, frontend

#1075 feat: regular board no team edit responsible endpoint
  backend/src/modules/boards/applications/update.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/dto/update-board-user.dto.ts
  backend/src/modules/boards/interfaces/applications/update.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/update.board.service.interface.ts
  backend/src/modules/boards/services/update.board.service.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantCard.tsx/index.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantsLayout.tsx
  frontend/src/hooks/useParticipants.tsx
  frontend/src/types/board/board.user.ts
Labels: enhancement, backend

#1076 feat: input primitive refactor story
  frontend/.storybook/preview.js
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Column/partials/UpdateColumnDialog/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/ColumnBoxAndDelete.tsx
  frontend/src/components/CreateBoard/BoardName.tsx
  frontend/src/components/Primitives/Input.tsx
  frontend/src/components/Primitives/Input/index.tsx
  frontend/src/components/Primitives/Input/styles.tsx
  frontend/src/components/Teams/CreateTeam/TeamName.tsx
  frontend/src/components/Teams/CreateTeam/index.tsx
  frontend/src/components/auth/ForgotPassword/ResetPassword.tsx
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/stories/Input.stories.tsx
Labels: bug, documentation, enhancement, frontend

#1080 fix: renamed keys of atoms
  frontend/src/store/operations/atom/operations-queue.atom.ts
  frontend/src/store/vote/atoms/vote.atom.tsx
Labels: bug, frontend

#1085 fix: participants list ordered by responsibles>member
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/[boardId]/participants.tsx
Labels: bug, frontend

#1083 feat: drag and drop column
  backend/src/modules/boards/services/update.board.service.ts
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardFooter.tsx
  frontend/src/components/Board/Column/CardsList.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/styles.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
Labels: enhancement, frontend

#1078 fix: add slack channel id to a team
  backend/src/modules/communication/applications/slack-communication.application.spec.ts
  backend/src/modules/communication/applications/slack-communication.application.ts
Labels: bug, backend

#1087 feat: add template for to improve cards
  backend/src/libs/utils/generateBoardData.ts
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/CreateBoard/BoardName.tsx
  frontend/src/components/Primitives/TextArea.tsx
  frontend/src/helper/board/defaultColumns.ts
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/schema/schemaCreateBoardForm.ts
  frontend/src/schema/schemaUpdateBoardForm.ts
  frontend/src/store/createBoard/atoms/create-board.atom.tsx
Labels: enhancement, frontend, backend

#1088 fix: added more space between columns
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/ColumnBoxAndDelete.tsx
Labels: frontend

#1091 fix: placeholder replaces card
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Card/CardItem/CardItemList.tsx
  frontend/src/components/Board/Column/CardsList.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/helper/board/defaultColumns.ts
  frontend/src/types/board/board.ts
  frontend/src/utils/constants.ts
Labels: bug, frontend

#1095 fix: primitive style overrides
  frontend/.storybook/manager.js
  frontend/.storybook/preview.js
  frontend/.storybook/splitTheme.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/split_logo.svg
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/HeaderParticipants.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/ColumnBoxAndDelete.tsx
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SubCardBoard.tsx
  frontend/src/components/Primitives/AlertDialog.tsx
  frontend/src/components/Primitives/Avatar/Avatar.tsx
  frontend/src/components/Primitives/Avatar/AvatarGroup.tsx
  frontend/src/components/Primitives/Button.tsx
  frontend/src/components/Primitives/Input/styles.tsx
  frontend/src/components/Primitives/Popover.tsx
  frontend/src/components/Primitives/Switch.tsx
  frontend/src/stories/AlertDialog.stories.tsx
  frontend/src/stories/Avatar.stories.tsx
  frontend/src/stories/AvatarGroup.stories.tsx
  frontend/src/stories/Box.stories.tsx
  frontend/src/stories/Button.stories.tsx
  frontend/src/stories/Checkbox.stories.tsx
  frontend/src/stories/Flex.stories.tsx
  frontend/src/stories/Input.stories.tsx
  frontend/src/stories/Popover.stories.tsx
  frontend/src/stories/RadioGroup.stories.tsx
  frontend/src/stories/Select.stories.tsx
  frontend/src/stories/Separator.stories.tsx
  frontend/src/stories/Svg.stories.tsx
  frontend/src/stories/Switch.stories.tsx
  frontend/src/stories/Tab.stories.tsx
  frontend/src/stories/Text.stories.tsx
  frontend/src/stories/TextArea.stories.tsx
  frontend/src/stories/Toast.stories.tsx
  frontend/src/stories/mocks/avatarGroup_listUsers.ts
  frontend/src/stories/types/PrimitiveTypes.tsx
Labels: documentation, enhancement, frontend

#1094 fix: form field reseting
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/ColumnBoxAndDelete.tsx
  frontend/src/components/Board/Settings/partials/Columns/DeleteButton.tsx
  frontend/src/components/Primitives/Dialog/index.tsx
  frontend/src/components/Primitives/Input/index.tsx
  frontend/src/pages/_app.tsx
  frontend/src/schema/schemaUpdateBoardForm.ts
Labels: bug, frontend

#1103 chore: remove maze code
  frontend/public/vercel.svg
  frontend/src/pages/_app.tsx
Labels: changes

#1097 fix: textarea validation state
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Primitives/TextArea.tsx
Labels: bug, frontend

#1104 feat: loadings primitive & story
  frontend/src/components/Board/RegularBoard/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/Dashboard/RecentRetros/partials/ListOfCards/index.tsx
  frontend/src/components/Primitives/Loading/Dots/index.tsx
  frontend/src/components/Primitives/Loading/Dots/styles.tsx
  frontend/src/components/Primitives/Loading/Page.tsx
  frontend/src/components/Primitives/Loading/Spinner.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/index.tsx
  frontend/src/components/Users/UserEdit/partials/ListOfCards/index.tsx
  frontend/src/components/Users/UsersList/partials/ListOfCards/index.tsx
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/components/layouts/Layout/index.tsx
  frontend/src/components/loadings/LoadingPage/index.tsx
  frontend/src/components/loadings/LoadingPage/styles.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/[boardId]/participants.tsx
  frontend/src/pages/boards/index.tsx
  frontend/src/pages/boards/new.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/pages/dashboard/index.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/pages/users/[userId].tsx
  frontend/src/pages/users/index.tsx
  frontend/src/stories/Loading/Dots.stories.tsx
  frontend/src/stories/Loading/Page.stories.tsx
  frontend/src/stories/Loading/Spinner.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: documentation, frontend

#1105 fix: new line of the default text
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Primitives/TextArea.tsx
Labels: bug, frontend

#1093 feat: regular board public private
  backend/src/libs/dto/response/login-guest-user.response.ts
  backend/src/libs/exceptions/messages.ts
  backend/src/modules/auth/applications/register.auth.application.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/auth/controller/auth.controller.ts
  backend/src/modules/auth/interfaces/applications/register.auth.application.interface.ts
  backend/src/modules/auth/interfaces/services/register.auth.service.interface.ts
  backend/src/modules/auth/services/register.auth.service.ts
  backend/src/modules/boards/applications/get.board.application.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/controller/public.boards.controller.ts
  backend/src/modules/boards/interfaces/applications/get.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/create.board.service.interface.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/columns/controller/columns.controller.spec.ts
  backend/src/modules/users/dto/create.guest.user.dto.ts
  backend/src/modules/users/entities/user.schema.ts
  backend/src/modules/users/interfaces/services/create.user.service.interface.ts
  backend/src/modules/users/repository/user.repository.ts
  backend/src/modules/users/services/create.user.service.ts
  backend/src/modules/users/services/get.user.service.ts
Labels: enhancement, backend

#1110 feat: breadcrumbs primitive & story
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/components/Primitives/Breadcrumb/index.tsx
  frontend/src/components/Primitives/Breadcrumb/styles.tsx
  frontend/src/components/Teams/Team/Header/index.tsx
  frontend/src/components/Users/UserEdit/partials/UserHeader/index.tsx
  frontend/src/components/breadcrumb/Breadcrumb/index.tsx
  frontend/src/components/breadcrumb/Breadcrumb/styles.tsx
  frontend/src/components/breadcrumb/BreadcrumbItem/index.tsx
  frontend/src/stories/Breadcrumb.stories.tsx
Labels: documentation, frontend

#1109 feat: tooltip primitive story
  frontend/src/components/Primitives/Tooltip/styles.tsx
  frontend/src/stories/Tooltip.stories.tsx
Labels: documentation, frontend

#1113 feat: alert box primitive story
  frontend/src/components/Board/Column/styles.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/Primitives/AlertBox/index.tsx
  frontend/src/components/Primitives/AlertBox/styles.tsx
  frontend/src/stories/AlertBox.stories.tsx
Labels: documentation, frontend

#1107 feat: dialog primitive story
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/styles.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardMembers/styles.tsx
  frontend/src/components/Primitives/Dialog/DialogFooter.tsx
  frontend/src/components/Primitives/Dialog/DialogHeader.tsx
  frontend/src/components/Primitives/Dialog/index.tsx
  frontend/src/components/Primitives/Dialog/styles.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/index.tsx
  frontend/src/components/Teams/CreateTeam/ListMembersDialog/styles.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/index.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/styles.tsx
  frontend/src/stories/Dialog.stories.tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: documentation, frontend

#1115 fix: fix board page scroll and add margin bottom
  frontend/src/components/Board/DragDropArea/index.tsx
Labels: bug, frontend

#1116 fix: add comment on own cards if they are hidden
  frontend/src/components/Board/Card/CardFooter.tsx
Labels: bug, frontend

#1118 fix: dialog form scroll and submit
  frontend/src/components/Board/Settings/index.tsx
Labels: bug, frontend

#1121 feat: icons with search
  frontend/src/components/icons/Sprite.tsx
  frontend/src/stories/Icons.stories.tsx
  frontend/src/stories/components/Card.tsx
Labels: documentation, frontend

#1122 fix: regular board change tab
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/RadioGroupParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/SelectParticipants/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/index.tsx
Labels: bug, frontend

#1128 fix: hide or show recoil dev tools based on a env var
  frontend/next.config.js
  frontend/src/pages/_app.tsx
  frontend/src/utils/constants.ts
Labels: bug

#1130 fix: timer position
  frontend/src/components/Board/RegularBoard/index.tsx
  frontend/src/components/Primitives/Dialog/index.tsx
  frontend/src/components/Primitives/Dialog/styles.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: bug, frontend

#1131 fix: board number when the responsible is changed
  backend/src/modules/boards/services/update.board.service.ts
Labels: bug

#1132 feat(auth-azure): upload and set user photo on login
  backend/package-lock.json
  backend/package.json
  backend/src/infrastructure/config/config.module.ts
  backend/src/infrastructure/config/configuration.ts
  backend/src/libs/constants/azure.ts
  backend/src/libs/constants/storage.ts
  backend/src/modules/auth/auth.providers.ts
  backend/src/modules/auth/shared/login.auth.ts
  backend/src/modules/azure/azure.module.ts
  backend/src/modules/azure/azure.providers.ts
  backend/src/modules/azure/interfaces/services/cron.azure.service.interface.ts
  backend/src/modules/azure/services/auth.azure.service.ts
  backend/src/modules/azure/services/cron.azure.service.ts
  backend/src/modules/storage/interfaces/services/storage.service.ts
  backend/src/modules/storage/interfaces/types.ts
  backend/src/modules/storage/services/storage.service.ts
  backend/src/modules/storage/storage.module.ts
  backend/src/modules/storage/storage.providers.ts
  backend/src/modules/users/dto/user.dto.ts
  backend/src/modules/users/entities/user.schema.ts
  backend/src/modules/users/interfaces/services/update.user.service.interface.ts
  backend/src/modules/users/repository/user.repository.interface.ts
  backend/src/modules/users/repository/user.repository.ts
  backend/src/modules/users/services/update.user.service.ts
  docker-compose.yaml
  frontend/package-lock.json
  frontend/src/pages/api/auth/[...nextauth].tsx
  frontend/src/types/next-auth.d.ts
  frontend/src/types/user/create-login.user.ts
  package-lock.json
Labels: enhancement, frontend, backend

#1136 feat: sidebar story, refactor and tests
  .gitignore
  frontend/.storybook/main.js
  frontend/.storybook/preview-head.html
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/index.test.tsx
  frontend/src/components/Primitives/Toast.tsx
  frontend/src/components/Sidebar/Sidebar.spec.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/components/Sidebar/partials/Banner.tsx
  frontend/src/components/Sidebar/partials/Content/Content.spec.tsx
  frontend/src/components/Sidebar/partials/Content/Content.tsx
  frontend/src/components/Sidebar/partials/Content/index.tsx
  frontend/src/components/Sidebar/partials/Content/styles.tsx
  frontend/src/components/Sidebar/partials/Header/Header.spec.tsx
  frontend/src/components/Sidebar/partials/Header/Header.tsx
  frontend/src/components/Sidebar/partials/Header/styles.tsx
  frontend/src/components/Sidebar/partials/Item/Item.spec.tsx
  frontend/src/components/Sidebar/partials/Item/Item.tsx
  frontend/src/components/Sidebar/styles.tsx
  frontend/src/components/layouts/Layout/index.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/stories/Misc/Colors.stories.tsx
  frontend/src/stories/Misc/Icons.stories.tsx
  frontend/src/stories/Navigation/Sidebar.stories.tsx
  frontend/src/stories/Primitives/AlertBox.stories.tsx
  frontend/src/stories/Primitives/AlertDialog.stories.tsx
  frontend/src/stories/Primitives/Avatar/Avatar.stories.tsx
  frontend/src/stories/Primitives/Avatar/AvatarGroup.stories.tsx
  frontend/src/stories/Primitives/Box.stories.tsx
  frontend/src/stories/Primitives/Breadcrumb.stories.tsx
  frontend/src/stories/Primitives/Button.stories.tsx
  frontend/src/stories/Primitives/Checkbox.stories.tsx
  frontend/src/stories/Primitives/Dialog.stories.tsx
  frontend/src/stories/Primitives/Flex.stories.tsx
  frontend/src/stories/Primitives/Input.stories.tsx
  frontend/src/stories/Primitives/Loading/Dots.stories.tsx
  frontend/src/stories/Primitives/Loading/Page.stories.tsx
  frontend/src/stories/Primitives/Loading/Spinner.stories.tsx
  frontend/src/stories/Primitives/Popover.stories.tsx
  frontend/src/stories/Primitives/RadioGroup.stories.tsx
  frontend/src/stories/Primitives/Select.stories.tsx
  frontend/src/stories/Primitives/Separator.stories.tsx
  frontend/src/stories/Primitives/Svg.stories.tsx
  frontend/src/stories/Primitives/Switch.stories.tsx
  frontend/src/stories/Primitives/Tab.stories.tsx
  frontend/src/stories/Primitives/Text.stories.tsx
  frontend/src/stories/Primitives/TextArea.stories.tsx
  frontend/src/stories/Primitives/Toast.stories.tsx
  frontend/src/stories/Primitives/Tooltip.stories.tsx
  frontend/src/utils/routes.ts
  frontend/src/utils/testing/mocks.ts
  package.json
Labels: documentation, frontend, tests

#1140 feat: dashboard tiles story and tests
  frontend/.storybook/preview-head.html
  frontend/src/components/Dashboard/Tiles/Tile/Tile.spec.tsx
  frontend/src/components/Dashboard/Tiles/Tile/Tile.tsx
  frontend/src/components/Dashboard/Tiles/Tiles.spec.tsx
  frontend/src/components/Dashboard/Tiles/index.tsx
  frontend/src/components/Dashboard/Tiles/styles.tsx
  frontend/src/components/Primitives/Icon.tsx
  frontend/src/components/Primitives/Svg.tsx
  frontend/src/stories/Dashboard/Tile.stories.tsx
  frontend/src/stories/Dashboard/Tiles/Tiles.stories.tsx
  frontend/src/stories/Primitives/Svg.stories.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
Labels: documentation, frontend, tests

#1142 feat: main page header refactor story and tests
  backend/package-lock.json
  frontend/.storybook/preview-head.html
  frontend/package-lock.json
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantsLayout.tsx
  frontend/src/components/Sidebar/partials/Content/Content.spec.tsx
  frontend/src/components/Sidebar/partials/Header/Header.spec.tsx
  frontend/src/components/Sidebar/partials/Item/Item.spec.tsx
  frontend/src/components/layouts/DashboardLayout/index.tsx
  frontend/src/components/layouts/DashboardLayout/styles.tsx
  frontend/src/components/layouts/Layout/index.tsx
  frontend/src/components/layouts/Layout/partials/MainPageHeader.spec.tsx
  frontend/src/components/layouts/Layout/partials/MainPageHeader.tsx
  frontend/src/components/layouts/Layout/styles.tsx
  frontend/src/pages/boards/[boardId]/participants.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/users/[userId].tsx
  frontend/src/stories/Layouts/MainPageHeader.stories.tsx
  package-lock.json
Labels: documentation, frontend, tests

#1134 feat: regular board public private frontend
  backend/src/libs/dto/response/login-guest-user.response.ts
  backend/src/libs/exceptions/messages.ts
  backend/src/libs/repositories/types/index.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/auth/interfaces/applications/register.auth.application.interface.ts
  backend/src/modules/auth/interfaces/services/register.auth.service.interface.ts
  backend/src/modules/auth/services/register.auth.service.ts
  backend/src/modules/boards/controller/public.boards.controller.ts
  backend/src/modules/boards/dto/board.guest.user.dto.ts
  backend/src/modules/socket/gateway/socket.gateway.ts
  backend/src/modules/users/dto/guest.user.dto.ts
  backend/src/modules/users/entities/user.schema.ts
  backend/src/modules/users/repository/user.repository.interface.ts
  backend/src/modules/users/repository/user.repository.ts
  backend/src/modules/users/services/create.user.service.ts
  backend/src/modules/users/services/get.user.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/authService.tsx
  frontend/src/api/boardService.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/index.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/HeaderParticipants.tsx
  frontend/src/components/Board/RegularBoard/ReagularHeader/index.tsx
  frontend/src/components/Board/RegularBoard/index.tsx
  frontend/src/components/HOC/requireAuthentication.tsx
  frontend/src/components/auth/GuestUserForm/index.tsx
  frontend/src/components/layouts/Layout/index.tsx
  frontend/src/helper/board/transformBoard.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/hooks/useBoardUtils.tsx
  frontend/src/hooks/useSocketIO.ts
  frontend/src/hooks/useUser.tsx
  frontend/src/hooks/useVotes.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/[boardId]/participants.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/login-guest-user/[boardId].tsx
  frontend/src/pages/users/index.tsx
  frontend/src/schema/schemaLoginGuestForm.ts
  frontend/src/styles/pages/login-guest-user.styles.tsx
  frontend/src/types/board/board.user.ts
  frontend/src/types/board/useBoard.ts
  frontend/src/types/user/create-login.user.ts
  frontend/src/types/user/user.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/fetchData.tsx
  frontend/src/utils/getGuestUserCookies.ts
  frontend/src/utils/getUsername.ts
  frontend/src/utils/routes.ts
Labels: enhancement, frontend, backend

#1153 fix: endpoint returns paginated boards to sAdmin
  backend/src/modules/boards/services/get.board.service.ts
Labels: bug, frontend

#1154 refactor: subboard link
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/get.board.service.ts
  frontend/src/components/Board/SplitBoard/Header/index.tsx
  frontend/src/hooks/useParticipants.tsx
  frontend/src/types/board/board.ts
Labels: backend

#1158 fix(azure): if statement to get token
  backend/src/modules/azure/services/auth.azure.service.ts
Labels: bug, backend

#1159 fix: get non anonymous users
  backend/src/modules/users/repository/user.repository.ts
Labels: bug, backend

#1149 refactor: change sub board name
  backend/src/libs/utils/generateBoardData.ts
  backend/src/modules/communication/applications/slack-communication.application.ts
  backend/src/modules/communication/dto/team.dto.ts
  backend/src/modules/communication/dto/types.ts
  frontend/src/hooks/useCreateBoard.tsx
Labels: enhancement, frontend, backend

#1160 refactor: enhance swagger on updateBoardPhase
  backend/src/modules/boards/controller/boards.controller.ts
Labels: enhancement, backend

#1164 feat: team item refactor, story & tests
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.storybook/previewMockAuthStates.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Primitives/Avatar/AvatarGroup.tsx
  frontend/src/components/Primitives/Text.tsx
  frontend/src/components/Sidebar/Sidebar.spec.tsx
  frontend/src/components/Sidebar/partials/Content/Content.tsx
  frontend/src/components/Sidebar/partials/Header/Header.spec.tsx
  frontend/src/components/Teams/CreateTeam/CardEnd/RoleDescription.tsx
  frontend/src/components/Teams/Team/CardEnd/index.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/index.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/partials/DeleteTeam.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/partials/TeamBoards.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/partials/TeamTitle.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardBody.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardEnd.tsx
  frontend/src/components/Teams/TeamsList/partials/CardTeam/CardTitle.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/index.tsx
  frontend/src/components/Users/UserEdit/partials/ListOfCards/index.tsx
  frontend/src/mocks/server.ts
  frontend/src/stories/Navigation/Sidebar.stories.tsx
  frontend/src/stories/Primitives/Avatar/AvatarGroup.stories.tsx
  frontend/src/stories/Teams/TeamCard.stories.tsx
  frontend/src/stories/mocks/avatarGroup_listUsers.ts
  frontend/src/stories/utils/createTeamUser.ts
  frontend/src/styles/stitches/partials/sizes.ts
  frontend/src/types/utils.ts
  frontend/src/utils/factories/team.ts
  frontend/src/utils/factories/user.ts
  frontend/src/utils/range.ts
  frontend/src/utils/testing/index.tsx
  frontend/src/utils/testing/mocks.ts
  frontend/src/utils/testing/renderWithProviders.tsx
  frontend/tsconfig.json
Labels: documentation, frontend, tests

#1156 feat: send xgeeks board phase to slack
  backend/src/libs/constants/slack.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/repositories/board.repository.interface.ts
  backend/src/modules/boards/repositories/board.repository.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/columns/controller/columns.controller.spec.ts
  backend/src/modules/communication/applications/slack-send-message-channel.application.ts
  backend/src/modules/communication/communication.module.ts
  backend/src/modules/communication/communication.providers.ts
  backend/src/modules/communication/consumers/slack-send-message.consumer.ts
  backend/src/modules/communication/dto/slack.message.dto.ts
  backend/src/modules/communication/dto/types.ts
  backend/src/modules/communication/interfaces/SendMessageApplication.interface.ts
  backend/src/modules/communication/interfaces/send-message.service.interface.ts
  backend/src/modules/communication/interfaces/types.ts
  backend/src/modules/communication/producers/slack-send-message-channel.producer.ts
  backend/src/modules/communication/services/slack-send-messages.service.ts
  frontend/src/hooks/useBoard.tsx
  frontend/src/types/board/useBoard.ts
Labels: enhancement, backend
