Repository xgeekshq/split, pull requests merged in 2023-05, with the labels that each got.

#1446 feat: add users responsiveness
  frontend/src/components/Primitives/Badge/Badge.tsx
  frontend/src/components/Primitives/Inputs/Button/Button.tsx
  frontend/src/components/Primitives/Inputs/Switches/ConfigurationSwitch/ConfigurationSwitch.tsx
  frontend/src/components/Primitives/Inputs/UncontrolledInput/UncontrolledInput.tsx
  frontend/src/components/Users/UsersList/UserItem/UserItem.tsx
  frontend/src/components/Users/UsersList/UserItem/UserItemActions/UserItemActions.tsx
  frontend/src/components/Users/UsersList/UsersList.tsx
  frontend/src/components/Users/UsersList/UsersSubHeader/UsersSubHeader.tsx
  frontend/src/pages/users/index.tsx
  frontend/src/styles/pages/pages.styles.tsx
  frontend/src/styles/stitches/partials/sizes.ts
Labels: enhancement, frontend

#1445 refactor: change types for constants on azure module
  backend/src/modules/azure/applications/check-user.azure.use-case.ts
  backend/src/modules/azure/applications/register-or-login.azure.use-case.ts
  backend/src/modules/azure/azure.providers.ts
  backend/src/modules/azure/constants.ts
  backend/src/modules/azure/controller/azure.controller.spec.ts
  backend/src/modules/azure/controller/azure.controller.ts
  backend/src/modules/azure/interfaces/types.ts
  frontend/src/components/Primitives/DatePicker/DatePicker.spec.tsx
Labels: backend

#1450 fix: sso trigger validations
  frontend/src/components/auth/LoginForm/index.tsx
Labels: bug, frontend

#1453 fix: card colors position
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/index.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/styles.tsx
Labels: bug, frontend

#1448 refactor: test comments module
  backend/src/libs/test-utils/mocks/factories/comment-factory.mock.ts
  backend/src/modules/comments/applications/create-comment.use-case.spec.ts
  backend/src/modules/comments/applications/delete-comment.use-case.spec.ts
  backend/src/modules/comments/applications/update-comment.use-case.spec.ts
  backend/src/modules/comments/controller/comments.controller.ts
Labels: backend, tests

#1456 fix: remove scheduling from board settings
  frontend/src/components/Board/Settings/index.tsx
Labels: frontend

#1457 fix: scroll on boards list
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/Users/UsersList/UsersList.tsx
  frontend/src/components/layouts/Layout/styles.tsx
Labels: bug, frontend

#1459 fix: query function without return
  frontend/src/hooks/auth/useSignUp.tsx
Labels: bug, frontend

#1461 fix: popover border in main board
  frontend/src/components/Board/SplitBoard/Header/index.tsx
Labels: bug, frontend

#1452 test: board users
  backend/src/modules/boardUsers/applications/update-board-users.spec.ts
  backend/src/modules/boardUsers/applications/update-board-users.use-case.ts
  backend/src/modules/boardUsers/boardusers.module.ts
  backend/src/modules/boardUsers/boardusers.providers.ts
  backend/src/modules/boardUsers/constants.ts
  backend/src/modules/boardUsers/controller/board-user.controller.ts
  backend/src/modules/boardUsers/services/create-board-user.service.spec.ts
  backend/src/modules/boardUsers/services/create.board.user.service.ts
  backend/src/modules/boardUsers/services/delete-board-user.service.spec.ts
  backend/src/modules/boardUsers/services/delete.board.user.service.ts
  backend/src/modules/boardUsers/services/get-board-user.service.spec.ts
  backend/src/modules/boardUsers/services/get.board.user.service.ts
  backend/src/modules/boardUsers/services/update-board-user.service.spec.ts
  backend/src/modules/boardUsers/services/update.board.user.service.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/boards.providers.ts
  backend/src/modules/boards/constants.ts
  backend/src/modules/boards/controller/boards.controller.ts
  frontend/src/api/boardService.tsx
Labels: backend, tests

#1463 fix: round maxUsers to 2 decimal places
  backend/src/modules/boards/services/create.board.service.ts
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/QuickEditSubTeams/QuickEditSubTeams.tsx
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug, frontend, backend

#1466 fix: timer design
  frontend/src/components/Board/Timer/index.tsx
  frontend/src/components/Board/Timer/styles.tsx
Labels: bug, frontend
