Repository xgeekshq/split, pull requests merged in 2023-03, with the labels that each got.

#1168 feat: team list refactor and tests
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/index.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/partials/TeamTitle.tsx
  frontend/src/components/Teams/TeamsList/TeamsList.spec.tsx
  frontend/src/components/Teams/TeamsList/index.tsx
  frontend/src/components/Teams/TeamsList/partials/EmptyTeams.tsx
  frontend/src/components/Teams/TeamsList/partials/EmptyTeams/index.tsx
  frontend/src/components/Teams/TeamsList/partials/EmptyTeams/styles.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/index.tsx
  frontend/src/components/Teams/TeamsList/partials/ListOfCards/styles.tsx
  frontend/src/components/Users/UserEdit/index.tsx
  frontend/src/components/Users/UserEdit/partials/ListOfCards/index.tsx
  frontend/src/components/layouts/Layout/index.tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/pages/users/[userId].tsx
  frontend/src/stories/Teams/TeamCard.stories.tsx
  frontend/src/utils/routes.ts
  frontend/src/utils/testing/mocks.ts
  frontend/src/utils/testing/renderWithProviders.tsx
Labels: frontend, tests

#1174 fix: merged subboard banner
  frontend/src/components/CardBoard/CardBody/CardTitle.tsx
  frontend/src/pages/boards/[boardId].tsx
Labels: bug, frontend

#1169 refactor: remove server side props logic to a single request on backend
  backend/src/libs/exceptions/messages.ts
  backend/src/modules/auth/applications/register.auth.application.ts
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/auth/interfaces/applications/register.auth.application.interface.ts
  backend/src/modules/auth/interfaces/services/register.auth.service.interface.ts
  backend/src/modules/auth/services/register.auth.service.ts
  backend/src/modules/boards/applications/get.board.application.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/boards.providers.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/controller/public.boards.controller.ts
  backend/src/modules/boards/interfaces/applications/get.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/create.board.service.interface.ts
  backend/src/modules/boards/interfaces/services/create.board.user.service.interface.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/interfaces/types.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/create.board.user.service.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/utils/populate-board.ts
  backend/src/modules/columns/controller/columns.controller.spec.ts
  backend/src/modules/users/dto/create.guest.user.dto.ts
  frontend/src/api/authService.tsx
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/hooks/useParticipants.tsx
  frontend/src/hooks/useUser.tsx
  frontend/src/pages/api/auth/[...nextauth].tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/pages/boards/[boardId]/participants.tsx
  frontend/src/types/board/board.ts
  frontend/src/types/user/user.ts
Labels: backend

#1171 fix: merge board last message
  backend/src/modules/boards/repositories/board.repository.interface.ts
  backend/src/modules/boards/repositories/board.repository.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/communication/applications/slack-merge-board.application.ts
Labels: bug, backend

#1177 feat: get board guard
  backend/src/libs/guards/getBoardPermissions.guard.ts
  backend/src/modules/boards/applications/get.board.application.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/interfaces/applications/get.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/users/dto/user.dto.ts
Labels: enhancement, backend

#1189 fix: fix board creator permissions on a regular board
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantCard.tsx/index.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/index.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/CreateBoard/BoardName.tsx
  frontend/src/components/Teams/Team/ListMembers/ListMembersDialog/index.tsx
  frontend/src/pages/boards/[boardId]/participants.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug, frontend

#1178 refactor: create board and board user repository
  backend/src/libs/guards/getBoardPermissions.guard.ts
  backend/src/libs/repositories/interfaces/base.repository.interface.ts
  backend/src/libs/repositories/mongo/mongo-generic.repository.ts
  backend/src/libs/test-utils/mocks/factories/board-factory.mock.ts
  backend/src/libs/utils/generateBoardData.ts
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/auth/services/register.auth.service.ts
  backend/src/modules/boards/applications/create.board.application.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/boards.providers.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/dto/board.dto.ts
  backend/src/modules/boards/dto/board.user.dto.ts
  backend/src/modules/boards/dto/createBoard.dto.ts
  backend/src/modules/boards/entities/board.schema.ts
  backend/src/modules/boards/entities/board.user.schema.ts
  backend/src/modules/boards/interfaces/applications/create.board.application.interface.ts
  backend/src/modules/boards/interfaces/services/create.board.service.interface.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/interfaces/types.ts
  backend/src/modules/boards/repositories/board-user.repository.interface.ts
  backend/src/modules/boards/repositories/board-user.repository.ts
  backend/src/modules/boards/repositories/board.repository.interface.ts
  backend/src/modules/boards/repositories/board.repository.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/create.board.user.service.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/cards/dto/card.item.dto.ts
  backend/src/modules/columns/controller/columns.controller.spec.ts
  backend/src/modules/columns/entities/column.schema.ts
  backend/src/modules/columns/services/update.column.service.spec.ts
  backend/src/modules/columns/services/update.column.service.ts
  backend/src/modules/comments/dto/comment.dto.ts
  backend/src/modules/schedules/schedules.module.ts
  backend/src/modules/schedules/services/create.schedules.service.ts
  backend/src/modules/teams/interfaces/types.ts
  backend/src/modules/teams/repositories/team-user.repository.ts
  backend/src/modules/teams/repositories/team.repository.ts
  backend/src/modules/users/services/update.user.service.ts
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantCard.tsx/index.tsx
  frontend/src/types/board/board.ts
Labels: enhancement, backend

#1194 fix: delete query to db to get mainboardid
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/auth/services/validate-user.auth.service.spec.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/dto/update-board.dto.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/repositories/board.repository.interface.ts
  backend/src/modules/boards/repositories/board.repository.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/columns/controller/columns.controller.spec.ts
  backend/src/modules/teams/entities/teams.schema.ts
  backend/src/modules/teams/services/get.team.service.ts
  frontend/src/components/Board/Column/partials/AlertDeleteColumn/index.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/types/board/board.ts
Labels: bug, frontend, backend

#1196 fix: remove populate path fro boards on team repo
  backend/src/modules/teams/repositories/team.repository.ts
Labels: bug, backend

#1198 fix: create board page design
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug, frontend

#1192 feat: primitive testing
  frontend/src/components/Primitives/AlertBox.spec.tsx
  frontend/src/components/Primitives/AlertBox.tsx
  frontend/src/components/Primitives/AlertBox/index.tsx
  frontend/src/components/Primitives/AlertBox/styles.tsx
  frontend/src/components/Primitives/AlertDialog.spec.tsx
  frontend/src/components/Primitives/AlertDialog.tsx
  frontend/src/components/Primitives/Checkbox.spec.tsx
  frontend/src/components/Primitives/Checkbox.tsx
  frontend/src/components/Primitives/Select.spec.tsx
  frontend/src/components/Primitives/Select.tsx
  frontend/src/components/Primitives/Switch.spec.tsx
  frontend/src/components/Primitives/Switch.tsx
  frontend/src/components/Primitives/Tab.spec.tsx
  frontend/src/components/Primitives/Tab.tsx
  frontend/src/components/Primitives/Toast.tsx
  frontend/src/stories/Primitives/AlertBox.stories.tsx
Labels: frontend, tests

#1203 feat: confirmation dialog refactor
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Card/CardItem/CardItem.tsx
  frontend/src/components/Board/Card/DeleteCard.tsx
  frontend/src/components/Board/Card/PopoverSettings.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/Column/partials/AlertDeleteAllCards/index.tsx
  frontend/src/components/Board/Column/partials/AlertDeleteColumn/index.tsx
  frontend/src/components/Board/Column/partials/OptionsMenu/index.tsx
  frontend/src/components/Board/Column/partials/UpdateColumnDialog/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Board/Settings/partials/Columns/ColumnBoxAndDelete.tsx
  frontend/src/components/Board/Settings/partials/Columns/DeleteButton.tsx
  frontend/src/components/Board/SplitBoard/AlertMergeIntoMain/index.tsx
  frontend/src/components/Board/SplitBoard/AlertSubmitPhase/index.tsx
  frontend/src/components/Board/SplitBoard/AlertVotePhase/index.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/components/CardBoard/DeleteBoard.tsx
  frontend/src/components/Primitives/AlertDialog.tsx
  frontend/src/components/Primitives/ConfirmationDialog.spec.tsx
  frontend/src/components/Primitives/ConfirmationDialog.tsx
  frontend/src/components/Primitives/Popover.tsx
  frontend/src/components/Primitives/Tooltip/index.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/index.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/partials/DeleteTeam.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/partials/DeleteTeam.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/CardEnd.tsx
  frontend/src/components/Users/UsersList/partials/CardUser/DeleteUser.tsx
  frontend/src/pages/boards/[boardId].tsx
  frontend/src/stories/Primitives/ConfirmationDialog.stories.tsx
Labels: enhancement, frontend

#1208 fix: checkbox position
  frontend/src/components/Board/AddCardOrComment.tsx
Labels: bug, frontend

#1201 refactor: vote repository
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/repositories/board-user.repository.interface.ts
  backend/src/modules/boards/repositories/board-user.repository.ts
  backend/src/modules/columns/controller/columns.controller.spec.ts
  backend/src/modules/columns/services/update.column.service.spec.ts
  backend/src/modules/comments/dto/comment.dto.ts
  backend/src/modules/votes/applications/create.vote.application.ts
  backend/src/modules/votes/applications/delete.vote.application.ts
  backend/src/modules/votes/interfaces/repositories/vote.repository.interface.ts
  backend/src/modules/votes/interfaces/types.ts
  backend/src/modules/votes/repositories/vote.repository.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  backend/src/modules/votes/votes.module.ts
  backend/src/modules/votes/votes.providers.ts
Labels: backend

#1209 refactor: schedule repository
  backend/package-lock.json
  backend/package.json
  backend/src/libs/repositories/interfaces/base.repository.interface.ts
  backend/src/libs/repositories/mongo/mongo-generic.repository.ts
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/azure/controller/azure.controller.spec.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/columns/columns.module.ts
  backend/src/modules/columns/controller/columns.controller.spec.ts
  backend/src/modules/schedules/interfaces/services/delete.schedules.service.interface.ts
  backend/src/modules/schedules/interfaces/types.ts
  backend/src/modules/schedules/repository/schedule.repository.interface.ts
  backend/src/modules/schedules/repository/schedule.repository.ts
  backend/src/modules/schedules/schedules.module.ts
  backend/src/modules/schedules/schedules.providers.ts
  backend/src/modules/schedules/services/create.schedules.service.ts
  backend/src/modules/schedules/services/delete.schedules.service.ts
  backend/src/modules/users/interfaces/services/update.user.service.interface.ts
  backend/src/modules/users/repository/user.repository.interface.ts
  backend/src/modules/users/repository/user.repository.ts
  backend/src/modules/users/services/update.user.service.ts
  backend/src/modules/votes/votes.module.ts
Labels: backend

#1213 feat: add reset-password repository
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.providers.ts
  backend/src/modules/auth/interfaces/types.ts
  backend/src/modules/auth/repository/reset-password.repository.interface.ts
  backend/src/modules/auth/repository/reset-password.repository.ts
  backend/src/modules/auth/services/create-reset-token.auth.service.ts
Labels: backend

#1214 refactor: comment repository
  backend/src/modules/comments/applications/create.comment.application.ts
  backend/src/modules/comments/applications/delete.comment.application.ts
  backend/src/modules/comments/applications/update.comment.application.ts
  backend/src/modules/comments/comment.providers.ts
  backend/src/modules/comments/comments.module.ts
  backend/src/modules/comments/controller/comments.controller.ts
  backend/src/modules/comments/interfaces/applications/create.comment.application.interface.ts
  backend/src/modules/comments/interfaces/applications/delete.comment.application.interface.ts
  backend/src/modules/comments/interfaces/applications/update.comment.application.interface.ts
  backend/src/modules/comments/interfaces/repositories/comment.repository.interface.ts
  backend/src/modules/comments/interfaces/services/delete.comment.service.interface.ts
  backend/src/modules/comments/interfaces/services/update.comment.service.interface.ts
  backend/src/modules/comments/interfaces/types.ts
  backend/src/modules/comments/repositories/comment.repository.ts
  backend/src/modules/comments/services/create.comment.service.ts
  backend/src/modules/comments/services/delete.comment.service.ts
  backend/src/modules/comments/services/update.comment.service.ts
Labels: backend

#1219 feat: update pull request template
  .github/pull_request_template.md
Labels: documentation, enhancement, nice to have

#1218 feat: library mocks
  frontend/.eslintignore
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dashboard/Tiles/Tile/Tile.spec.tsx
  frontend/src/components/Primitives/Select.spec.tsx
  frontend/src/components/Primitives/Select.tsx
  frontend/src/components/Sidebar/Sidebar.spec.tsx
  frontend/src/components/Sidebar/partials/Content/Content.spec.tsx
  frontend/src/components/Sidebar/partials/Header/Header.spec.tsx
  frontend/src/components/Sidebar/partials/Item/Item.spec.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.spec.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/partials/PopoverRoleSettings.spec.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/partials/RoleSelector.spec.tsx
  frontend/src/components/Teams/Team/TeamMembersList.spec.tsx
  frontend/src/components/Teams/Team/partials/Header.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/partials/TeamBoards.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/partials/TeamTitle.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamsList.spec.tsx
  frontend/src/components/layouts/Layout/partials/MainPageHeader.spec.tsx
  frontend/src/stories/Primitives/Select.stories.tsx
  frontend/src/utils/testing/mocks.ts
  frontend/src/utils/testing/renderWithProviders.tsx
Labels: frontend, tests

#1224 test: add tests to get board service
  backend/src/libs/guards/getBoardPermissions.guard.ts
  backend/src/libs/test-utils/mocks/factories/board-factory.mock.ts
  backend/src/libs/test-utils/mocks/factories/boardUser-factory.mock.ts
  backend/src/libs/test-utils/mocks/factories/card-factory.mock.ts
  backend/src/libs/test-utils/mocks/factories/dto/userDto-factory.ts
  backend/src/libs/test-utils/mocks/factories/team-factory.mock.ts
  backend/src/libs/test-utils/mocks/factories/teamUser-factory.mock.ts
  backend/src/libs/test-utils/mocks/factories/user-factory.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/repositories/board-user.repository.interface.ts
  backend/src/modules/boards/repositories/board-user.repository.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/boards/services/get.board.service.ts
Labels: backend, tests

#1222 test: update phase backend
  backend/package-lock.json
  backend/package.json
  backend/src/modules/boards/applications/update.board.application.spec.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/services/update.board.service.spec.ts
  backend/src/modules/communication/applications/slack-send-message-channel.application.spec.ts
  backend/src/modules/communication/applications/slack-send-message-channel.application.ts
  backend/src/modules/communication/consumers/slack-send-message.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-send-message.consumer.ts
  backend/src/modules/communication/interfaces/send-message.application.interface.ts
  backend/src/modules/communication/producers/slack-send-message-channel.producer.spec.ts
  backend/src/modules/communication/services/slack-send-messages.service.spec.ts
Labels: backend, tests

#1231 fix: import error
  backend/src/modules/boards/services/update.board.service.spec.ts
Labels: backend

#1247 fix: cancel button color
  frontend/src/components/Primitives/Alerts/ConfirmationDialog/ConfirmationDialog.tsx
Labels: bug, frontend, design

#1237 feat: option to force a user not to be selected as responsible
  backend/src/libs/test-utils/mocks/factories/teamUser-factory.mock.ts
  backend/src/modules/boards/dto/board.guest.user.dto.ts
  backend/src/modules/boards/dto/board.user.dto.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/teams/dto/team.user.dto.ts
  backend/src/modules/teams/entities/team.user.schema.ts
  backend/src/modules/teams/repositories/team-user.repository.ts
  backend/src/modules/teams/repositories/team.repository.ts
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SubCardBoard.tsx
  frontend/src/components/Primitives/Inputs/Switches/ConfigurationSwitch/ConfigurationSwitch.tsx
  frontend/src/components/Primitives/Inputs/Switches/Switch/Switch.tsx
  frontend/src/components/Primitives/Popovers/BoardRolePopover/BoardRolePopover.spec.tsx
  frontend/src/components/Primitives/Popovers/BoardRolePopover/BoardRolePopover.tsx
  frontend/src/components/Primitives/Popovers/TeamRolePopover/TeamRolePopover.tsx
  frontend/src/components/Teams/Team/ListMembers/ListMembers.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.spec.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.tsx
  frontend/src/components/Users/UserEdit/partials/TeamsDialog/index.tsx
  frontend/src/hooks/useCreateBoard.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/types/board/board.user.ts
  frontend/src/types/team/team.user.ts
  frontend/src/utils/factories/user.ts
Labels: frontend, backend

#1251 chore: update next and react
  .github/workflows/tests_backend_frontend.yml
  frontend/Dockerfile
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Board/Column/Column.tsx
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantsLayout.tsx
  frontend/src/components/Board/Settings/partials/Columns/index.tsx
  frontend/src/components/Board/Settings/partials/ConfigurationSettings/index.tsx
  frontend/src/components/Board/Settings/partials/TeamResponsible/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/CardAvatars/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/index.tsx
  frontend/src/components/Errors/QueryError.tsx
  frontend/src/components/Primitives/Avatars/Avatar/Avatar.tsx
  frontend/src/components/Primitives/Avatars/AvatarGroup/AvatarGroup.tsx
  frontend/src/hooks/useAvatarColor.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/pages/_document.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
  frontend/src/styles/globals.tsx
  frontend/src/types/common.ts
  frontend/src/utils/testing/mocks.ts
Labels: frontend, changes

#1249 test: communication consumers tests
  backend/src/modules/communication/communication.module.ts
  backend/src/modules/communication/consumers/slack-add-user-channel.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-add-user-channel.consumer.ts
  backend/src/modules/communication/consumers/slack-archive-channel.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-communication-event-listeners.spec.ts
  backend/src/modules/communication/consumers/slack-communication-event-listeners.ts
  backend/src/modules/communication/consumers/slack-communication.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-communication.consumer.ts
  backend/src/modules/communication/consumers/slack-merge-board.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-responsible.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-send-message.consumer.spec.ts
Labels: backend, tests

#1254 feat: add test_request issue
  .github/ISSUE_TEMPLATE/test_request.md
Labels: enhancement, nice to have

#1256 refactor: team pages state logic
  frontend/src/components/Board/RegularBoard/ParticipantsList/ParticipantCard.tsx/index.tsx
  frontend/src/components/Primitives/Dialogs/UserListDialog/UserListDialog.tsx
  frontend/src/components/Primitives/Popovers/TeamRolePopover/TeamRolePopover.tsx
  frontend/src/components/Teams/CreateTeam/CreateTeam.tsx
  frontend/src/components/Teams/Team/ListMembers/ListMembers.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/RoleSelector/RoleSelector.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamBoards/TeamBoards.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.stories.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamTitle/TeamTitle.tsx
  frontend/src/components/Teams/TeamsList/TeamList.tsx
  frontend/src/components/Teams/styles.tsx
  frontend/src/components/Users/UserEdit/partials/ListOfCards/index.tsx
  frontend/src/components/icons/Sprite.tsx
  frontend/src/components/layouts/Layout/Layout.tsx
  frontend/src/hooks/useCurrentSession.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/styles/pages/pages.styles.tsx
  frontend/src/utils/tips.ts
Labels: enhancement, frontend

#1252 test: delete board service test
  backend/src/modules/boards/services/delete.board.service.spec.ts
  backend/src/modules/boards/services/delete.board.service.ts
Labels: backend, tests

#1268 chore: add missing variables
  backend/.env.example
  frontend/.env.example
Labels: infra, changes

#1258 test: communication applications tests
  backend/src/modules/communication/applications/slack-add-user-channel.application.spec.ts
  backend/src/modules/communication/applications/slack-archive-channel.application.spec.ts
  backend/src/modules/communication/applications/slack-communication.application.spec.ts
  backend/src/modules/communication/applications/slack-merge-board-application.spec.ts
  backend/src/modules/communication/applications/slack-responsible.application.spec.ts
Labels: backend, tests

#1279 fix: split teams
  backend/src/modules/boards/services/create.board.service.ts
Labels: bug, backend

#1282 test: create card service
  backend/src/modules/cards/services/create.card.service.spec.ts
Labels: backend, tests

#1284 fix: fix minus size and plus color
  frontend/src/components/CreateBoard/SplitBoard/FakeSettingsTabs/partials/MainBoardCard/index.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/MainBoardCard.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamBoards/TeamBoards.tsx
Labels: bug, frontend

#1287 fix: recent bugs
  backend/src/modules/users/applications/delete-user.use-case.ts
  frontend/src/api/teamService.tsx
  frontend/src/components/Board/Card/CardBoard.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.tsx
  frontend/src/components/Users/UsersList/UsersList.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/hooks/useUser.tsx
  frontend/src/types/team/useTeam.ts
Labels: bug, frontend, backend

#1292 fix: submitted action points format
  backend/src/modules/boards/services/update.board.service.ts
Labels: bug, backend

#1293 refactor: user team side drawers
  frontend/src/api/teamService.tsx
  frontend/src/components/Primitives/Dialogs/Dialog/DialogFooter.tsx
  frontend/src/components/Primitives/Dialogs/TeamsListDialog/TeamsListDialog.tsx
  frontend/src/components/Primitives/Dialogs/UserListDialog/UserListDialog.spec.tsx
  frontend/src/components/Primitives/Dialogs/UserListDialog/UserListDialog.tsx
  frontend/src/components/Primitives/Dialogs/UserListDialog/styles.tsx
  frontend/src/components/Teams/Team/ListMembers/ListMembers.tsx
  frontend/src/components/Users/User/Header/Header.tsx
  frontend/src/components/Users/User/ListTeams/ListTeams.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/users/[userId].tsx
Labels: bug, frontend

#1298 fix: delete cards
  backend/src/libs/exceptions/updateFailedBadRequestException.ts
  backend/src/libs/repositories/mongo/mongo-generic.repository.ts
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/cards/interfaces/applications/delete.card.application.interface.ts
  backend/src/modules/cards/interfaces/services/delete.card.service.interface.ts
  backend/src/modules/cards/repository/card.repository.interface.ts
  backend/src/modules/cards/repository/card.repository.ts
  backend/src/modules/cards/services/delete.card.service.ts
Labels: bug, backend

#1281 feat: duplicate regular board
  backend/src/modules/boards/applications/duplicate-board.use-case.spec.ts
  backend/src/modules/boards/applications/duplicate-board.use-case.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/boards.providers.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/entities/board.schema.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/interfaces/types.ts
  frontend/src/api/boardService.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.spec.tsx
  frontend/src/components/CardBoard/CardBody/CardEnd.tsx
  frontend/src/components/CardBoard/CardBody/DuplicateBoardNameDialog.spec.tsx
  frontend/src/components/CardBoard/CardBody/DuplicateBoardNameDialog.tsx
  frontend/src/hooks/useBoard.tsx
  frontend/src/schema/schemaDuplicateBoardForm.ts
  frontend/src/types/board/board.ts
  frontend/src/types/board/useBoard.ts
  frontend/src/utils/factories/board.ts
Labels: frontend, backend

#1299 fix: duplicate board without team
  backend/src/modules/boards/applications/duplicate-board.use-case.ts
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/UsersBox/index.tsx
Labels: bug, frontend

#1306 refactor: create card service to usecase
  backend/src/modules/cards/applications/create-card.use-case.spec.ts
  backend/src/modules/cards/applications/create-card.use-case.ts
  backend/src/modules/cards/applications/create.card.application.ts
  backend/src/modules/cards/cards.module.ts
  backend/src/modules/cards/cards.providers.ts
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/cards/dto/useCase/create-card.use-case.dto.ts
  backend/src/modules/cards/dto/useCase/presenters/create-card-res.use-case.dto.ts
  backend/src/modules/cards/interfaces/applications/create.card.application.interface.ts
  backend/src/modules/cards/interfaces/services/create.card.service.interface.ts
  backend/src/modules/cards/interfaces/types.ts
  backend/src/modules/cards/services/create.card.service.spec.ts
  backend/src/modules/cards/services/create.card.service.ts
Labels: enhancement, backend, tests

#1305 refactor: votes services
  backend/src/modules/cards/services/delete.card.service.ts
  backend/src/modules/votes/interfaces/services/create.vote.service.interface.ts
  backend/src/modules/votes/interfaces/services/delete.vote.service.interface.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  frontend/src/hooks/useCards.tsx
Labels: bug, backend

#1311 test: votes services
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/votes/services/create.vote.service.spec.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.spec.ts
  backend/src/modules/votes/services/delete.vote.service.ts
Labels: backend, tests

#1316 docs: update contribution guidelines project name
  .github/CONTRIBUTING.md
Labels: documentation

#1318 refactor: useTeams custom hook
  backend/src/modules/boardUsers/interfaces/services/delete.board.user.service.interface.ts
  backend/src/modules/boardUsers/services/delete.board.user.service.ts
  backend/src/modules/boards/services/delete.board.service.spec.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/teamUsers/repositories/team-user.repository.ts
  backend/src/modules/teams/services/get.team.service.ts
  frontend/src/api/teamService.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SubTeamsTab.tsx
  frontend/src/components/Primitives/Dialogs/Dialog/DialogFooter.tsx
  frontend/src/components/Primitives/Dialogs/TeamsListDialog/TeamsListDialog.tsx
  frontend/src/components/Primitives/Dialogs/UserListDialog/UserListDialog.tsx
  frontend/src/components/Primitives/Layout/ScrollableContent/ScrollableContent.tsx
  frontend/src/components/Primitives/Popovers/TeamRolePopover/TeamRolePopover.tsx
  frontend/src/components/Teams/CreateTeam/CreateTeam.tsx
  frontend/src/components/Teams/Team/ListMembers/ListMembers.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/RoleSelector/RoleSelector.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.stories.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.tsx
  frontend/src/components/Teams/TeamsList/TeamList.tsx
  frontend/src/components/Users/User/Header/Header.tsx
  frontend/src/components/Users/User/ListTeams/ListTeams.tsx
  frontend/src/components/Users/User/TeamsDialog/TeamsDialog.tsx
  frontend/src/components/Users/User/UserTeamsList.tsx
  frontend/src/hooks/teams/index.ts
  frontend/src/hooks/teams/useCreateTeam.tsx
  frontend/src/hooks/teams/useDeleteTeam.tsx
  frontend/src/hooks/teams/useDeleteTeamUser.tsx
  frontend/src/hooks/teams/useTeam.tsx
  frontend/src/hooks/teams/useTeams.tsx
  frontend/src/hooks/teams/useTeamsWithoutUser.tsx
  frontend/src/hooks/teams/useUpdateTeamUser.tsx
  frontend/src/hooks/teams/useUpdateTeamUsers.tsx
  frontend/src/hooks/teams/useUpdateUserTeams.tsx
  frontend/src/hooks/teams/useUserTeams.tsx
  frontend/src/hooks/useCurrentSession.tsx
  frontend/src/hooks/useTeam.tsx
  frontend/src/hooks/useTeamUtils.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/boards/index.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/pages/users/[userId].tsx
  frontend/src/store/team/atom/team.atom.tsx
  frontend/src/types/team/team.user.ts
  frontend/src/types/team/useTeam.ts
Labels: bug, frontend

#1327 refactor: remove unnecessary teams recoil state
  backend/src/modules/teams/services/get.team.service.spec.ts
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/Boards/MyBoards/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/SelectTeam/SelectTeam.tsx
  frontend/src/components/CreateBoard/SplitBoard/SubTeamsTab/SelectTeam/SelectTeam.tsx
  frontend/src/components/Primitives/Avatars/AvatarGroup/AvatarGroup.spec.tsx
  frontend/src/pages/boards/index.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
  frontend/src/store/team/atom/team.atom.tsx
Labels: enhancement, frontend
