Repository xgeekshq/split, pull requests merged in 2023-04, with the labels that each got.

#1322 feat: add useCase for create board
  backend/src/libs/utils/generateBoardData.ts
  backend/src/modules/boards/applications/create-board.use-case.spec.ts
  backend/src/modules/boards/applications/create-board.use-case.ts
  backend/src/modules/boards/applications/create.board.application.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/boards.providers.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/dto/createBoard.dto.ts
  backend/src/modules/boards/dto/useCase/create-board.use-case.dto.ts
  backend/src/modules/boards/interfaces/applications/create.board.application.interface.ts
  backend/src/modules/boards/interfaces/types.ts
  backend/src/modules/cards/cards.module.ts
  backend/src/modules/cards/cards.providers.ts
Labels: backend

#1331 test: add and update tests and stories for team components
  frontend/src/components/CardBoard/CardBody/DuplicateBoardNameDialog.spec.tsx
  frontend/src/components/Primitives/Dialogs/UserListDialog/UserListDialog.spec.tsx
  frontend/src/components/Primitives/Dialogs/UserListDialog/UserListDialog.tsx
  frontend/src/components/Teams/CreateTeam/CreateTeam.spec.tsx
  frontend/src/components/Teams/CreateTeam/CreateTeam.tsx
  frontend/src/components/Teams/Team/Header/Header.spec.tsx
  frontend/src/components/Teams/Team/Header/Header.stories.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/MemberTitle/MemberTitle.spec.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/RoleSelector/RoleSelector.spec.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.spec.tsx
  frontend/src/components/Teams/Team/TeamMembersList.spec.tsx
  frontend/src/components/Teams/Team/TeamMembersList.tsx
  frontend/src/components/Teams/TeamsList/EmptyTeams/EmptyTeams.stories.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamBoards/TeamBoards.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.stories.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamTitle/TeamTitle.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamsList.spec.tsx
  frontend/src/components/Users/User/UserTeamsList.spec.tsx
  frontend/src/components/Users/User/UserTeamsList.tsx
Labels: documentation, frontend, tests

#1334 chore: update storybook
  frontend/.eslintrc.json
  frontend/.storybook/main.js
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, changes

#1336 fix: storybook in dev and prod env
  frontend/.storybook/manager.js
  frontend/next.config.js
Labels: bug, changes

#1338 refactor: usecase of get board service
  backend/src/modules/auth/applications/statistics.auth.use-case.ts
  backend/src/modules/boards/applications/create-board.use-case.spec.ts
  backend/src/modules/boards/applications/duplicate-board.use-case.spec.ts
  backend/src/modules/boards/applications/duplicate-board.use-case.ts
  backend/src/modules/boards/applications/get-all-boards.use-case.spec.ts
  backend/src/modules/boards/applications/get-all-boards.use-case.ts
  backend/src/modules/boards/applications/get-board.use-case.spec.ts
  backend/src/modules/boards/applications/get-board.use-case.ts
  backend/src/modules/boards/applications/get-boards-for-dashboard.use-case.spec.ts
  backend/src/modules/boards/applications/get-boards-for-dashboard.use-case.ts
  backend/src/modules/boards/applications/get-personal-boards.use-case.spec.ts
  backend/src/modules/boards/applications/get-personal-boards.use-case.ts
  backend/src/modules/boards/applications/get.board.application.ts
  backend/src/modules/boards/applications/is-board-public.use-case.spec.ts
  backend/src/modules/boards/applications/is-board-public.use-case.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/boards.providers.ts
  backend/src/modules/boards/controller/boards.controller.spec.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/controller/publicBoards.controller.ts
  backend/src/modules/boards/dto/useCase/get-all-boards.use-case.dto.ts
  backend/src/modules/boards/dto/useCase/get-board.use-case.dto.ts
  backend/src/modules/boards/dto/useCase/get-boards.use-case.dto.ts
  backend/src/modules/boards/interfaces/applications/get.board.application.interface.ts
  backend/src/modules/boards/interfaces/boards-page.interface.ts
  backend/src/modules/boards/interfaces/services/get.board.service.interface.ts
  backend/src/modules/boards/interfaces/types.ts
  backend/src/modules/boards/presenter/board.presenter.ts
  backend/src/modules/boards/presenter/board.use-case.presenter.ts
  backend/src/modules/boards/presenter/boards-paginated.presenter.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/boards/utils/hideVotesFromColumns.ts
  backend/src/modules/cards/controller/cards.controller.ts
Labels: backend, tests

#1356 fix: channel id missing
  backend/src/modules/boards/services/update.board.service.ts
Labels: bug, backend

#1360 fix: board not found redirect
  frontend/src/pages/boards/[boardId]/index.tsx
Labels: bug, frontend

#1354 refactor: add usecases for createvoteservice
  backend/src/modules/votes/applications/card-group-vote.use-case.spec.ts
  backend/src/modules/votes/applications/card-group-vote.use-case.ts
  backend/src/modules/votes/applications/card-item-vote.use-case.spec.ts
  backend/src/modules/votes/applications/card-item-vote.use-case.ts
  backend/src/modules/votes/applications/create.vote.application.ts
  backend/src/modules/votes/controller/votes.controller.ts
  backend/src/modules/votes/dto/useCase/card-group-vote.use-case.dto.ts
  backend/src/modules/votes/dto/useCase/card-item-vote.use-case.dto.ts
  backend/src/modules/votes/interfaces/applications/create.vote.application.interface.ts
  backend/src/modules/votes/interfaces/services/create.vote.service.interface.ts
  backend/src/modules/votes/interfaces/types.ts
  backend/src/modules/votes/services/create.vote.service.spec.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/votes.module.ts
  backend/src/modules/votes/votes.providers.ts
Labels: backend, tests

#1361 feat: custom layout for auth error pages
  frontend/src/components/Board/AddCardOrComment.tsx
  frontend/src/components/Board/Column/partials/UpdateColumnDialog/index.tsx
  frontend/src/components/Board/Settings/index.tsx
  frontend/src/components/Primitives/Icons/Icon/Icon.tsx
  frontend/src/components/Primitives/Icons/Svg/Svg.tsx
  frontend/src/components/Primitives/Inputs/Button/Button.tsx
  frontend/src/components/Users/UsersList/UserItem/UserItemActions/UserItemActions.tsx
  frontend/src/components/auth/ForgotPassword/EmailSent.tsx
  frontend/src/components/auth/ForgotPassword/ResetPassword.tsx
  frontend/src/components/auth/ForgotPassword/TroubleLogin.tsx
  frontend/src/components/auth/GuestUserForm/index.tsx
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/components/auth/LoginForm/styles.tsx
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/components/auth/SignUp/SignUpOptionsForm.tsx
  frontend/src/components/auth/SignUp/SignUpTabContent.tsx
  frontend/src/components/layouts/AccessLayout/AccessLayout.tsx
  frontend/src/components/layouts/AccessLayout/styles.tsx
  frontend/src/pages/404.tsx
  frontend/src/pages/500.tsx
  frontend/src/pages/board-deleted.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/login-guest-user/[boardId].tsx
  frontend/src/pages/reset-password/[tokenId].tsx
  frontend/src/styles/centerScreen.tsx
  frontend/src/styles/pages/auth.styles.tsx
  frontend/src/styles/pages/error.styles.tsx
  frontend/src/styles/pages/pages.styles.tsx
  frontend/src/types/user/user.ts
Labels: enhancement, frontend, design

#1353 test: team user services
  backend/src/libs/test-utils/mocks/factories/dto/teamUserDto-factory.mock.ts
  backend/src/modules/teamUsers/applications/add-and-remove-team-users.use-case.spec.ts
  backend/src/modules/teamUsers/applications/add-and-remove-team-users.use-case.ts
  backend/src/modules/teamUsers/applications/create-team-user.use-case.spec.ts
  backend/src/modules/teamUsers/applications/create-team-users.use-case.spec.ts
  backend/src/modules/teamUsers/applications/create-team-users.use-case.ts
  backend/src/modules/teamUsers/applications/delete-team-user.use-case.spec.ts
  backend/src/modules/teamUsers/applications/update-team-user.use-case.spec.ts
  backend/src/modules/teamUsers/applications/update-team-user.use-case.ts
  backend/src/modules/teamUsers/interfaces/repositories/team-user.repository.interface.ts
  backend/src/modules/teamUsers/interfaces/services/create.team.user.service.interface.ts
  backend/src/modules/teamUsers/interfaces/services/delete.team.user.service.interface.ts
  backend/src/modules/teamUsers/interfaces/services/update.team.user.service.interface.ts
  backend/src/modules/teamUsers/repositories/team-user.repository.ts
  backend/src/modules/teamUsers/services/create.team.user.service.spec.ts
  backend/src/modules/teamUsers/services/create.team.user.service.ts
  backend/src/modules/teamUsers/services/delete.team.user.service.spec.ts
  backend/src/modules/teamUsers/services/delete.team.user.service.ts
  backend/src/modules/teamUsers/services/get.team.user.service.spec.ts
  backend/src/modules/teamUsers/services/get.team.user.service.ts
  backend/src/modules/teamUsers/services/update.team.user.service.spec.ts
  backend/src/modules/teamUsers/services/update.team.user.service.ts
  backend/src/modules/teams/applications/create.team.application.ts
  backend/src/modules/teams/interfaces/applications/create.team.application.interface.ts
Labels: backend, tests

#1351 refactor: delete card service to usecase
  backend/src/libs/exceptions/cardNotFoundException.ts
  backend/src/libs/exceptions/messages.ts
  backend/src/libs/repositories/mongo/mongo-generic.repository.ts
  backend/src/modules/boardUsers/interfaces/repositories/board-user.repository.interface.ts
  backend/src/modules/boardUsers/interfaces/services/update.board.user.service.interface.ts
  backend/src/modules/boardUsers/repositories/board-user.repository.ts
  backend/src/modules/boardUsers/services/update.board.user.service.ts
  backend/src/modules/boards/boards.module.ts
  backend/src/modules/boards/repositories/board.repository.ts
  backend/src/modules/boards/services/update.board.service.spec.ts
  backend/src/modules/boards/services/update.board.service.ts
  backend/src/modules/cards/applications/delete-card.use-case.spec.ts
  backend/src/modules/cards/applications/delete-card.use-case.ts
  backend/src/modules/cards/applications/delete-from-card-group.use-case.spec.ts
  backend/src/modules/cards/applications/delete-from-card-group.use-case.ts
  backend/src/modules/cards/applications/delete.card.application.ts
  backend/src/modules/cards/cards.module.ts
  backend/src/modules/cards/cards.providers.ts
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/cards/dto/useCase/delete-card.use-case.dto.ts
  backend/src/modules/cards/dto/useCase/delete-fom-card-group.use-case.dto.ts
  backend/src/modules/cards/interfaces/applications/delete.card.application.interface.ts
  backend/src/modules/cards/interfaces/services/delete.card.service.interface.ts
  backend/src/modules/cards/interfaces/types.ts
  backend/src/modules/cards/repository/card.repository.ts
  backend/src/modules/cards/services/delete.card.service.ts
  backend/src/modules/cards/utils/get-user-with-votes.ts
  backend/src/modules/columns/columns.module.ts
  backend/src/modules/columns/repositories/column.repository.ts
  backend/src/modules/columns/services/update.column.service.spec.ts
  backend/src/modules/columns/services/update.column.service.ts
  backend/src/modules/comments/repositories/comment.repository.ts
  backend/src/modules/teamUsers/repositories/team-user.repository.ts
  backend/src/modules/teams/repositories/team.repository.ts
  backend/src/modules/users/repository/user.repository.ts
  backend/src/modules/votes/interfaces/services/delete.vote.service.interface.ts
  backend/src/modules/votes/repositories/vote.repository.ts
  backend/src/modules/votes/services/delete.vote.service.ts
Labels: backend, tests

#1370 fix(1369): rename folder
  frontend/src/components/Boards/MyBoards/ListPersonalBoards/EmptyPersonalBoards/index.tsx
  frontend/src/components/Boards/MyBoards/ListPersonalBoards/index.tsx
Labels: frontend

#1372 refactor: updatecardservice to usecase
  backend/src/libs/exceptions/messages.ts
  backend/src/modules/cards/applications/update.card.application.ts
  backend/src/modules/cards/applications/update/update-card-group-text.use-case.spec.ts
  backend/src/modules/cards/applications/update/update-card-group-text.use-case.ts
  backend/src/modules/cards/applications/update/update-card-position.use-case.spec.ts
  backend/src/modules/cards/applications/update/update-card-position.use-case.ts
  backend/src/modules/cards/applications/update/update-card-text.use-case.spec.ts
  backend/src/modules/cards/applications/update/update-card-text.use-case.ts
  backend/src/modules/cards/cards.module.ts
  backend/src/modules/cards/cards.providers.ts
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/cards/dto/useCase/update-card-group-text.use-case.dto.ts
  backend/src/modules/cards/dto/useCase/update-card-position.use-case.dto.ts
  backend/src/modules/cards/dto/useCase/update-card-text.use-case.dto.ts
  backend/src/modules/cards/interfaces/applications/update.card.application.interface.ts
  backend/src/modules/cards/interfaces/services/update.card.service.interface.ts
  backend/src/modules/cards/interfaces/types.ts
  backend/src/modules/cards/services/update.card.service.ts
Labels: backend, tests

#1378 test: untested pages
  frontend/src/__tests__/404.spec.tsx
  frontend/src/__tests__/500.spec.tsx
  frontend/src/__tests__/board-deleted.spec.tsx
  frontend/src/__tests__/home.spec.tsx
  frontend/src/__tests__/login-guest-user.spec.tsx
  frontend/src/__tests__/new-team.spec.tsx
  frontend/src/__tests__/reset-password.spec.tsx
  frontend/src/__tests__/team-details.spec.tsx
  frontend/src/__tests__/teams.spec.tsx
  frontend/src/__tests__/user-details.spec.tsx
  frontend/src/__tests__/users.spec.tsx
  frontend/src/components/Teams/CreateTeam/CreateTeam.tsx
  frontend/src/components/Teams/TeamsList/TeamList.tsx
  frontend/src/pages/teams/index.tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/utils/testing/mocks.ts
  frontend/src/utils/testing/renderWithProviders.tsx
Labels: frontend, tests

#1376 feat: add sidebar responsiveness
  frontend/src/components/Sidebar/Content/Content.spec.tsx
  frontend/src/components/Sidebar/Content/Content.tsx
  frontend/src/components/Sidebar/Header/Header.spec.tsx
  frontend/src/components/Sidebar/Header/Header.tsx
  frontend/src/components/Sidebar/Header/styles.tsx
  frontend/src/components/Sidebar/Sidebar.stories.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/Sidebar/styles.tsx
  frontend/src/components/Sidebar/types.ts
  frontend/src/components/icons/Sprite.tsx
  frontend/src/components/layouts/Layout/styles.tsx
  frontend/src/styles/stitches/partials/sizes.ts
  frontend/src/styles/stitches/partials/spaces.ts
Labels: enhancement, frontend

#1390 refactor: add usecases for deletevoteservice
  backend/src/modules/votes/applications/card-group-vote.use-case.spec.ts
  backend/src/modules/votes/applications/card-group-vote.use-case.ts
  backend/src/modules/votes/applications/card-item-vote.use-case.spec.ts
  backend/src/modules/votes/applications/card-item-vote.use-case.ts
  backend/src/modules/votes/applications/delete.vote.application.ts
  backend/src/modules/votes/interfaces/applications/delete.vote.application.interface.ts
  backend/src/modules/votes/interfaces/services/delete.vote.service.interface.ts
  backend/src/modules/votes/interfaces/types.ts
  backend/src/modules/votes/services/delete.vote.service.spec.ts
  backend/src/modules/votes/services/delete.vote.service.ts
  backend/src/modules/votes/utils/getVotesFromCardItem.ts
  backend/src/modules/votes/utils/votesArrayVerification.ts
  backend/src/modules/votes/votes.module.ts
  backend/src/modules/votes/votes.providers.ts
Labels: backend

#1391 fix: tsconfig paths
  frontend/.eslintrc.cjs
  frontend/.storybook/main.js
  frontend/tsconfig.json
Labels: bug, frontend

#1388 feat: add Tiles responsiveness
  frontend/src/components/Dashboard/Tiles/Tile/Tile.tsx
  frontend/src/components/Dashboard/Tiles/Tile/styles.tsx
  frontend/src/components/Dashboard/Tiles/Tiles.tsx
  frontend/src/components/Dashboard/Tiles/styles.tsx
Labels: enhancement, frontend

#1394 refactor: remove unused recoil states
  frontend/src/components/Board/RegularBoard/ParticipantsList/BoardParticipantsSubHeader/BoardParticipantsSubHeader.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/BoardParticipantsList/BoardParticipantsList.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/ListParticipants/ListParticipants.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/SelectTeam/SelectTeam.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/SettingsTabs.tsx
  frontend/src/components/Teams/CreateTeam/CreateTeam.tsx
  frontend/src/components/Teams/Team/ListMembers/ListMembers.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.tsx
  frontend/src/hooks/useBoardUtils.tsx
  frontend/src/pages/boards/[boardId]/participants.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/teams/[teamId].tsx
  frontend/src/pages/teams/new.tsx
  frontend/src/store/createBoard/atoms/create-board.atom.tsx
  frontend/src/store/team.atom.tsx
  frontend/src/store/user.atom.tsx
  frontend/src/store/user/atoms/user.atom.tsx
  frontend/src/store/user/selectors/get-user.selector.tsx
  frontend/src/store/vote/atoms/vote.atom.tsx
Labels: frontend

#1392 test: add tests for team and user hooks
  backend/src/modules/auth/applications/create-reset-password-token.use-case.ts
  frontend/src/__tests__/user-details.spec.tsx
  frontend/src/__tests__/users.spec.tsx
  frontend/src/components/CardBoard/CardBody/DuplicateBoardNameDialog.spec.tsx
  frontend/src/components/Primitives/Alerts/ConfirmationDialog/ConfirmationDialog.spec.tsx
  frontend/src/components/Primitives/Inputs/SearchInput/SearchInput.spec.tsx
  frontend/src/components/Primitives/Inputs/SearchInput/SearchInput.tsx
  frontend/src/components/Users/User/UserHeader/UserHeader.spec.tsx
  frontend/src/components/Users/UsersList/UsersList.spec.tsx
  frontend/src/hooks/auth/loginWithAzure.spec.tsx
  frontend/src/hooks/auth/useRegisterGuestUser.spec.tsx
  frontend/src/hooks/auth/useResetPassword.spec.tsx
  frontend/src/hooks/auth/useResetPassword.tsx
  frontend/src/hooks/auth/useResetToken.spec.tsx
  frontend/src/hooks/teams/useCreateTeam.spec.tsx
  frontend/src/hooks/teams/useDeleteTeam.spec.tsx
  frontend/src/hooks/teams/useDeleteTeamUser.spec.tsx
  frontend/src/hooks/teams/useTeam.spec.tsx
  frontend/src/hooks/teams/useTeams.spec.tsx
  frontend/src/hooks/teams/useTeamsWithoutUser.spec.tsx
  frontend/src/hooks/teams/useUpdateTeamUser.spec.tsx
  frontend/src/hooks/teams/useUpdateTeamUsers.spec.tsx
  frontend/src/hooks/teams/useUpdateUserTeams.spec.tsx
  frontend/src/hooks/teams/useUserTeams.spec.tsx
  frontend/src/hooks/users/useDeleteUser.spec.tsx
  frontend/src/hooks/users/useDeleteUser.tsx
  frontend/src/hooks/users/useUpdateUser.spec.tsx
  frontend/src/hooks/users/useUser.spec.tsx
  frontend/src/hooks/users/useUsers.spec.tsx
  frontend/src/hooks/users/useUsersWithTeams.spec.tsx
  frontend/src/utils/constants/forgotPassword.ts
  frontend/src/utils/factories/team.ts
  frontend/src/utils/factories/user.ts
  frontend/src/utils/testing/mocks.ts
  frontend/src/utils/testing/renderHookWithProviders.tsx
Labels: frontend, tests

#1401 refactor: change type for constants on team module
  backend/src/modules/boards/services/create.board.service.spec.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/teams/applications/create.team.application.ts
  backend/src/modules/teams/applications/delete.team.application.ts
  backend/src/modules/teams/applications/get.team.application.ts
  backend/src/modules/teams/constants.ts
  backend/src/modules/teams/controller/team.controller.ts
  backend/src/modules/teams/interfaces/types.ts
  backend/src/modules/teams/providers.ts
  backend/src/modules/teams/services/create.team.service.spec.ts
  backend/src/modules/teams/services/create.team.service.ts
  backend/src/modules/teams/services/delete.team.service.spec.ts
  backend/src/modules/teams/services/delete.team.service.ts
  backend/src/modules/teams/services/get.team.service.spec.ts
  backend/src/modules/teams/services/get.team.service.ts
Labels: backend

#1402 fix: accessing deleted board
  backend/src/modules/boards/applications/delete-board.use-case.spec.ts
  backend/src/modules/boards/applications/delete-board.use-case.ts
  backend/src/modules/boards/controller/boards.controller.ts
  backend/src/modules/boards/dto/useCase/delete-board.use-case.ts
  backend/src/modules/socket/gateway/socket.gateway.ts
  frontend/src/__tests__/board-deleted.spec.tsx
  frontend/src/hooks/useSocketIO.ts
  frontend/src/pages/board-deleted.tsx
Labels: bug, frontend, backend

#1396 fix: regular board no responsible
  backend/src/modules/boards/dto/board.dto.ts
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/BoardParticipantsList/BoardParticipantsList.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/ParticipantsTab.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/SelectTeam/SelectTeam.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/SettingsTabs.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
Labels: bug, frontend, backend

#1405 feat: add Button responsiveness
  frontend/src/components/Primitives/Inputs/Button/Button.tsx
  frontend/src/components/layouts/Layout/MainPageHeader/MainPageHeader.tsx
  frontend/src/stories/types/PrimitiveTypes.tsx
  frontend/src/styles/stitches/partials/spaces.ts
Labels: enhancement, frontend

#1415 fix: fix responsible field on divided boards
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug, frontend

#1413 test: add hook mocks to team tests
  frontend/src/components/Primitives/Layout/CreateHeader/CreateHeader.tsx
  frontend/src/components/Primitives/Popovers/TeamRolePopover/TeamRolePopover.tsx
  frontend/src/components/Sidebar/Sidebar.spec.tsx
  frontend/src/components/Teams/CreateTeam/CreateTeam.spec.tsx
  frontend/src/components/Teams/Team/ListMembers/ListMembers.spec.tsx
  frontend/src/components/Teams/Team/ListMembers/ListMembers.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.spec.tsx
  frontend/src/components/Teams/Team/TeamMemberItem/TeamMemberItem.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.spec.tsx
  frontend/src/components/Teams/TeamsList/TeamItem/TeamItem.tsx
  frontend/src/hooks/useCurrentSession.tsx
  frontend/src/utils/testing/recoilObserver.tsx
  frontend/src/utils/testing/renderHookWithProviders.tsx
  frontend/src/utils/testing/renderWithProviders.tsx
Labels: frontend, tests

#1407 test: user use cases
  backend/src/libs/guards/deleteUser.guard.ts
  backend/src/modules/auth/applications/reset-password.use-case.ts
  backend/src/modules/users/applications/delete-user.use-case.spec.ts
  backend/src/modules/users/applications/delete-user.use-case.ts
  backend/src/modules/users/applications/get-all-users-with-teams.use-case.spec.ts
  backend/src/modules/users/applications/get-all-users-with-teams.use-case.ts
  backend/src/modules/users/applications/get-all-users.use-case.spec.ts
  backend/src/modules/users/applications/get-all-users.use-case.ts
  backend/src/modules/users/applications/get-user.use-case.spec.ts
  backend/src/modules/users/applications/get-user.use-case.ts
  backend/src/modules/users/applications/update-sadmin.use-case.spec.ts
  backend/src/modules/users/applications/update-sadmin.use-case.ts
  backend/src/modules/users/controller/users.controller.ts
  backend/src/modules/users/dto/useCase/delete-user.use-case.dto.ts
  backend/src/modules/users/dto/useCase/get-all-users-with-teams.use-case.dto.ts
  backend/src/modules/users/dto/useCase/update-sadmin.use-case.dto.ts
  backend/src/modules/users/interfaces/applications/delete-user.use-case.interface.ts
  backend/src/modules/users/interfaces/applications/get-all-users-with-teams.use-case.interface.ts
  backend/src/modules/users/interfaces/applications/get-all-users.use-case.interface.ts
  backend/src/modules/users/interfaces/applications/get-user.use-case.interface.ts
  backend/src/modules/users/interfaces/applications/update-sadmin.use-case.interface.ts
  backend/src/modules/users/interfaces/applications/update.user.service.interface.ts
  backend/src/modules/users/interfaces/applications/validate-email.use-case.interface.ts
  backend/src/modules/users/interfaces/services/update.user.service.interface.ts
  backend/src/modules/users/presenter/get-all-users-with-teams.presenter.ts
Labels: backend, tests

#1422 refactor: change board user module types for constants
  backend/src/libs/guards/boardRoles.guard.ts
  backend/src/libs/guards/getBoardPermissions.guard.ts
  backend/src/modules/boardUsers/boardusers.providers.ts
  backend/src/modules/boardUsers/constants.ts
  backend/src/modules/boardUsers/interfaces/types.ts
  backend/src/modules/boardUsers/services/create.board.user.service.ts
  backend/src/modules/boardUsers/services/delete.board.user.service.ts
  backend/src/modules/boardUsers/services/get.board.user.service.ts
  backend/src/modules/boardUsers/services/update.board.user.service.ts
  backend/src/modules/boards/applications/duplicate-board.use-case.spec.ts
  backend/src/modules/boards/applications/duplicate-board.use-case.ts
  backend/src/modules/boards/applications/get-board.use-case.spec.ts
  backend/src/modules/boards/applications/get-board.use-case.ts
  backend/src/modules/boards/applications/update-board-participants.spec.ts
  backend/src/modules/boards/applications/update-board-participants.use-case.ts
  backend/src/modules/boards/applications/update-board.use-case.spec.ts
  backend/src/modules/boards/applications/update-board.use-case.ts
  backend/src/modules/boards/services/create.board.service.spec.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/delete.board.service.spec.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/boards/services/get.board.service.spec.ts
  backend/src/modules/boards/services/get.board.service.ts
  backend/src/modules/cards/applications/delete-card.use-case.spec.ts
  backend/src/modules/cards/applications/delete-card.use-case.ts
  backend/src/modules/cards/applications/delete-from-card-group.use-case.spec.ts
  backend/src/modules/cards/applications/delete-from-card-group.use-case.ts
  backend/src/modules/teamUsers/constants.ts
  backend/src/modules/teamUsers/teamusers.providers.ts
  backend/src/modules/teams/constants.ts
  backend/src/modules/teams/providers.ts
  backend/src/modules/votes/applications/card-group-vote.use-case.spec.ts
  backend/src/modules/votes/applications/card-group-vote.use-case.ts
  backend/src/modules/votes/applications/card-item-vote.use-case.spec.ts
  backend/src/modules/votes/applications/card-item-vote.use-case.ts
  backend/src/modules/votes/services/create.vote.service.spec.ts
  backend/src/modules/votes/services/create.vote.service.ts
  backend/src/modules/votes/services/delete.vote.service.spec.ts
  backend/src/modules/votes/services/delete.vote.service.ts
Labels: backend

#1423 refactor: react query status on useeffect & toast messages
  frontend/src/components/Board/DragDropArea/index.tsx
  frontend/src/components/Boards/MyBoards/ListBoardsByTeam/index.tsx
  frontend/src/components/Boards/MyBoards/ListPersonalBoards/index.tsx
  frontend/src/components/CreateBoard/RegularBoard/ParticipantsTab/ListParticipants/ListParticipants.tsx
  frontend/src/components/CreateBoard/RegularBoard/SettingsTabs/SettingsTabs.tsx
  frontend/src/components/CreateBoard/SplitBoard/SettingsTabs/SettingsTabs.tsx
  frontend/src/components/Dashboard/RecentRetros/index.tsx
  frontend/src/components/Teams/CreateTeam/CreateTeam.spec.tsx
  frontend/src/components/Teams/CreateTeam/CreateTeam.tsx
  frontend/src/components/Teams/Team/ListMembers/ListMembers.tsx
  frontend/src/components/auth/LoginForm/index.tsx
  frontend/src/components/auth/SignUp/RegisterForm.tsx
  frontend/src/components/auth/SignUp/SignUpForm.tsx
  frontend/src/hooks/auth/useSignUp.tsx
  frontend/src/hooks/useSocketIO.ts
  frontend/src/pages/boards/[boardId]/participants.tsx
  frontend/src/pages/boards/newRegularBoard.tsx
  frontend/src/pages/boards/newSplitBoard.tsx
Labels: bug, frontend

#1424 refactor: change cards module types for constants
  backend/src/modules/cards/applications/create-card.use-case.spec.ts
  backend/src/modules/cards/applications/create-card.use-case.ts
  backend/src/modules/cards/applications/delete-card.use-case.spec.ts
  backend/src/modules/cards/applications/delete-card.use-case.ts
  backend/src/modules/cards/applications/delete-from-card-group.use-case.spec.ts
  backend/src/modules/cards/applications/delete-from-card-group.use-case.ts
  backend/src/modules/cards/applications/merge-card.use-case.spec.ts
  backend/src/modules/cards/applications/merge-card.use-case.ts
  backend/src/modules/cards/applications/unmerge-card.use-case.spec.ts
  backend/src/modules/cards/applications/unmerge-card.use-case.ts
  backend/src/modules/cards/applications/update/update-card-group-text.use-case.spec.ts
  backend/src/modules/cards/applications/update/update-card-group-text.use-case.ts
  backend/src/modules/cards/applications/update/update-card-position.use-case.spec.ts
  backend/src/modules/cards/applications/update/update-card-position.use-case.ts
  backend/src/modules/cards/applications/update/update-card-text.use-case.spec.ts
  backend/src/modules/cards/applications/update/update-card-text.use-case.ts
  backend/src/modules/cards/cards.module.ts
  backend/src/modules/cards/cards.providers.ts
  backend/src/modules/cards/constants.ts
  backend/src/modules/cards/controller/cards.controller.ts
  backend/src/modules/cards/interfaces/types.ts
  backend/src/modules/cards/services/get.card.service.spec.ts
  backend/src/modules/cards/services/get.card.service.ts
  backend/src/modules/votes/services/delete.vote.service.spec.ts
  backend/src/modules/votes/services/delete.vote.service.ts
Labels: backend

#1435 refactor: change types for constants
  backend/src/modules/boards/services/create.board.service.spec.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/delete.board.service.spec.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/schedules/constants.ts
  backend/src/modules/schedules/interfaces/types.ts
  backend/src/modules/schedules/schedules.providers.ts
  backend/src/modules/schedules/services/create.schedules.service.ts
  backend/src/modules/schedules/services/delete.schedules.service.ts
Labels: backend

#1437 refactor: change types for constants (socket)
  backend/src/modules/socket/constants.ts
  backend/src/modules/socket/interfaces/types.ts
  backend/src/modules/socket/socket.module.ts
  backend/src/modules/socket/socket.providers.ts
Labels: backend

#1438 refactor: change type for constants on storage
  backend/src/modules/azure/applications/register-or-login.azure.use-case.ts
  backend/src/modules/storage/constants.ts
  backend/src/modules/storage/enum.ts
  backend/src/modules/storage/interfaces/types.ts
  backend/src/modules/storage/services/storage.service.ts
  backend/src/modules/storage/storage.providers.ts
Labels: backend

#1442 fix: removed deleted import
  frontend/.storybook/preview.js
Labels: bug, frontend

#1440 refactor: change types for constants on communication module
  backend/src/modules/boards/applications/merge-board.use-case.spec.ts
  backend/src/modules/boards/applications/merge-board.use-case.ts
  backend/src/modules/boards/applications/update-board-phase.use-case.spec.ts
  backend/src/modules/boards/applications/update-board-phase.use-case.ts
  backend/src/modules/boards/applications/update-board.use-case.spec.ts
  backend/src/modules/boards/applications/update-board.use-case.ts
  backend/src/modules/boards/services/create.board.service.spec.ts
  backend/src/modules/boards/services/create.board.service.ts
  backend/src/modules/boards/services/delete.board.service.spec.ts
  backend/src/modules/boards/services/delete.board.service.ts
  backend/src/modules/communication/communication.providers.ts
  backend/src/modules/communication/constants.ts
  backend/src/modules/communication/consumers/slack-add-user-channel.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-add-user-channel.consumer.ts
  backend/src/modules/communication/consumers/slack-archive-channel.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-archive-channel.consumer.ts
  backend/src/modules/communication/consumers/slack-communication.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-communication.consumer.ts
  backend/src/modules/communication/consumers/slack-merge-board.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-merge-board.consumer.ts
  backend/src/modules/communication/consumers/slack-responsible.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-responsible.consumer.ts
  backend/src/modules/communication/consumers/slack-send-message.consumer.spec.ts
  backend/src/modules/communication/consumers/slack-send-message.consumer.ts
  backend/src/modules/communication/interfaces/types.ts
  backend/src/modules/communication/services/slack-send-messages.service.spec.ts
  backend/src/modules/schedules/services/create.schedules.service.ts
Labels: backend

#1434 refactor: change users module types for constants
  backend/src/modules/auth/applications/register-guest-user.use-case.ts
  backend/src/modules/auth/applications/register-user.use-case.ts
  backend/src/modules/auth/applications/reset-password.use-case.ts
  backend/src/modules/auth/applications/statistics.auth.use-case.ts
  backend/src/modules/auth/applications/validate-user-email.use-case.ts
  backend/src/modules/auth/services/get-token.auth.service.ts
  backend/src/modules/auth/services/validate-user.auth.service.spec.ts
  backend/src/modules/auth/services/validate-user.auth.service.ts
  backend/src/modules/azure/applications/check-user.azure.use-case.ts
  backend/src/modules/azure/applications/register-or-login.azure.use-case.ts
  backend/src/modules/azure/controller/azure.controller.spec.ts
  backend/src/modules/boards/applications/duplicate-board.use-case.spec.ts
  backend/src/modules/boards/applications/duplicate-board.use-case.ts
  backend/src/modules/boards/applications/get-board.use-case.spec.ts
  backend/src/modules/boards/applications/get-board.use-case.ts
  backend/src/modules/columns/applications/delete-cards-from-column.use-case.spec.ts
  backend/src/modules/users/applications/delete-user.use-case.spec.ts
  backend/src/modules/users/applications/delete-user.use-case.ts
  backend/src/modules/users/applications/get-all-users-with-teams.use-case.spec.ts
  backend/src/modules/users/applications/get-all-users-with-teams.use-case.ts
  backend/src/modules/users/applications/get-all-users.use-case.spec.ts
  backend/src/modules/users/applications/get-all-users.use-case.ts
  backend/src/modules/users/applications/get-user.use-case.spec.ts
  backend/src/modules/users/applications/get-user.use-case.ts
  backend/src/modules/users/applications/update-sadmin.use-case.spec.ts
  backend/src/modules/users/applications/update-sadmin.use-case.ts
  backend/src/modules/users/constants.ts
  backend/src/modules/users/controller/users.controller.ts
  backend/src/modules/users/interfaces/types.ts
  backend/src/modules/users/services/create.user.service.spec.ts
  backend/src/modules/users/services/create.user.service.ts
  backend/src/modules/users/services/get.user.service.spec.ts
  backend/src/modules/users/services/get.user.service.ts
  backend/src/modules/users/services/update.user.service.spec.ts
  backend/src/modules/users/services/update.user.service.ts
  backend/src/modules/users/users.providers.ts
Labels: backend

#1439 feat: add board list responsiveness
  frontend/src/components/Boards/MyBoards/ListBoards/index.tsx
  frontend/src/components/Boards/TeamHeader.tsx
  frontend/src/components/CardBoard/CardBody/CardBody.tsx
  frontend/src/components/layouts/Layout/MainPageHeader/MainPageHeader.tsx
Labels: enhancement, frontend

#1444 refactor: change auth module types for constants
  backend/src/modules/auth/applications/create-reset-password-token.use-case.ts
  backend/src/modules/auth/applications/refresh-token.use-case.ts
  backend/src/modules/auth/applications/register-guest-user.use-case.ts
  backend/src/modules/auth/applications/register-user.use-case.ts
  backend/src/modules/auth/applications/signIn.use-case.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.providers.ts
  backend/src/modules/auth/constants.ts
  backend/src/modules/auth/controller/auth.controller.spec.ts
  backend/src/modules/auth/controller/auth.controller.ts
  backend/src/modules/auth/interfaces/services/validate-user.auth.service.interface.ts
  backend/src/modules/auth/interfaces/types.ts
  backend/src/modules/auth/repository/reset-password.repository.interface.ts
  backend/src/modules/auth/repository/reset-password.repository.ts
  backend/src/modules/auth/services/get-token.auth.service.spec.ts
  backend/src/modules/auth/services/validate-user.auth.service.spec.ts
  backend/src/modules/auth/services/validate-user.auth.service.ts
  backend/src/modules/auth/strategy/jwt.strategy.ts
  backend/src/modules/auth/strategy/local.strategy.ts
  backend/src/modules/auth/strategy/refresh.strategy.ts
  backend/src/modules/azure/applications/register-or-login.azure.use-case.ts
  backend/src/modules/boards/applications/get-board.use-case.spec.ts
  backend/src/modules/boards/applications/get-board.use-case.ts
  backend/src/modules/communication/consumers/slack-communication.consumer.ts
  backend/src/modules/socket/subscribers/after-server-paused-timer.subscriber.ts
  backend/src/modules/socket/subscribers/after-server-sent-timer-state.subscriber.ts
  backend/src/modules/socket/subscribers/after-server-started-timer.subscriber.ts
  backend/src/modules/socket/subscribers/after-server-stopped-timer.subscriber.ts
  backend/src/modules/socket/subscribers/after-server-updated-phase.subscriber.ts
  backend/src/modules/socket/subscribers/after-server-updated-time-left.subscriber.ts
  backend/src/modules/socket/subscribers/after-server-updated-timer-duration.subscriber.ts
  backend/src/modules/teamUsers/controller/teamUser.controller.ts
  backend/src/modules/users/services/update.user.service.spec.ts
  backend/src/modules/users/services/update.user.service.ts
Labels: backend
